﻿@using wbEcsc.App_Codes.BLL.Master;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/AppJs/autoAjaxLoader.js"></script>
<script src="~/Scripts/randomColor.js"></script>
<script src="~/Scripts/AppJs/MonthlyAttendence.js"></script>

<style>
    a:link {
        text-decoration: none;
    }

    a:visited {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    a:active {
        text-decoration: underline;
        color: red;
    }

    .roundbox {
        -moz-border-radius: 6px 6px 6px 6px !important;
        -webkit-border-radius: 6px !important;
        border-radius: 6px 6px 6px 6px !important;
    }

    .ui-accordion-header {
        border-radius: 0px !important;
    }
    .ui-state-default {
        background: none !important;
        /*color:mintcream;*/
    }

    


</style>

<label id="lblLogo" hidden="hidden">@ViewBag.Logo</label>
<label id="lblHeader" hidden="hidden">@ViewBag.Header</label>
<label id="lbladdress" hidden="hidden">@ViewBag.address</label>


<div class="container">
    <div class="panel panel-info" >
        <div class="panel-heading">
            <label> Monthly Attendence</label>
        </div>

        <input id="SanctionErrorCode" hidden="hidden"/>
        <input id="SanctionReturnCode" hidden="hidden" />
        <input id="Sanction_LastSanc" hidden="hidden" />
        <input id="Sanction_LUser" hidden="hidden" />
        <input id="Sanction_Messege" hidden="hidden" />
        <input id="SanctionSalMonthID" hidden="hidden" />
        <input id="ReGenerate" hidden="hidden" />
        <input id="ReGenerateSalMonID" hidden="hidden" />

        <div class="panel-body">
            <div class="row">
                <div class="col-md-3" >
                    <label id="5" class="control-label" style="font-style:italic; font-weight:bold">Year</label><span id="spn5" style="color:red"></span>
                    <select id="ddlYear" class="form-control">
                        @foreach (var Year in new MonthlyAttendenceBAL().Get_Year("SELECTYEAR"))
                        {
                            <option value="@Year.CurrYr">@Year.CurrYr</option>
                        }
                    </select>
                </div>
                
            </div>
            <div class="row">
                <div id="accordion-container">
                    <div id="accordion">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="divEmployee" role="dialog" style="height:100%" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog " style="width:40%;">

        <!-- Modal content-->
        <div class="modal-content roundbox" style="background: rgba(221, 232, 247, 0.9) !important">
            <div class="modal-header roundbox">
                <label id="lblEmpName"></label>
                <label id="lblEmpID" hidden="hidden"></label>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="width:100%; height:400px">
                <div class="row">
                    <div class="form-group" id="divtblEmpName">
                        <table id="tblEmpName" class="Grid" style="border-collapse:collapse; width:100%" border="1" cellpadding="0" cellspacing="0">
                            <thead>
                                <tr style="border: 1px solid #333">
                                    <th style="border: 1px solid; text-align:center;">Leave Type</th>
                                    <th style="border: 1px solid; text-align:center;">Opening</th>
                                    <th style="border: 1px solid; text-align:center;">Taken</th>
                                    <th style="border: 1px solid; text-align:center;">Closing</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="PrintEmp" type="button" class="btn btn-warning" data-dismiss="modal">Print</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="divEmpDetails" role="dialog" style="height:100%" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:40%;">

        <!-- Modal content-->
        <div class="modal-content roundbox" style="background: rgba(228, 236, 204, 0.9) !important">
            <div class="modal-header roundbox">
                Leave Taken Details for -
                <label id="lblEmpDetailsEmpName"></label>
                <label id="lblEmpDetailsEmpID" hidden="hidden"></label>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="width:100%; height:400px">
                <div class="row">
                    <div class="form-group" id="divtblEmpDetails">
                        <table id="tblEmpDetails" class="Grid" style="border-collapse:collapse; width:100%" border="1" cellpadding="0" cellspacing="0">
                            <thead>
                                <tr style="border: 1px solid #333">
                                    <th style="border: 1px solid; text-align:center;">Leave Type</th>
                                    <th style="border: 1px solid; text-align:center;">Leave Date</th>
                                    <th style="border: 1px solid; text-align:center;">No. of Days</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="PrintEmpDetails" type="button" class="btn btn-warning" data-dismiss="modal">Print</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="divLeave" role="dialog" style="height:100%" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:40%;">

        <!-- Modal content-->
        <div class="modal-content roundbox" style="background: rgba(221, 232, 247, 0.9) !important">
            <div class="modal-header roundbox">
                Leave Details for -
                <label id="lblLvEmpName"></label>
                <label id="lblLvEmpID" hidden="hidden"></label>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="width:100%; height:400px">
                <div class="row">
                    <div class="container">
                        <input type="checkbox" id="chkAllLeave" /><span style="font-weight:bold"> All Leave</span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group" id="divtblLeave">
                        <table id="tblLeave" class="Grid" style="border-collapse:collapse; width:100%" border="1" cellpadding="0" cellspacing="0">
                            <thead>
                                <tr style="border: 1px solid #333">
                                    <th style="border: 1px solid; text-align:center;">Leave Type</th>
                                    <th style="border: 1px solid; text-align:center;">No. of Days</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="PrintLeave" type="button" class="btn btn-warning" data-dismiss="modal">Print</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="divLeaveDetails" role="dialog" style="height:100%" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:40%;">

        <!-- Modal content-->
        <div class="modal-content roundbox" style="background: rgba(228, 236, 204, 0.9) !important">
            <div class="modal-header roundbox">
                Leave Type Details for -
                <label id="lblLvDetailsEmpName"></label>
                <label id="lblLvDetailsEmpID" hidden="hidden"></label>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="width:100%; height:400px">
                <div class="row">
                    <div class="form-group" id="divtblLeaveDetails">
                        <table id="tblLeaveDetails" class="Grid" style="border-collapse:collapse; width:100%" border="1" cellpadding="0" cellspacing="0">
                            <thead>
                                <tr style="border: 1px solid #333">
                                    <th style="border: 1px solid; text-align:center;">Leave Type</th>
                                    <th style="border: 1px solid; text-align:center;">Leave Date</th>
                                    <th style="border: 1px solid; text-align:center;">No. of Days</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="PrintLvDetails" type="button" class="btn btn-warning" data-dismiss="modal">Print</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="divHoliday" role="dialog" style="height:100%" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:40%;">

        <!-- Modal content-->
        <div class="modal-content roundbox" style="background: rgba(228, 236, 204, 0.9) !important">
            <div class="modal-header roundbox">
                Holiday Details for -
                <label id="lblHolidayDetailsEmpName"></label>
                <label id="lblHolidayDetailsEmpID" hidden="hidden"></label>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="width:100%; height:400px">
                <div class="row">
                    <div class="form-group" id="divtblHolidayDetails">
                        <table id="tblHolidayDetails" class="Grid" style="border-collapse:collapse; width:100%" border="1" cellpadding="0" cellspacing="0">
                            <thead>
                                <tr style="border: 1px solid #333">
                                    <th style="border: 1px solid; text-align:center;">Holiday Date</th>
                                    <th style="border: 1px solid; text-align:center;">Holiday Description</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="PrintHolidayDetails" type="button" class="btn btn-warning" data-dismiss="modal">Print</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="divTourDetails" role="dialog" style="height:100%" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:40%;">

        <!-- Modal content-->
        <div class="modal-content roundbox">
            <div class="modal-header roundbox">
                Tour Details for -
                <label id="lblTourDetailsEmpName"></label>
                <label id="lblTourDetailsEmpID" hidden="hidden"></label>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="width:100%; height:400px">
                <div class="row">
                    <div class="form-group" id="divtblTourDetails">
                        <table id="tblTourDetails" class="Grid" style="border-collapse:collapse; width:100%" border="1" cellpadding="0" cellspacing="0">
                            <thead>
                                <tr style="border: 1px solid #333">
                                    <th style="border: 1px solid; text-align:center;">Leave Type</th>
                                    <th style="border: 1px solid; text-align:center;">Leave Date</th>
                                    <th style="border: 1px solid; text-align:center;">No. of Days</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="PrintTour" type="button" class="btn btn-warning" data-dismiss="modal">Print</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="divLWPDetails" role="dialog" style="height:100%" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:40%;">

        <!-- Modal content-->
        <div class="modal-content roundbox">
            <div class="modal-header roundbox">
                LWP Details for -
                <label id="lblLWPDetailsEmpName"></label>
                <label id="lblLWPDetailsEmpID" hidden="hidden"></label>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="width:100%; height:400px">
                <div class="row">
                    <div class="form-group" id="divtblLWPDetails">
                        <table id="tblLWPDetails" class="Grid" style="border-collapse:collapse; width:100%" border="1" cellpadding="0" cellspacing="0">
                            <thead>
                                <tr style="border: 1px solid #333">
                                    <th style="border: 1px solid; text-align:center;">Leave Type</th>
                                    <th style="border: 1px solid; text-align:center;">Leave Date</th>
                                    <th style="border: 1px solid; text-align:center;">No. of Days</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="PrintLWP" type="button" class="btn btn-warning" data-dismiss="modal">Print</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="divLateDetails" role="dialog" style="height:100%" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:40%;">

        <!-- Modal content-->
        <div class="modal-content roundbox">
            <div class="modal-header roundbox">
                Late Details for -
                <label id="lblLateDetailsEmpName"></label>
                <label id="lblLateDetailsEmpID" hidden="hidden"></label>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="width:100%; height:400px">
                <div class="row">
                    <div class="form-group" id="divtblLateDetails">
                        <table id="tblLateDetails" class="Grid" style="border-collapse:collapse; width:100%" border="1" cellpadding="0" cellspacing="0">
                            <thead>
                                <tr style="border: 1px solid #333">
                                    <th style="border: 1px solid; text-align:center;">Leave Type</th>
                                    <th style="border: 1px solid; text-align:center;">Leave Date</th>
                                    <th style="border: 1px solid; text-align:center;">No. of Days</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="PrintLate" type="button" class="btn btn-warning" data-dismiss="modal">Print</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="divChange" role="dialog" style="height:100%" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:40%;">

        <!-- Modal content-->
        <div class="modal-content roundbox">
            <div class="modal-header roundbox">
                Change Value
                <label id="lblEmployeeID" hidden="hidden"></label>
                <label id="lblSalMonthID" hidden="hidden"></label>
                <label id="lblAttDays" hidden="hidden"></label>
                <label id="lblActHoliday" hidden="hidden"></label>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="width:100%; height:100px">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-6">
                            <label id="lblChangeValue" class="control-label" style="font-style:italic; font-weight:bold"></label>
                            <input id="txtChangeValue" class="form-control" onkeydown="return !((event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 ) && event.keyCode!=8 && event.keyCode!=46);" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="ChangeValue" type="button" class="btn btn-warning" data-dismiss="modal">Change</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="divChangeOff" role="dialog" style="height:100%" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:40%;">

        <!-- Modal content-->
        <div class="modal-content roundbox">
            <div class="modal-header roundbox">
                Change Value
                <label id="lblEmployeeIDOff" hidden="hidden"></label>
                <label id="lblSalMonthIDOff" hidden="hidden"></label>
                <label id="lblAttDaysOff" hidden="hidden"></label>
                <label id="lblOffDays" hidden="hidden"></label>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="width:100%; height:100px">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-6">
                            <label id="lblChangeValueOff" class="control-label" style="font-style:italic; font-weight:bold"></label>
                            <input id="txtChangeValueOff" class="form-control" onkeydown="return !((event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 ) && event.keyCode!=8 && event.keyCode!=46);" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="ChangeValueOff" type="button" class="btn btn-warning" data-dismiss="modal">Change</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="divView" role="dialog" style="height:100%" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:50%;">

        <!-- Modal content-->
        <div class="modal-content roundbox">
            <div class="modal-header roundbox">
                View Sanction Details
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="width:100%; height:300px">
                <div class="row">
                    <div class="form-group">
                        <table id="tblView" class="Grid roundbox" style="border-collapse:collapse; width:100%">
                            <thead>
                                <tr style="border: 1px solid #333">
                                    <th style="border: 1px solid; text-align:center;">User Name</th>
                                    <th style="border: 1px solid; text-align:center;">Sanction On</th>
                                    <th style="border: 1px solid; text-align:center;">Return On</th>
                                    <th style="border: 1px solid; text-align:center;">Return By</th>
                                    <th style="border: 1px solid; text-align:center;">Level Remarks</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>



