﻿

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/Scripts/AppJs/SalaryGeneration.js"></script>


<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <label> Salary Generation</label>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-3">
                        <label for="firstName" class="control-label">Salary Month</label><span style="color:red">&nbsp;*</span>
                        <input type="text" id="txtSalMonth" disabled placeholder="Sal Month" value="@ViewBag.MaxSalMonth" class="form-control">
                        <input type="hidden" id="txtSalMonthID" disabled  value="@ViewBag.MaxSalMonthID" class="form-control">
                    </div>
                    <div class="col-md-6" style="margin-top:24px; text-align:right">
                        <button type="button" id="btnSalGen" class="btn btn-primary">Salary Generate</button>
                        <button type="button" id="btnRefresh" class="btn btn-primary">Refresh</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



