﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/AppJs/PTaxMaster.js"></script>

<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <label> PTax Master</label>
        </div>
        <input type="hidden" id="hdnPTaxID" />
        <div class="panel-body">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-3">
                        <label id="1" class="control-label" style="font-style:italic">Salary From</label><span id="spn1" style="color:red"></span>
                        <input type="text" id="txtSalaryFrom" class="form-control" onkeydown = "return !((event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 ) && event.keyCode!=8 && event.keyCode!=46);">
                    </div>
                    <div class="col-md-3">
                        <label id="2" class="control-label" style="font-style:italic">Salary To</label><span id="spn2" style="color:red"></span>
                        <input type="text" id="txtSalaryTo" class="form-control" onkeydown = "return !((event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 ) && event.keyCode!=8 && event.keyCode!=46);">
                    </div>
                    <div class="col-md-3">
                        <label id="3" class="control-label" style="font-style:italic">PTax</label><span id="spn3" style="color:red"></span>
                        <input type="text" id="txtPTax" class="form-control" onkeydown = "return !((event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 ) && event.keyCode!=8 && event.keyCode!=46);">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="padding-top:25px; text-align:right">
                    <button type="button" id="btnSave" class="btn btn-primary">Save</button>
                    <button type="button" id="btnRefresh" class="btn btn-primary">Refresh</button>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <table id="tbl" class="Grid" style="border-collapse:collapse; width:100%">
                        <thead>
                            <tr style="border: 1px solid #333">
                                <th style="border: 1px solid; text-align:center;">Salary From</th>
                                <th style="border: 1px solid; text-align:center;">Salary To</th>
                                <th style="border: 1px solid; text-align:center;">PTax</th>
                                <th style="border: 1px solid; text-align:center;">Edit</th>
                                <th style="border: 1px solid; text-align:center;">Delete</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

