﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/AppJs/HRAMaster.js"></script>

<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <label> HRA Master</label>
        </div>
        <input type="hidden" id="hdnHRAID" />
        <div class="panel-body">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-3">
                        <label id="1" class="control-label" style="font-style:italic">Employee Type</label><span id="spn1" style="color:red"></span>
                        <select id="ddlEmpType" class="form-control">
                            <option value="">--- (Select) ---</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label id="2" class="control-label" style="font-style:italic">HRA</label><span id="spn2" style="color:red"></span>
                        <input type="text" id="txtHRA" class="form-control" onkeydown = "return !((event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 ) && event.keyCode!=8 && event.keyCode!=46);">
                    </div>
                    <div class="col-md-3">
                        <label id="3" class="control-label" style="font-style:italic">Maximum Amount</label><span id="spn3" style="color:red"></span>
                        <input type="text" id="txtMaxAmt" class="form-control" maxlength="8" value="10000000" onkeydown = "return !((event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 ) && event.keyCode!=8 && event.keyCode!=46);">
                    </div>
                    <div class="col-md-3">
                        <label id="4" class="control-label" style="font-style:italic">Effective From</label><span id="spn4" style="color:red"></span>
                        <input type="text" id="txtEffectFrom" class="form-control" placeholder="dd/MM/yyyy">
                    </div>
                    <div id="divEffectiveTo" class="col-md-3" style="display:none">
                        <label id="5" class="control-label" style="font-style:italic;">Effective To</label><span id="spn5" style="color:red"></span>
                        <input type="text" id="txtEffectTo" class="form-control" placeholder="dd/MM/yyyy">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="padding-top:25px; text-align:right">
                    <button type="button" id="btnSave" class="btn btn-primary">Save</button>
                    <button type="button" id="btnRefresh" class="btn btn-primary">Refresh</button>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <table id="tbl" class="Grid" style="border-collapse:collapse; width:100%">
                        <thead>
                            <tr style="border: 1px solid #333">
                                <th style="border: 1px solid; text-align:center;">Employee Type</th>
                                <th style="border: 1px solid; text-align:center;">HRA</th>
                                <th style="border: 1px solid; text-align:center;">Maximum Amount</th>
                                <th style="border: 1px solid; text-align:center;">Effective From</th>
                                <th style="border: 1px solid; text-align:center;">Effective To</th>
                                <th style="border: 1px solid; text-align:center;">Edit</th>
                                <th style="border: 1px solid; text-align:center;">Delete</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>