﻿@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/PageStyle.css" rel="stylesheet" />
<script src="~/Scripts/AppJs/LoanMaster.js"></script>

<div class="panel panel-default" style="width: 100%; padding: 5px; margin: 5px">
    <div class="panel-body">
        <div class="row">
            <div class="form-group">
                <div class="container main-wrap">
                    <div class="row">
                        <div class="col-8888 bg">
                            <div class="loader" id="loader-3"></div>
                        </div>
                    </div>
                </div>
                <fieldset>
                    <legend align="center" style="background-color:#cbe9ff; font-style:italic; font-size:15px">Search :</legend>
                    <div class="col-md-12">
                        <label id="22" class="control-label" style="font-style:italic">Search by Employee Name ( EmpName(EmpNo) - Loan Amount - Loan Sanction Date)</label><span id="spn22" style="color:red"></span>
                        <input type="text" id="txtSearchEmpNo" placeholder="EmpName" class="form-control">
                        <input type="hidden" id="hdnEmployeeNo" value="" />
                        <input type="hidden" id="hdnLoanID" value="0" />
                    </div>
                </fieldset>


                <fieldset style="margin-top:10px">
                    <legend align="center" style="background-color:#cbe9ff; font-style:italic; font-size:15px">Loan Description :</legend>
                    <div class="col-md-3">
                        <label id="1" class="control-label" style="font-style:italic"></label><span id="spn1" style="color:red"></span>
                        <select type="text" id="ddlLoanType" class="form-control">
                            <option value="">--- (Select) ---</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label id="2" class="control-label" style="font-style:italic"></label><span id="spn2" style="color:red"></span>
                        <select id="ddlLoanDesc" class="form-control">
                            <option value="">--- (Select) ---</option>

                        </select>
                        <hidden id="hdnIsRound"></hidden>
                    </div>
                    <div class="col-md-3">
                        <label id="3" class="control-label" style="font-style:italic"></label><span id="spn3" style="color:red"></span>
                        <input type="text" id="txtSearchEmpName" placeholder="Employee Name" class="form-control">
                        <input type="hidden" id="hdnEmpNo" value="" />
                    </div>
                    <div class="col-md-3" style="margin-top:20px">
                        <label id="25" class="control-label" style="background-color:red;color:white;font-style:italic"></label><span id="spn25" style="color:red"></span>
                        <input type="checkbox" id="chkCloseInd" disabled><span style="background-color:yellow">Check if Yes</span>
                    </div>

                </fieldset>
                <fieldset>
                    <div class="col-md-3">
                        <label id="4" class="control-label" style="font-style:italic">Loan Amount</label><span id="spn4" style="color:red"></span>
                        <input type="text" id="txtLoanAmt" value="0" class="form-control">
                    </div>
                    <div class="col-md-3">
                        <label id="5" class="control-label" style="font-style:italic">Loan Deduction Start</label><span id="spn5" style="color:red"></span>
                        <input type="text" id="txtLoanDeducStrt" class="form-control" placeholder="dd/MM/yyyy">
                    </div>
                    <div class="col-md-2">
                        <label id="6" class="control-label" style="font-style:italic">Total Loan Install</label><span id="spn6" style="color:red"></span>
                        <input type="text" id="txtTotLoanInstl" data-toggle="tooltip" title="Press Enter or Tab after insert this field" class="form-control" onkeydown="return !((event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 ) && event.keyCode!=8 && event.keyCode!=46);">
                    </div>
                    <div class="col-md-1" style="margin-top:25px">
                        <label id="lblLeftLoanInstall" style="color:red"></label>
                    </div>
                    <div class="col-md-3">
                        <label id="7" class="control-label" style="font-style:italic">Current Loan Install</label><span id="spn7" style="color:red"></span>
                        <input type="text" id="txtCurLoanInst" class="form-control" value="0" onkeydown="return !((event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 ) && event.keyCode!=8 && event.keyCode!=46);">
                    </div>
                </fieldset>
                <fieldset>
                    <div class="col-md-3">
                        <label id="8" class="control-label" style="font-style:italic">Loan Amount Paid</label><span id="spn8" style="color:red"></span>
                        <input type="text" id="txtLoanAmtPaid" class="form-control" value="0" onkeydown="return !((event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 ) && event.keyCode!=8 && event.keyCode!=46);">
                    </div>
                    <div class="col-md-3">
                        <label id="9" class="control-label" style="font-style:italic">Adjustment Date</label><span id="spn9" style="color:red"></span>
                        <input type="text" id="txtAdjDate" class="form-control" placeholder="dd/MM/yyyy">
                    </div>
                    <div class="col-md-3">
                        <label id="10" class="control-label" style="font-style:italic">Adjustment Amount</label><span id="spn10" style="color:red"></span>
                        <input type="text" id="txtAdjAmt" value="0" class="form-control" onkeydown="return !((event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 ) && event.keyCode!=8 && event.keyCode!=46);">
                    </div>
                    <div class="col-md-3">
                        <label id="11" class="control-label" style="font-style:italic">Loan Sanction Date</label><span id="spn11" style="color:red"></span>
                        <input type="text" id="txtLoanSancDate" class="form-control" placeholder="dd/MM/yyyy">
                    </div>
                    <div class="col-md-3">
                        <label id="12" class="control-label" style="font-style:italic">Reference No.</label><span id="spn12" style="color:red"></span>
                        <input type="text" id="txtRefNo" class="form-control">
                    </div>
                    <div class="col-md-3">
                        <label id="13" class="control-label" style="font-style:italic">Reference Date</label><span id="spn13" style="color:red"></span>
                        <input type="text" id="txtRefDate" class="form-control" placeholder="dd/MM/yyyy">
                    </div>
                    <div class="col-md-3">
                        <label id="14" class="control-label" style="font-style:italic">Disburse Amount</label><span id="spn14" style="color:red"></span>
                        <input type="text" id="txtDisbAmt" data-toggle="tooltip" title="Press Enter or Tab after insert this field" value="0" class="form-control" onkeydown="return !((event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 ) && event.keyCode!=8 && event.keyCode!=46);">
                    </div>
                    <div class="col-md-3">
                        <label id="15" class="control-label" style="font-style:italic">Sanction Order No</label><span id="spn15" style="color:red"></span>
                        <input type="text" id="txtSancOrderNo" class="form-control">
                    </div>
                </fieldset>
                <div class="row">
                    <div class="col-md-4">
                        <fieldset style="margin-top:10px">
                            <legend align="center" style="background-color:#cbe9ff; font-style:italic; font-size:15px">First Installment Slab :</legend>
                            <div class="col-md-12">
                                <label id="16" class="control-label" style="font-style:italic">Installment No.</label><span id="spn16" style="color:red"></span>
                                <input type="text" id="txtInstNo1" class="form-control" value="0" onkeydown="return !((event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 ) && event.keyCode!=8 && event.keyCode!=46);">
                            </div>

                        </fieldset>
                        <div class="col-md-12">
                            <label id="17" class="control-label" style="font-style:italic">Installment Amount</label><span id="spn17" style="color:red"></span>
                            <input type="text" id="txtInstAmt1" class="form-control" value="0">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <fieldset style="margin-top:10px">
                            <legend align="center" style="background-color:#cbe9ff; font-style:italic; font-size:15px">Second Installment Slab :</legend>
                            <div class="col-md-12">
                                <label id="18" class="control-label" style="font-style:italic">Installment No.</label><span id="spn18" style="color:red"></span>
                                <input type="text" id="txtInstNo2" class="form-control" value="0" onkeydown="return !((event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 ) && event.keyCode!=8 && event.keyCode!=46);">
                            </div>

                        </fieldset>
                        <div class="col-md-12">
                            <label id="19" class="control-label" style="font-style:italic">Installment Amount</label><span id="spn19" style="color:red"></span>
                            <input type="text" id="txtInstAmt2" class="form-control" value="0">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <fieldset style="margin-top:10px">
                            <legend align="center" style="background-color:#cbe9ff; font-style:italic; font-size:15px">Third Installment Slab :</legend>
                            <div class="col-md-12">
                                <label id="20" class="control-label" style="font-style:italic">Installment No.</label><span id="spn20" style="color:red"></span>
                                <input type="text" id="txtInstNo3" class="form-control" value="0" onkeydown="return !((event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 ) && event.keyCode!=8 && event.keyCode!=46);">
                            </div>

                        </fieldset>
                        <div class="col-md-12">
                            <label id="21" class="control-label" style="font-style:italic">Installment Amount</label><span id="spn21" style="color:red"></span>
                            <input type="text" id="txtInstAmt3" class="form-control" value="0">
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="padding-top:25px; text-align:right">
                                <button type="button" id="btnSave" class="btn btn-primary">Save</button>
                                <button type="button" id="btnRefresh" class="btn btn-primary">Refresh</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

<div class="modal fade" id="Div1" role="dialog" style="height:100%">
    <div class="modal-dialog" style="width:70%;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="width:100%; height:500px">
                <table id="tbl" class="Grid" style="border-collapse:collapse; width:100%">
                    <thead>
                        <tr style="border: 1px solid #333">
                            <th style="border: 1px solid; text-align:center;">Loan Description</th>
                            <th style="border: 1px solid; text-align:center;">Employee Name</th>
                            <th style="border: 1px solid; text-align:center;">Loan Amount</th>
                            <th style="border: 1px solid; text-align:center;">Loan Deduction Start Date</th>
                            <th style="border: 1px solid; text-align:center;">Total Loan Install</th>
                            <th style="border: 1px solid; text-align:center;">Current Loan Install</th>
                            <th style="border: 1px solid; text-align:center;">Loan Amount Paid</th>
                            <th style="border: 1px solid; text-align:center;">Installment1</th>
                            <th style="border: 1px solid; text-align:center;">Installment2</th>
                            <th style="border: 1px solid; text-align:center;">Installment3</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Div2" role="dialog" style="height:100%">
    <div class="modal-dialog" style="width:70%;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="width:100%; height:200px">
                <label class="control-label" style="font-style:italic">Remarks</label>
                <input type="text" id="txtRemarks" class="form-control">
                <div class="row">
                    <div class="col-md-12" style="padding-top:25px; text-align:right">
                        <button type="button" id="btnRemarksSave" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
