﻿@model wbEcsc.ViewModels.BankViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/AppJs/Bank.js"></script>

<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <label> Bank Master</label>
        </div>
        
        @if (TempData["Massage"] != null)
        {
            <script type="text/javascript">                
                window.onload = function () {
                alert('@TempData["Massage"]');
                };
            </script>
         //  TempData["Massage"] = null;
        }       

        @foreach (var field in Model.FieldList)
        {
            if (1 == field.FieldID)
            {
                ViewBag.BankName = field.FieldName;
                ViewBag.Mand = field.IsMand.Equals(1) ? "*" : " ";
            }

            if (2 == field.FieldID)
            {
                ViewBag.SaveButton = field.FieldName;
            }
            if (3 == field.FieldID)
            {
                ViewBag.UpdateField = field.FieldName;
            }
            if (5 == field.FieldID)
            {
                ViewBag.UpdateButton = field.FieldName;
            }
        }
        <div class="panel-body">
            @using (Html.BeginForm("Edit", "Bank", FormMethod.Post))
            {               
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-lg-offset-4  col-sm-offset-4  col-md-offset-4">
                            <div class="form-group">
                               
                                    <label id="1">@ViewBag.BankName</label>                                   
                                        <span id="mand" style="color:red;">@ViewBag.Mand</span>                                    
                                    <input type="text" name="BankName" onkeyup="myFunction()" onblur="myFunction()" value="@Model.SelectedBank.BankName" id="txtBankName" placeholder="Write Bank Name" class="form-control" />
                                    <input type="hidden" name="BankID" id="hdnBankID" value="@Model.SelectedBank.BankID" />   
                                 
                            </div>
                            <div class="form-group">
                                @if (@Model.SelectedBank.BankID==null)
                                {
                                    <input type="submit" value="@ViewBag.SaveButton" name="btnButton" id="2" class="btn btn-info" />
                                }
                                else
                                {
                                    <input type="submit" value="@ViewBag.UpdateButton" name="btnButton" id="2" class="btn btn-info" />
                                }
                                <input type="reset" value="Refresh" name="btnButton" id="btnRefresh" class="btn btn-info" />
                            </div>
                        </div>
                    </div>
                  
            }

            <div class="row centered">
                <div class="container-fluid">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="row text-center">
                                @*<div class="col-lg-1 col-md-1 col-sm-1 col-xm-1">Bank ID</div>*@
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xm-1">Serial No</div>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xm-8">Bank Name</div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xm-2">Update</div>
                                @*<div class="col-lg-1 col-md-1 col-sm-1 col-xm-1">Cancel</div>*@
                            </div>
                        </div>
                        <div class="panel-body" id="myTable" style="max-height:400px;overflow-y:scroll;">
                            @foreach (var bnk_lst in Model.BankList)
                            {
                                var index = Model.BankList.IndexOf(bnk_lst) + 1;
                                <div class="row border-top clsrow">
                                    @*<div class="col-lg-1 col-sm-1 col-md-1 col-xs-1">@bnk_lst.BankID</div>*@
                                    <div class="col-lg-1 col-sm-1 col-md-1 col-xs-1">@index</div>
                                    <div class="col-lg-8 col-sm-8 col-md-8 col-xs-8 clsbankname">@bnk_lst.BankName</div>
                                    <div class="col-lg-2 col-sm-2 col-md-2 col-xs-2 text-success text-center">@Html.ActionLink((string)ViewBag.UpdateField, "Index", "Bank", new { id = @bnk_lst.BankID }, null)</div>
                                    @*<div class="col-lg-1 col-sm-1 col-md-1 col-xs-1 text-warning">@Html.ActionLink("Cancel", "Delete", "Bank", new {id = @bnk_lst.BankID }, null)</div>*@
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
