﻿@model wbEcsc.ViewModels.BankBranchViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="~/Scripts/AppJs/BankBranch.js"></script>

<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <label> Branch Master</label>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="form-group">
                        <label id="1"></label>
                        <span style="color:red;" id="10"></span>
                        <input type="text" name="BankName" id="txtBankName" onkeyup="SearchTable()" onblur="SearchTable()" placeholder="Type a Bank Name" class="form-control" />
                        <input type="hidden" name="BankID" id="hdnBankID" class="form-control" />
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="form-group">
                        <label id="2"></label>
                        <span style="color:red;" id="20"></span>
                        <input type="text" name="Branch" id="txtBranchName" onkeyup="SearchTable()" onblur="SearchTable()" placeholder="Write Branch Name" class="form-control" />
                        <input type="hidden" name="BranchID" id="hdnBranchID" class="form-control" />
                    </div>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <div class="form-group">
                        <label id="3"></label>
                        <span style="color:red;" id="30"></span>
                        <input type="text" name="IFSC" maxlength="11" id="txtIFSC" onkeyup="SearchTable()" onblur="SearchTable()" placeholder="Write IFSC" class="form-control" />
                    </div>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <div class="form-group">
                        <label id="4"></label>
                        <span style="color:red;" id="40"></span>
                        <input type="text" name="MICR" id="txtMICR" placeholder="Write MICR" class="form-control" />
                    </div>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <div class="form-group" style="padding-top:15%;">
                        <input type="submit" value="Save" name="btnSubmit" id="btnSubmit" class="btn btn-info " />
                        <input type="reset" value="Refresh" name="btnRefresh" id="btnRefresh" class="btn btn-info " />
                    </div>
                </div>
                @*<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                    <div class="form-group" style="padding-top:30%;">
                       
                    </div>
                </div>*@
            </div>

            <div class="row centered">
                <div class="container-fluid">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="row text-center">
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xm-1">Serial No</div>
                                <div class="col-lg-0 col-sm-0 col-md-0 col-xs-0" style="display:none;">BankID</div>
                                <div class="col-lg-3 col-sm-3 col-md-3 col-xs-3">Bank</div>
                                <div class="col-lg-0 col-sm-0 col-md-0 col-xs-0" style="display:none;">BranchID</div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xm-3">Branch</div>
                                <div class="col-lg-2 col-sm-2 col-md-2 col-xs-2">IFSC</div>
                                <div class="col-lg-2 col-sm-2 col-md-2 col-xs-2">MICR</div>
                                <div class="col-lg-1 col-sm-1 col-md-1 col-xs-1">Edit</div>
                            </div>
                        </div>
                        <div class="panel-body clstbl" id="myTable" style="max-height:400px;overflow-y:scroll;">
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
