﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/AppJs/ItaxScheme.js"></script>

<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <label>Income Tax Scheme </label>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="form-group">
                        <label id="1"></label><span id="12" style="color:red"></span>
                        <input type="text" id="txtFinYear" name="FinYear" class="form-control" disabled />
                    </div>
                </div>               
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="form-group">
                        <label id="2"></label><span id="22" style="color:red"></span>
                        <select id="ddlGender" name="Gender" class="form-control"></select>
                        <input type="hidden" id="hdnMaxSaveID" name="MaxSaveID" />
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group">
                        <label id="3"></label><span id="32" style="color:red"></span>
                        <input type="text" id="txtDescription" name="Description" class="form-control" />
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="form-group">
                      <span><input type="radio" name="value" value="M" id="chckAmount" checked/>&nbsp;&nbsp;<label id="4"></label></span>&nbsp;&nbsp;
                      <span><input type="radio" name="value" value="P" id="chckPercentage" />&nbsp;&nbsp;<label id="5"></label></span> 
                      <span id="42" style="color:red"></span>
                      <input type="text" id="txtAmount" placeholder="0.00" name="Amount" class="form-control" />
                    </div>
                </div>
                <div class="col-lg-1 col-md-1">
                    <div class="form-group" style="padding-top:24px;">
                        <input type="button" id="btnSave" name="Save" class="btn-info form-control" />
                        
                    </div>
                </div>
                <div class="col-lg-1 col-md-1">
                    <div class="form-group" style="padding-top:24px;">
                        <input type="button" id="btnRefresh" name="Refresh" class="btn-info form-control" value="Refresh" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="container-fluid">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-lg-1 col-md-1 col-sm-1 hide">
                                    <label> ID</label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1">
                                    <label>Sl. No.</label>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2">
                                    <label> Financial Year</label>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2">
                                    <label> Description </label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 hide">
                                    <label>GenderID</label>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2">
                                    <label> Gender</label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1">
                                    <label>Rs. / (%)</label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1">
                                    <label></label>
                                </div>
                               
                                <div class="col-lg-1 col-md-1 col-sm-1">
                                    <label>Update</label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1">
                                    <label>Delete</label>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body clstbl" style="max-height:400px;overflow-y:scroll;">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

