﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/Scripts/AppJs/LeaveTransaction.js"></script>

<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <label>Leave Transaction</label>
        </div>

        <label hidden="hidden" id="hdnlblEmpID">@ViewBag.EmpID</label>
        <label hidden="hidden" id="hdnlblSalMonthID">@ViewBag.SalMonthID</label>
        <label hidden="hidden" id="hdnlblLvFlag">@ViewBag.LvFlag</label>
        <label hidden="hidden" id="hdnlblYear">@ViewBag.Year</label>


        <input type="hidden" id="hdnDAID" />
        <div class="panel-body">

            <div class="row">
                <div class="form-group">
                    <fieldset>
                        <legend align="center" style="background-color:#cbe9ff; font-style:italic; font-size:15px">Search :</legend>
                        <div class="col-md-6">
                            <label for="firstName" class="control-label" style="font-style:italic">Search by EmpName/EmpNo.</label>
                            <input type="text" id="txtEmpNameNo" placeholder="EmpName/EmpNo" class="form-control">
                            <input type="hidden" id="hdnEmployeeID"  class="form-control">
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <fieldset>
                        <legend align="center" style="background-color:#cbe9ff; font-style:italic; font-size:15px">Leave Details :</legend>
                        <div class="col-md-3">
                            <label id="1" class="control-label" style="font-style: italic"></label><span id="spn1" style="color: red"></span>
                            <input type="text" id="txtLVAppNo" class="form-control txt_1" disabled />
                        </div>
                        <div class="col-md-3">
                            <label id="2" class="control-label" style="font-style: italic"></label><span id="spn2" style="color: red"></span>
                            <input type="text" id="txtLVAppDate" class="form-control txt_2" placeholder="DD/MM/YYYY" />
                        </div>
                        <div class="col-md-6">
                            <label id="3" class="control-label" style="font-style: italic"></label><span id="spn3" style="color: red"></span>
                            <input type="text" id="txtEmployee" class="form-control txt_3" placeholder="Emp Name">
                            <input type="hidden" ID="hdnEmpID" Value="" />
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                        <div class="col-md-3" style="padding-top:25px">
                            <input type="radio" id="radioLeave" name="optradio" checked><label id="4" class="control-label txt_4" style="font-style: italic"></label>
                            <input type="radio" id="radioTour" name="optradio" ><label id="5" class="control-label txt_5" style="font-style: italic"></label>
                        </div>
                        <div class="col-md-3">
                            <label id="6" class="control-label" style="font-style: italic"></label><span id="spn6" style="color: red"></span>
                            <select id="ddlLeave" class="form-control txt_6">
                                <option value="">--- (Select) ---</option>
                            </select>
                        </div>
                    <div class="col-md-3" >
                        <label id="7" class="control-label" style="font-style: italic"></label><span id="spn7" style="color: red"></span>
                        <input type="text" id="txtBalanceLeave" class="form-control txt_7" disabled>
                    </div>
                        <div class="col-md-3" style="padding-top:25px">
                            <input type="checkbox" id="chkIshalf"  class="txt_8" />
                            <label id="8" class="control-label " style="font-style: italic"></label><span id="spn8" style="color: red"></span>
                        </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                        <div class="col-md-3">
                            <label id="9" class="control-label" style="font-style: italic"></label><span id="spn9" style="color: red"></span>
                            <input type="text" id="txtLVFromDate" class="form-control txt_9" readonly placeholder="DD/MM/YYYY">
                        </div>
                        <div class="col-md-3">
                            <label id="10" class="control-label" style="font-style: italic"></label><span id="spn10" style="color: red"></span>
                            <input type="text" id="txtLVToDate" class="form-control txt_10" readonly placeholder="DD/MM/YYYY" >
                        </div>
                        <div class="col-md-6">
                            <label id="11" class="control-label" style="font-style: italic"></label><span id="spn11" style="color: red"></span>
                            <input type="text" id="txtLVDaysCount" class="form-control txt_11" disabled placeholder="Leave Days" onkeydown="return !((event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 ) && event.keyCode!=8 && event.keyCode!=46);">
                        </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <div class="col-md-3">
                        <label id="20" class="control-label" style="font-style: italic"></label><span id="spn20" style="color: red"></span>
                        <select id="ddlReason" class="form-control">
                            <option value="">--Select--</option>
                            @foreach (var lstReason in ViewBag.lstReason)
                            {
                                if (lstReason.RCode == 1)
                                {
                                    <option value="@lstReason.RCode" selected>@lstReason.RDesc</option>
                                }
                                else
                                {
                                    <option value="@lstReason.RCode">@lstReason.RDesc</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-md-9">
                        <label id="12" class="control-label" style="font-style: italic"></label><span id="spn12" style="color: red"></span>
                        <textarea id="txtLVRemarks" class="form-control" rows="3" cols="300"></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4" style="padding-top:25px; text-align:right">
                    <button type="button" id="btnDelete" class="btn btn-danger">Delete</button>
                    @if (ViewBag.EmpID != null || ViewBag.SalMonthID != null || ViewBag.LvFlag != null)
                    {
                        <a href="javascript:void(0)" style="color:blue; cursor:pointer" onclick="RedirectLeave()"><< Back to Monthly Attendence</a>
                    }
                    
                </div>
                <div class="col-md-8" style="padding-top:25px; text-align:right">
                    <button type="button" id="btnSave" class="btn btn-primary">Save</button>
                    <button type="button" id="btnRefresh" class="btn btn-danger">Refresh</button>
                </div>
            </div>

        </div>
    </div>
</div>

<script>

    function RedirectLeave() {
        var EmployeeID = $.trim($('#hdnlblEmpID').text());
        var SalMonthID = $.trim($('#hdnlblSalMonthID').text());
        var Year = $.trim($('#hdnlblYear').text());

        var _data = "{TransactionType:'" + 'LEAVECLOSE' + "', SalMonthID:'" + $.trim(SalMonthID) + "', EmployeeID:'" + $.trim(EmployeeID) + "', yr:'" + Year + "'}";
        $.ajax({
            type: "POST",
            url: "/Administration/Master/MonthlyAttendence/LeaveEdit",
            data: _data,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (D) {
                if (D.Status == 200) {
                    if (D.Data != null) {
                        var xmlDoc = $.parseXML(D.Data);
                        var xml = $(xmlDoc);
                        var Table = xml.find("Table");

                        var emp = $(Table).find("EmployeeID").text();
                        var flag = $(Table).find("LvFlag").text();

                        window.location.href = '/Administration/Master/MonthlyAttendence/Index';   //?emp=' + emp + '&sal=' + SalMonthID + '&flag=' + flag;
                    }
                    else {
                        alert("No Record found !");
                    }
                }
                else {
                    alert(D.Message);
                }
            },
            error: function (D) {
                alert(D.Message);
            }
        });
    }

</script>
