﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/AppJs/Employee_Increment.js"></script>
@*<script src="~/Scripts/Non-Tested js/FixedHeader.js"></script>*@

<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div style="width:100%; padding-top:2px">
                <label class="control-label" >Employee Increment</label>
            </div>
        </div>

        <input type="hidden" id="hdnLogo" value="@ViewBag.Logo" />
        <input type="hidden" id="hdnHeader" value="@ViewBag.header" />
        <input type="hidden" id="hdnAddress" value="@ViewBag.address" />
        <input type="hidden" id="hdnPayBand" value="" />
        <input type="hidden" id="hdnEmployeeID" value="" />

        <div class="panel-body">
            <div class="mywrapper">

                <div class="row">
                    <div class="form-group">
                        <div class="col-md-6" style="width:100%;">
                            <div>
                                <label for="lblTotalEligibleEmp">Eligible : </label>&nbsp;<label id="lblTotalEmp" for="Count">0</label>, &nbsp;
                                <label for="lblTotalNotEligibleEmp">Not Eligible : </label>&nbsp;<label id="lblTotalNotEmp" for="Count">0</label>
                                <input type="button" id="btnApply" value="Apply" class="btn btn-primary" style="float:right; margin-left:10px" />
                                <input type="button" id="btnPrint" value="Print" class="btn btn-primary" style="float:right; margin-left:10px" />
                                
                            </div>
                            <div  style="padding-top:15px;">
                                <input id="txtSearch" name="txtSearch" class="form-control" onkeyup="SearchTable()" onblur="SearchTable()" placeholder="for Search..." />
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row" style="padding-top:10px">
                    <div class="container-fluid">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <div class="row text-center" id="myDiv">
                                <table id="myTable"  border="1" cellpadding="0" cellspacing="0"  style="border-collapse:collapse; width:100%;  ">
                                    <tr>
                                        <td style="display:none;">EmployeeID</td>
                                        <td style="width:100px; ">EmpNo</td>
                                        <td style="width:200px; ">EmpName</td>
                                        <td style="width:200px; ">Designation</td>
                                        <td style="display:none">PayScaleType</td>
                                        <td style="display:none;">PayScaleID</td>
                                        <td style="width:100px; ">PayBand</td>
                                        <td style="width:250px; ">PayScale</td>
                                        <td style="width:150px; ">OldBasic(PB+GP)</td>
                                        <td style="width:95px; ">Inct Perct(%)</td>
                                        <td style="display:none;">SectorID</td>
                                        <td style="display:none;">DNI</td>
                                        <td style="display:none;">Declined</td>
                                        <td style="display:none;">Remarks</td>
                                    </tr>

                                    <tr>
                                        <td colspan="12">
                                            <div class="scrollbar detail" id="tbl" style="max-height:700px; width:100%; color:black; font-family:Verdana, Geneva, Tahoma, sans-serif">
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Div1" role="dialog" style="height:100%" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:70%;">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="width:100%; height:250px">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-3">
                            <div>
                                <label class="control-label" style="font-style: italic">EmpNo.</label><span id="spn2" style="color: red">*</span>
                                <input type="text" id="txtEmpNo" class="form-control" disabled />
                            </div>
                        </div>
                        <div class="col-md-9" >
                            <div>
                                <label class="control-label" style="font-style: italic">Emp Name</label><span id="spn2" style="color: red">*</span>
                                <input type="text" id="txtEmpName" class="form-control" disabled />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <div class="col-md-3">
                            <div>
                                <label class="control-label" style="font-style: italic">PayScale</label><span id="spn2" style="color: red">*</span>
                                <select id="ddlNewPayScale" class="form-control" disabled>
                                    <option value="" selected>--Select--</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div>
                                <label class="control-label" style="font-style: italic">Increment Percentage</label><span id="spn2" style="color: red">*</span>
                                <input type="text" id="txtIncrPer" class="form-control" disabled onkeydown="return !((event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 ) && event.keyCode!=8 && event.keyCode!=46);" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div>
                                <label class="control-label" style="font-style: italic">Old Basic (PB+GP)</label><span id="spn2" style="color: red">*</span>
                                <input type="text" id="txtCurrBasic" class="form-control" disabled />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div>
                                <label class="control-label" style="font-style: italic">New Basic</label><span id="spn2" style="color: red">*</span>
                                <input type="text" id="txtNewBasic" class="form-control" disabled />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <div class="col-md-3">
                            <div>
                                <label class="control-label" style="font-style: italic">Decline</label><span id="spn2" style="color:red">*</span>
                                <select id="ddlDecline" class="form-control">
                                    <option value="">--Select--</option>
                                    <option value="Y">Yes</option>
                                    <option value="N" selected>No</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div>
                                <label class="control-label" style="font-style: italic">DNI</label><span id="spn2" style="color:red">*</span>
                                <input type="text" id="txtIncrOn" class="form-control" placeholder="DD/MM/YYYY" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div>
                                <label class="control-label" style="font-style: italic">Remarks</label><span id="spn2" style="color: red">*</span>
                                <input type="text" id="txtRemarks" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="padding-top:10px; float:right;">
                    <div class="form-group">
                        <div class="col-md-3">
                            <div>
                                <input type="button" id="btnEmpWiseSave" class="btn btn-primary" value="Save" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    .hover {
        background-color: #D4EFDF;
    }
    thead   {display: table-header-group;   }

tfoot   {display: table-footer-group;   }
</style>

<style type="text/css">
    .scrollbar {
        float: left;
        height: 300px;
        background: #F5F5F5;
        overflow-y: scroll;
        margin-bottom: 25px;
    }

        .scrollbar::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            background-color: #F5F5F5;
        }

        .scrollbar::-webkit-scrollbar {
            width: 10px;
            background-color: #F5F5F5;
        }

        .scrollbar::-webkit-scrollbar-thumb {
            background-color: #bdbdbd;
            /*border: 2px solid #555555;*/
        }
</style>



