﻿@using wbEcsc.App_Codes;
@using wbEcsc.Models.Account;

<script src="~/Scripts/Non-Tested js/SideBarMenu.js"></script>
<nav id="sidebar" >
    @*<div class="sidebar-header">
        <h3 style="color:white;margin-bottom:0px">ECSC Admin</h3>
        @if (SessionContext.IsAuthenticated)
        {
            var firstName = ((AdministrativeUser)SessionContext.CurrentUser).FirstName;
            <span>
                <a href="#" style="text-decoration:underline">
                    Hi! @firstName
                </a>&nbsp;&nbsp;<a href="#" class="btnLogOut" style="text-decoration:underline">Logout</a>
            </span>
        }
        
    </div>*@
    <div id="tree">

    </div>

    <div class="application-versioning" style="bottom:0;position:absolute">&nbsp;Application version 1.0</div>
</nav>  