﻿<div class="panel panel-primary tree-menu" >
    <div class="panel-heading">
        <h3 class="panel-title">Menu</h3>
    </div>
    <div class="panel-body tree-menu-body">
        <div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div id="tree" style="overflow-y:auto">
                        @Scripts.Render("~/Scripts/Tree.js")
                        @Styles.Render("~/Content/Tree.css")
                    </div>
                </div>
                @*<script type="text/javascript">
                    //set menu max height with body height
                    $(document).ready(function () {
                        var body = document.body,
                            html = document.documentElement;

                        var height = Math.max(body.scrollHeight, body.offsetHeight,
                            html.clientHeight, html.scrollHeight, html.offsetHeight);

                        var headerHeight = $('.section-header').outerHeight(true);
                        var FooterHeight = $('.section-footer').outerHeight(true);
                        var usableHeight = height - (headerHeight + FooterHeight);
                        $(".tree-menu-body").css('max-height', usableHeight-2);
                    });
                </script>*@
            </div>
        </div>
    </div>
</div>
