﻿


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <label>Mail PaySlip</label>
        </div>
        <input type="hidden" id="hdnDAID" />
        <div class="panel-body">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-2">
                        <label for="firstName" class="control-label">Salary Month</label><span style="color:red">&nbsp;*</span>
                        <input type="text" id="txtSalMonth" disabled placeholder="Sal Month" value="@ViewBag.MaxSalMonth" class="form-control">
                        <input type="hidden" id="txtSalMonthID" disabled value="@ViewBag.MaxSalMonthID" class="form-control">
                    </div>
                    <div class="col-md-2" style="padding-top:30px; text-align:right">
                        <label for="firstName" class="control-label">Total Employee :</label>
                        <label for="firstName" class="control-label" id="lblTotalEmp"></label>
                    </div>
                    <div class="col-md-2"  style="padding-top:30px; text-align:right">
                        <label for="firstName" class="control-label">Success :</label>
                        <label for="firstName" class="control-label" id="lblSuccess"></label>
                    </div>
                    <div class="col-md-2"  style="padding-top:30px; text-align:right">
                        <label for="firstName" class="control-label">Fail :</label>
                        <label for="firstName" class="control-label" id="lblFail"></label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div style="height:400px; overflow-y:scroll;">
                        <table id="tbl" class="Grid" style="border-collapse:collapse">
                            <thead>
                                <tr>
                                    <th style="border: 1px solid; text-align:center;">SlNo.</th>
                                    <th style="border: 1px solid; text-align:center;">EmpNo</th>
                                    <th style="border: 1px solid; text-align:center;">EmpName</th>
 <th style="border: 1px solid; text-align:center;">Eamil</th>
                                    <th style="border: 1px solid; text-align:center;">Designation</th>
                                    <th style="border: 1px solid; text-align:center;">NetAmount</th>
                                    <th style="border: 1px solid; text-align:center;">MailTag</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12" style="padding-top:25px; text-align:right">
                    <button type="button" id="btnSent" class="btn btn-primary">Send</button>
                    <button type="button" id="btnRefresh" class="btn btn-primary">Refresh</button>
                </div>
            </div>
        </div>
    </div>
</div>




<script type="text/javascript">
    $(document).ready(function () {

        Populate_Employee();

        $("#btnSent").click(function () {
            var conf = confirm('Are you sure want to sent PaySlip for the month of ' + $("#txtSalMonth").val() + ' ??');
            if (conf == true)
            {
                var E = "{ SalMonthID : " + $("#txtSalMonthID").val() + ", SectorID : '" + $("#ddlSector").val() + "'}";
                $.ajax({
                    type: "POST",
                    url: "/Administration/Master/Mail_PaySlip/Start_Email",
                    data: E,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (D) {
                        var t = D.Data;
                        if(t='success')
                        {
                            Populate_Employee();
                            alert('Email has been sent successfully !!'); return false;
                        }
                        else
                        {
                            alert(D.Message); return false;
                        }
                    }
                });

              // window.open("/MailPaySlip.aspx?SalMonthID=" + $("#txtSalMonthID").val() + "&SectorID=" + $("#ddlSector").val() + "&SalMonth=" + $("#txtSalMonth").val(), '_blank');
              //return false;
            }
        });

        $("#btnRefresh").click(function () {
            location.reload();
        });
    });

    function Populate_Employee() {
        var E = "{ SalMonthID : " + $("#txtSalMonthID").val() + ", SectorID : '" + $("#ddlSector").val() + "'}"; 
        $.ajax({
            type: "POST",
            url: "/Administration/Master/Mail_PaySlip/Populate_Employee",
            data: E,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (D) {
                var lstData = D.Data; 
                if (lstData.length > 0 || D.Status == 200) {
                    $('#tbl tr.trclass').remove();
                    var trcount = 0;
                    var scount = 0;
                    var fcount = 0;
                    $.each(D.Data, function (index, value) {
                        trcount = trcount + 1;

                        if (value.EmailSendingTag == "Y") {
                            scount = scount + 1;

                            $("#tbl").append("<tr class='trclass' ><td style='text-align:center;'>" +
                            trcount + "</td><td style='text-align:center'>" +
                            value.EmpNo + "</td><td>" +
                            value.EmpName + "</td><td style='text-align:center'>" +
 value.Email + "</td><td style='text-align:center'>" +
                            value.Designation + "</td><td style='text-align:center'>" +
                            value.NetPay + "</td><td style='text-align:center'>" +
                            value.EmailSendingTag + "</td></tr>");
                        }
                        else if (value.EmailSendingTag == "N") {
                            fcount = fcount + 1;

                            $("#tbl").append("<tr class='trclass' style='background-color:lightgray;'><td style='text-align:center;'>" +
                            trcount + "</td><td style='text-align:center'>" +
                            value.EmpNo + "</td><td>" +
                            value.EmpName + "</td><td style='text-align:center'>" +
 value.Email + "</td><td style='text-align:center'>" +
                            value.Designation + "</td><td style='text-align:center'>" +
                            value.NetPay + "</td><td style='text-align:center'>" +
                            value.EmailSendingTag + "</td></tr>");
                        }
                        else {
                            $("#tbl").append("<tr class='trclass' style='background-color:bisque;'><td style='text-align:center;'>" +
                            trcount + "</td><td style='text-align:center'>" +
                            value.EmpNo + "</td><td>" +
                            value.EmpName + "</td><td style='text-align:center'>" +
 value.Email + "</td><td style='text-align:center'>" +
                            value.Designation + "</td><td style='text-align:center'>" +
                            value.NetPay + "</td><td style='text-align:center'>" +
                            value.EmailSendingTag + "</td></tr>");
                        }
                        
                       
                    });
                    $("#lblTotalEmp").text(lstData.length);
                    $("#lblSuccess").text(scount);
                    $("#lblFail").text(fcount);
                }
            }
        });
    }
</script>
