﻿

@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/AppJs/ItaxCalculation.js"></script>
<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <label>ITax Calculation</label>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-5">
                        <label id="2" class="control-label" style="font-style:italic">EmpNo.</label><span style="color:red">&nbsp;*</span>
                        <input type="text" id="txtEmpNo" value="" placeholder="EmpNo for Search" class="form-control">
                        <input type="hidden" ID="hdnEmpID" Value="" />
                    </div>
                    <div class="col-md-3">
                        <label id="2" class="control-label" style="font-style:italic">Assessment Year</label><span style="color:red">&nbsp;*</span>
                        <input type="text" id="txtAssessmentYear" value="" disabled class="form-control">
                    </div>
                    <div class="col-md-3">
                        <label id="2" class="control-label" style="font-style:italic">Gender</label><span style="color:red">&nbsp;*</span>
                        <input type="text" id="txtGender" value="" disabled class="form-control">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <div class="col-md-12">
                        <table id="tbl_1" class="Grid">
                            <thead>
                                <tr>
                                    <th style="border: 1px solid;">SalMonth</th>
                                    <th style="border: 1px solid;">GrossPay</th>
                                    <th style="border: 1px solid;">PTax</th>
                                    <th style="border: 1px solid;">ITax</th>
                                    <th style="border: 1px solid;">GIS</th>
                                    <th style="border: 1px solid;">HRA</th>
                                    <th style="border: 1px solid;">GPF</th>
                                    <th style="border: 1px solid;">GPF Recovery</th>
                                    <th style="border: 1px solid;">HBL</th>
                                    <th style="border: 1px solid;">IHBL</th>
                                    <th style="border: 1px solid;">Other Deduction</th>
                                    <th style="border: 1px solid;">NetPay</th>
                                    <th style="border: 1px solid;">Arrear/OT</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <div class="col-md-12">
                        <table style="width:100%; background-color:bisque">
                            <tr style="padding-top:8px; height:40px">
                                <td style="padding: 4px; background-color: #6ad3f5; text-align:center; border-bottom:2px dotted yellow">1.</td> 
                                <td style="padding-left:10px">Income From Salary</td> 
                                <td> <input type="text" id="txtIncome" class="form-control cal2" style="text-align: right" disabled /></td>
                            </tr> 
                            <tr style="background-color:lightblue ; height:40px">
                                <td style="padding: 4px; background-color: #6ad3f5; text-align:center; border-bottom:2px dotted yellow">2.</td>
                                <td style="padding-left:10px">P.Tax</td>
                                <td > <input type="text" id="txtTotalPTax" class="form-control cal2" style="text-align: right" disabled /></td>
                            </tr>
                            <tr style="padding-top:8px; height:40px">
                                <td style="padding: 4px; background-color: #6ad3f5; text-align:center; border-bottom:2px dotted yellow">3.</td>
                                <td style="padding-left:10px">HRA</td>
                                <td> <input type="text" id="txtTotHRA" class="form-control cal2" style="text-align: right" disabled /></td>
                            </tr>
                            <tr style="background-color:lightblue ; height:40px">
                                <td style="padding: 4px; background-color: #6ad3f5; text-align:center; border-bottom:2px dotted yellow">4.</td>
                                <td style="padding-left:10px">IHBL</td>
                                <td> <input type="text" id="txtTotIHBL" class="form-control cal2" style="text-align: right" disabled /></td>
                            </tr>
                            <tr style="padding-top:8px; height:40px">
                                <td style="padding: 4px; background-color: #6ad3f5; text-align:center; border-bottom:2px dotted yellow ;">5.</td>
                                <td style="padding-left:10px">Add : Income From Other Source
                                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <button type="button" id="btnDetails1" class="btn btn-primary">Show Details</button>
                                </td>
                                <td> <input type="text"  id="txtDetails1" class="form-control cal2" style="text-align: right" disabled /></td>
                            </tr>
                            <tr style="height:40px; display:none" class="show1">
                                <td colspan="4" align="right">
                                    <table style="width:56%">
                                        <tr>
                                            <td style="padding: 4px;"></td>
                                            <td style="padding: 4px; text-align: left"><span class="headFont">A .   Interest From Saving&nbsp;&nbsp;</span><span class="require"></span> </td>
                                            <td style="padding: 4px;"></td>
                                            <td style="border-left: 1px solid gray; padding: 4px; width: 253px" align="center">
                                                <input type="text" ID="txtInterestFromSaving"  Style="text-align: right" onkeypress="return NumberOnly()" onkeyup="Calcutate5()" class="form-control cal3" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding: 4px;"></td>
                                            <td style="padding: 4px; text-align: left"><span class="headFont">B .   Interest From F.D. &nbsp;&nbsp;</span><span class="require"></span> </td>
                                            <td style="padding: 4px;"></td>
                                            <td style="border-left: 1px solid gray; padding: 4px;" align="center">
                                                <input type="text" ID="txtInterestFromFD" Style="text-align: right" onkeypress="return NumberOnly()" onkeyup="Calcutate5()" class="form-control cal3" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding: 4px;"></td>
                                            <td style="padding: 4px; text-align: left"><span class="headFont">C .   Other&nbsp;&nbsp;</span><span class="require"></span> </td>
                                            <td style="padding: 4px;"></td>
                                            <td style="border-left: 1px solid gray; padding: 4px;" align="center">
                                                <input type="text" ID="txtOtherS" disabled  Style="text-align: right" onkeypress="return NumberOnly()" onkeyup="Calcutate5()" class="form-control cal3" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="4" width="100%">
                                                <table id="Grid_OtherIncomeSource" class="Grid">
                                                    <tr>
                                                        <td><input type="text" id="txtotherDesc" class="form-control" style="width:420px;" /></td>
                                                        <td><input type="text" id="txtotherIncAmount" class="form-control allownumericwithoutdecimal" /></td>
                                                        <td><input type="button" id="btnOtherIncSrc" value="Add" class="btn btn-primary" /></td>
                                                    </tr>
                                                    <thead>
                                                        <tr>
                                                            <th style="border: 1px solid;">Description</th>
                                                            <th style="border: 1px solid;">Amount</th>
                                                            <th style="border: 1px solid;"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </td>
                                        </tr>

                                    </table>
                                </td>
                            </tr>


                            <tr style="background-color:lightblue ; height:40px">
                                <td style="padding: 4px; background-color: #6ad3f5; text-align:center; border-bottom:2px dotted yellow">6.</td>
                                <td style="padding-left:10px">Deduction Under Chapter VI-A
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <button type="button" id="btnDetails2"  class="btn btn-primary">Show Details</button>
                                </td>
                                <td> <input type="text" id="txtTotalDeduction" class="form-control" style="text-align: right" disabled /></td>
                            </tr>
                            <tr style="border-bottom: 1px solid gray; display: none" class="show2">
                                <td colspan="4" align="right">
                                    <table id="GridTaxDetails" class="Grid">
                                        <thead>
                                            <tr>
                                                <th style="border: 1px solid;">SlNo.</th>
                                                <th style="border: 1px solid;">Tax Type</th>
                                                <th style="border: 1px solid;"></th>
                                                <th style="border: 1px solid; text-align:center">Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr class="show2" style="border-bottom: 1px solid gray; display: none; background-color: lightblue; height:40px">
                                <td colspan="6">
                                    <table>
                                        <tr align="right">
                                            <td style="padding: 4px;" align="right"><span class="headFont">Add New Section&nbsp;&nbsp;</span><span class="require">*</span> </td>
                                            <td style="padding: 4px;">
                                                <input type="text" ID="txtNewSection" Style="text-transform: uppercase;" class="form-control" />
                                            </td>
                                            <td style="padding: 4px;" align="right"><span class="headFont">Type&nbsp;&nbsp;</span><span class="require">*</span> </td>
                                            <td style="padding: 4px; margin-right: 35px">
                                                <label id="pdf" class="radio-inline"><input type="radio" id="rbValue" name="optradio" onchange="myFunction()">Value</label>
                                                <label id="excel" class="radio-inline"><input type="radio" id="rbPercent" name="optradio" onchange="myFunction()">Percentage</label>
                                            </td>
                                            <td style="padding: 4px;" align="right"><span class="headFont Max">Max Amount&nbsp;&nbsp;</span><span class="require">*</span> </td>
                                            <td style="padding: 4px;">
                                                <input type="text" ID="txtMaxAmount" Style="text-align: right" class="form-control allownumericwithoutdecimal" />
                                            </td>
                                            <td style="padding: 4px; " align="center">
                                                <button type="button" id="btnSectionAdd" class="btn btn-primary">Add</button>
                                            </td>
                                        </tr>
                                    </table>
                                </td>

                            </tr>
                            <tr style="padding-top:8px; height:40px">
                                <td style="padding: 4px; background-color: #6ad3f5; text-align:center; border-bottom:2px dotted yellow">7.</td>
                                <td style="padding-left:10px">Taxable Income</td>
                                <td> <input type="text" id="txtTaxableIncome" class="form-control cal2" style="text-align: right" disabled /></td>
                            </tr>
                            <tr style="background-color:lightblue ; height:40px">
                                <td style="padding: 4px; background-color: #6ad3f5; text-align:center; border-bottom:2px dotted yellow">8.</td>
                                <td style="padding-left:10px">Tax On Net Income</td>
                                <td> <input type="text" id="txtOnNetIncome" class="form-control cal2 allownumericwithoutdecimal" style="text-align: right" disabled /></td>
                            </tr>
                            <tr style="padding-top:8px; height:40px">
                                <td style="padding: 4px; background-color: #6ad3f5; text-align:center; border-bottom:2px dotted yellow">9.</td>
                                <td style="padding-left:10px">Rebate [Under Section 87A]</td>
                                <td> <input type="text" id="txtRabate" class="form-control cal2 allownumericwithoutdecimal" onkeyup="CalEduCess($(this).val())" style="text-align: right"  /></td>
                            </tr>
                            <tr style="background-color:lightblue ; height:40px">
                                <td style="padding: 4px; background-color: #6ad3f5; text-align:center; border-bottom:2px dotted yellow">10.</td>
                                <td style="padding-left:10px">Surcharge</td>
                                <td> <input type="text" id="txtSurcharge" onkeyup="TotTaxLi()" class="form-control cal2 allownumericwithoutdecimal" style="text-align: right"  /></td>
                            </tr>
                            <tr style="padding-top:8px; height:40px">
                                <td style="padding: 4px; background-color: #6ad3f5; text-align:center; border-bottom:2px dotted yellow">11.</td>
                                <td style="padding-left:10px">Education Cess</td>
                                <td> <input type="text" id="txtEduCess" class="form-control cal2 allownumericwithoutdecimal" style="text-align: right" disabled /></td>
                            </tr>
                            <tr style="background-color:lightblue ; height:40px">
                                <td style="padding: 4px; background-color: #6ad3f5; text-align:center; border-bottom:2px dotted yellow">12.</td>
                                <td style="padding-left:10px">Secondary and Higher Secondary Educational Cess</td>
                                <td> <input type="text" id="txtHDCess" class="form-control cal2" style="text-align: right" disabled /></td>
                            </tr>
                            <tr style="padding-top:8px; height:40px">
                                <td style="padding: 4px; background-color: #6ad3f5; text-align:center; border-bottom:2px dotted yellow">13.</td>
                                <td style="padding-left:10px">Total Tax Liabilities</td>
                                <td> <input type="text" id="txtTaxLi" class="form-control cal2 allownumericwithoutdecimal" onkeyup="CalNetTaxPay()" style="text-align: right" disabled /></td>
                            </tr>
                            <tr style="background-color:lightblue ; height:40px">
                                <td style="padding: 4px; background-color: #6ad3f5; text-align:center; border-bottom:2px dotted yellow">14.</td>
                                <td style="padding-left:10px">Relief Under Section 89</td>
                                <td> <input type="text" id="txtUS89" onkeyup="CalTaxPay()" class="form-control cal2 allownumericwithoutdecimal" style="text-align: right"  /></td>
                            </tr>
                            <tr style="padding-top:8px; height:40px">
                                <td style="padding: 4px; background-color: #6ad3f5; text-align:center; border-bottom:2px dotted yellow">15.</td>
                                <td style="padding-left:10px">Tax Payable</td>
                                <td> <input type="text" id="txtNetTaxPay" onkeyup="CalTaxPay()" class="form-control allownumericwithoutdecimal" style="text-align: right" disabled /></td>
                            </tr>
                            <tr style="background-color:lightblue ; height:40px">
                                <td style="padding: 4px; background-color: #6ad3f5; text-align:center; border-bottom:2px dotted yellow">16.</td>
                                <td style="padding-left:10px">Tax Deduction From Salary</td>
                                <td> <input type="text" id="txtTDSAmt" onkeyup="CalNetTaxPay()" class="form-control cal2 allownumericwithoutdecimal" style="text-align: right" disabled /></td>
                            </tr>
                            <tr style="padding-top:8px; height:40px">
                                <td style="padding: 4px; background-color: #6ad3f5; text-align:center; border-bottom:2px dotted yellow">17.</td>
                                <td style="padding-left:10px">ITax Paid From Other Source</td>
                                <td> <input type="text" id="txtOtherSource" class="form-control cal2" style="text-align: right" disabled /></td>
                            </tr>
                            <tr style="background-color:lightblue ;">
                                <td colspan="4">
                                    <table >
                                        <tr>
                                            <td style="padding: 4px;"><span class="headFont">Challan No.&nbsp;&nbsp;</span><span class="require">*</span> </td>
                                            <td style="padding: 4px;"></td>
                                            <td style="padding: 4px;" align="center">
                                                <input type="text" ID="txtChallanNo"  class="form-control" Style="text-align: left;  text-transform: uppercase" Enabled="true" />
                                            </td>
                                            <td style="padding: 4px;"><span class="headFont">BSR No.&nbsp;&nbsp;</span><span class="require">*</span> </td>
                                            <td style="padding: 4px;"></td>
                                            <td style="padding: 4px;" align="center">
                                                <input type="text" ID="txtBSRNo" class="form-control"  Style="text-align: left; text-transform: uppercase" Enabled="true" />
                                            </td>
                                            <td style="padding: 4px;"><span class="headFont">Challan Date&nbsp;&nbsp;</span><span class="require">*</span> </td>
                                            <td style="padding: 4px;"></td>
                                            <td style="padding: 4px;" align="center">
                                                <input type="text" ID="txtDate" class="form-control" Style="text-align: left; text-transform: uppercase" Enabled="true" />
                                            </td>
                                            <td style="padding: 4px;"><span class="headFont">Amount&nbsp;&nbsp;</span><span class="require">*</span> </td>
                                            <td style="padding: 4px;"></td>
                                            <td style="padding: 4px;" align="center">
                                                <input type="text" ID="txtAmount"class="form-control"  Style="text-align: right; text-transform: uppercase" Enabled="true" />
                                            </td>
                                            <td style="padding: 4px;"><span class="headFont">&nbsp;&nbsp;</span><span class="require"></span> </td>
                                            <td style="padding: 4px;"></td>
                                            <td style="padding: 4px;" align="center">
                                                <button type="button" id="btnOtherSource" class="btn btn-primary">Add</button>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr style="background-color:lightblue ; ">
                                <td colspan="4">
                                    <table id="GridViewOther" class="Grid">
                                        <thead>
                                            <tr>
                                                <th style="border: 1px solid;">Challan No.</th>
                                                <th style="border: 1px solid;">BSR No.</th>
                                                <th style="border: 1px solid;">Date</th>
                                                <th style="border: 1px solid;">Amount</th>
                                                <th style="border: 1px solid;">Delete</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </td>
                            </tr>
                            <tr style="padding-top:8px; height:40px">
                                <td style="padding: 4px; background-color: #6ad3f5; text-align:center; border-bottom:2px dotted yellow">18.</td>
                                <td style="padding-left:10px"><span  class="headFont balance">Balance Tax&nbsp;&nbsp;</span></td>
                                <td> <input type="text" id="txtBalTax" class="form-control cal2" style="text-align: right" disabled /></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            
            <div class="row">
                            <div class="col-md-12" style="padding-top:25px; text-align:right">
                                <button type="button" id="btnSave" class="btn btn-primary">Save</button>
                                <button type="button" id="btnRefresh" class="btn btn-primary">Refresh</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


<input type="hidden" ID="hdnEmpID"   Value="" />
<input type="hidden" ID="HiddenCheckGrid"   Value="0" />
<input type="hidden" ID="hdnEmpGender"  Value="" />
<input type="hidden" ID="hdnTotalGrossPay"  Value="" />
<input type="hidden" ID="hdnTotalPtax"  Value="" />

<input type="hidden" ID="hdnTotalITax"  Value="" />
<input type="hidden" ID="hdnTotalGIS"  Value="" />
<input type="hidden" ID="hdnTotalGPF"  Value="" />
<input type="hidden" ID="hdnTotalHRA"  Value="" />
<input type="hidden" ID="hdnTotalGPFRec"  Value="" />
<input type="hidden" ID="hdnTotalIHBL"  Value="" />
<input type="hidden" ID="hdnTotalHBL" Value="" />
<input type="hidden" ID="hdnTotalOtherDe"  Value="" />
<input type="hidden" ID="hdnTotalNetPay"  Value="" />
<input type="hidden" ID="hdnTotalArrearOT" Value="" />
