﻿@using wbEcsc.App_Codes;
@using wbEcsc.Models.Account;
@using wbEcsc.Models.Application;
@using wbEcsc.App_Codes.BLL;
@using wbEcsc.Models.Account.Logins;


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    @{
        var a = ""; var b = "";
        //POPULATE LOGO, HEADER
        Logo lObj = new Logo();
        Logo_MD modelObj = lObj.GetAppsInfo();
        a = modelObj.LogoPath;
        b = modelObj.WebSiteHeader_1;
    }
    <title>@b</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/elegant-icons-style.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/style-responsive.css" rel="stylesheet" />
    <link href="~/Content/Linear_Loader.css" rel="stylesheet" />


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/overlay")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/utility")
    @Scripts.Render("~/bundles/jsSql")
    @Scripts.Render("~/bundles/GlobalAppJs")
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script src="~/Scripts/AppJs/AdmistrativeLogin.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#llll").hide();
        })
    </script>

</head>
<body class="login-img3-body">

   
    <div class="container">

       
        <div class="login-form" style="box-shadow: 10px 10px 5px grey;">
            <div id="llll" class="linear-activity linear_loader">
                <div  class="indeterminate"></div>
            </div>

            <div class="login-wrap ">
                <p class="login-img" ><i class="icon_lock_alt" ></i></p>
                <form role="form" id="frm_AdministrativeLogin">
                    <div class="input-group">
                        <span class="input-group-addon" style="box-shadow: 5px 5px 5px grey;"><i class="icon_profile" style="box-shadow: 5px 5px 5px grey;"></i></span>
                        <input type="text" id="txtUserName" autocomplete="off" class="form-control txtUserName" placeholder="Username" value="payroll" name="txtUserName" style="box-shadow: 5px 5px 5px grey;">

                    </div>
                    <div class="input-group" >
                        <span class="input-group-addon" style="box-shadow: 5px 5px 5px grey;"><i class="icon_key_alt" style="box-shadow: 5px 5px 5px grey;"></i></span>
                        <input type="password" id="txtPassword" autocomplete="off" class="form-control txtPassword" value="pay@123" placeholder="Password" style="box-shadow: 5px 5px 5px grey;">
                    </div>
                </form>

                <button class="btn btn-info btn-lg btn-block btn-administrative-login " type="submit">Login</button>
                <div class="text-right" style="padding-top:10px">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-sm-12 text-right">
                            <span class="spn_frm_msg" id="spn_frm_msg"></span>
                        </div>
                    </div>
                </div>
            </div>

            </div>
    </div>

</body>
</html>