﻿
@{
    ViewBag.Title = "WBECSC";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="panel panel-primary" style="margin: 20px;">
    <div class="panel-heading">
        <h3 class="panel-title">Login Menu</h3>
    </div>
    <div class="panel-body">
        <div>
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-4">
                </div>
                <div class="col-md-4 col-lg-4 col-sm-4">
                    <div class="well" align="center">
                        <div class="panel-body h4 well" style="margin-bottom:0px;" >
                            <a href="/Home/AdministrativeLoginUI">Administrative Login</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

