﻿<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>jQuery treetable Tests</title>
    

      <script src="~/Scripts/jquery-1.10.3.js"></script>
      <script src="../../Scripts/Tree.js"></script>
      <link href="../../Content/Tree.css" rel="stylesheet" />
  </head>
  <body>
      

      
      <table>
          <tr>
              <td>
                  <ul class="tree" >
                      <li>branch1</li>
                      <li>
                          branch2
                          <div class="expander expanded"></div>
                          <ul class="expanded">
                              <li>another branch</li>
                              <li>
                                  another branch
                                  <div class="expander"></div>
                                  <ul class="">
                                      <li>
                                          another branch
                                          <div class="expander"></div>
                                          <ul class="">
                                              <li>branch<small>hidssdsdsd</small></li>
                                              <li>
                                                  branch2
                                                  <div class="expander"></div>
                                                  <ul class="">
                                                      <li>
                                                          <table border="2">
                                                              <tbody>
                                                                  <tr><td>one</td><td>two</td><td>three</td></tr>
                                                                  <tr><td>one</td><td>two</td><td>three</td></tr>
                                                                  <tr><td>one</td><td>two</td><td>three</td></tr>
                                                                  <tr><td>one</td><td>two</td><td>three</td></tr>
                                                                  <tr><td>one</td><td>two</td><td>three</td></tr>
                                                                  <tr><td>one</td><td>two</td><td>three</td></tr>
                                                                  <tr><td>one</td><td>two</td><td>three</td></tr>
                                                                  <tr><td>one</td><td>two</td><td>three</td></tr>
                                                                  <tr><td>one</td><td>two</td><td>three</td></tr>
                                                                  <tr><td>one</td><td>two</td><td>three</td></tr>
                                                                  <tr><td>one</td><td>two</td><td>three</td></tr>
                                                              </tbody>
                                                          </table>
                                                      </li>
                                                      <li>
                                                          another branch
                                                          <div class="expander expanded"></div>
                                                          <ul class="expanded">
                                                              <li>
                                                                  another branch

                                                              </li>
                                                              <li>another branchs sidos doh skdj kh skdh jks hdjksd hskjh ksh ks hdsj s s jk sd </li>
                                                              <li>another branch</li>
                                                          </ul>
                                                      </li>
                                                      <li>another branch</li>
                                                  </ul>
                                              </li>
                                              <li>branch</li>
                                              <li>
                                                  branch3
                                                  <div class="expander expanded"></div>
                                                  <ul class="expanded">
                                                      <li>another branch</li>
                                                      <li>
                                                          another branch
                                                          <div class="expander expanded"></div>
                                                          <ul class="expanded">
                                                              <li>another branch</li>
                                                              <li>another branch</li>
                                                              <li>another branch</li>
                                                          </ul>
                                                      </li>
                                                      <li>another branch</li>
                                                  </ul>
                                              </li>
                                          </ul>
                                      </li>
                                      <li>another branchs sidos doh skdj kh skdh jks hdjksd hskjh ksh ks hdsj s s jk sd </li>
                                      <li>another branch</li>
                                  </ul>
                              </li>
                              <li>another branch</li>
                          </ul>
                      </li>
                      <li>branch</li>
                      <li>
                          branch3
                          <div class="expander"></div>
                          <ul class="">
                              <li>another branch</li>
                              <li>
                                  another branch
                                  <div class="expander expanded"></div>
                                  <ul class="expanded">
                                      <li>another branch</li>
                                      <li>another branch</li>
                                      <li>another branch</li>
                                  </ul>
                              </li>
                              <li>another branch</li>
                          </ul>
                      </li>
                  </ul>
              </td>
              <td>
                  <div id="tree">

                  </div>
              </td>
          </tr>
      </table>
          <script type="text/javascript">

              $(document).ready(function () {
                  var getTreeData = function () {
                      return JSON.parse('[{"MenuID":1,"MenuName":"Collection","ParentMenuID":null,"ActionMethodID":null,"Rank":1,"Url":"///","IsActive":true,"List":[{"MenuID":4,"MenuName":"Property Tax","ParentMenuID":1,"ActionMethodID":16,"Rank":1,"Url":"/Municipality/Collection/Index/","IsActive":true,"List":[]}]},{"MenuID":2,"MenuName":"Configuration","ParentMenuID":null,"ActionMethodID":1,"Rank":2,"Url":"/Home/Index/","IsActive":true,"List":[{"MenuID":5,"MenuName":"Counters","ParentMenuID":2,"ActionMethodID":24,"Rank":1,"Url":"/Municipality/MnCounter/Index/","IsActive":true,"List":[]},{"MenuID":6,"MenuName":"Map Counter & User","ParentMenuID":2,"ActionMethodID":37,"Rank":2,"Url":"/Municipality/MnUserCounterAssociate/Index/","IsActive":true,"List":[]},{"MenuID":7,"MenuName":"Pay Head Config","ParentMenuID":2,"ActionMethodID":42,"Rank":3,"Url":"/Municipality/MnPayHead/Configure_PayHead/","IsActive":true,"List":[]},{"MenuID":8,"MenuName":"Map Counter & Payment Mode","ParentMenuID":2,"ActionMethodID":45,"Rank":4,"Url":"/Municipality/MnPaymentModeConfiguration/Index/","IsActive":true,"List":[]}]},{"MenuID":3,"MenuName":"Reporting","ParentMenuID":null,"ActionMethodID":null,"Rank":3,"Url":"///","IsActive":true,"List":[{"MenuID":14,"MenuName":"Collection Report","ParentMenuID":3,"ActionMethodID":54,"Rank":1,"Url":"/Municipality/ReportCalls/MnCollectionReport/Index/","IsActive":true,"List":[]},{"MenuID":15,"MenuName":"Demand Report","ParentMenuID":3,"ActionMethodID":58,"Rank":2,"Url":"/Municipality/ReportCalls/MnDemandReport/Index/","IsActive":true,"List":[]}]},{"MenuID":9,"MenuName":"User","ParentMenuID":null,"ActionMethodID":1,"Rank":4,"Url":"/Home/Index/","IsActive":true,"List":[{"MenuID":10,"MenuName":"New User","ParentMenuID":9,"ActionMethodID":34,"Rank":1,"Url":"/Municipality/MnUserRegistration/Index/","IsActive":true,"List":[]},{"MenuID":12,"MenuName":"Reset Password","ParentMenuID":9,"ActionMethodID":55,"Rank":2,"Url":"/Municipality/MnUserPassword/ResetPasswordUI/","IsActive":true,"List":[]},{"MenuID":11,"MenuName":"Change Password","ParentMenuID":9,"ActionMethodID":28,"Rank":3,"Url":"/Municipality/MnUserPassword/Index/","IsActive":true,"List":[]},{"MenuID":13,"MenuName":"Manage Role","ParentMenuID":9,"ActionMethodID":30,"Rank":4,"Url":"/Municipality/MnRoleUsersMapping/Index/","IsActive":true,"List":[]}]}]');
                  };

                  var ConvertToTreeFormat = function (data) {
                      var formattedSource = [];
                      var formattedClass = function (nodeText, nodeID, childrens, isExpanded, additionalData, parentID) {
                          if (childrens.constructor !== Array) {
                              throw 'childrens must be type of array';
                          }
                          return {
                              text: nodeText,
                              id: nodeID,
                              nodes: childrens,
                              hasChildren: childrens.length > 0,
                              isExpanded: isExpanded,
                              data: additionalData,
                              parentID: parentID
                          };
                      };
                      var drillDownNodes = function (data) {
                          var d = [];
                          $.each(data, function (index, value) {
                              if (value.List == 0) {
                                  d.push(formattedClass(value.MenuName, value.MenuID, [], false, null, value.ParentMenuID === null ? 0 : value.ParentMenuID));
                              } else {
                                  d.push(formattedClass(value.MenuName, value.MenuID, drillDownNodes(value.List), false, null, value.ParentMenuID === null ? 0 : value.ParentMenuID));
                              }
                          });
                          return d;
                      };
                      return (function () {
                          return formattedClass('Super Parent', 0, drillDownNodes(data), true, null, null);
                      }());
                  };
                  var treeData = ConvertToTreeFormat(getTreeData());
                  console.log(treeData);

                  //return tree dom
                  var CreateTreeDom = function ( data) {
                      var superParent = $("<ul ></ul>");
                      
                      $.each(data, function (index, value) {
                          if (value.hasChildren === false) {//no child
                              superParent.append("<li>" + value.text + "</li>");
                          } else {
                              superParent.append($("<li></li>").append(CreateTreeDom(value.nodes)).prepend("<span class='node-header-text'>"+value.text+"</span><div class='expander'></div>"));
                              //d.push(formattedClass(value.MenuName, value.MenuID, drillDownNodes(value.List), false, null, value.ParentMenuID === null ? 0 : value.ParentMenuID));
                          }
                      });
                      return superParent;
                  };
                  var x = CreateTreeDom(treeData.nodes);
                  $("#tree").append(CreateTreeDom(treeData.nodes).addClass('tree'));
              });

          </script>
</body>

</html>
