﻿    @using TemplateMVC4.Models
@{
    Layout = null;
}

<ul class="nav pull-right top-menu">
    <li class="dropdown">
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="profile-ava">
                <img alt="" src="/Content/img/Deepak_small.jpg" />
            </span>
            <span class="username">Deepak Singh</span>
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu extended logout">
            <div class="log-arrow-up"></div>
            @foreach (var item in (ViewBag.MenuLevel1 as List<Get_All_Menu_Result>).Where(x => x.MenuID==5 || x.MenuID==6)) //x.ParrentMenuID != " " &&
            {
            <li class="eborder-top">
                <a href="@item.PageName"><i class="icon_profile"></i>@item.MenuName</a>
            </li>
            }
        </ul>
    </li>
</ul>