﻿
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <label>Go to Next Month</label>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-3">
                        <label for="firstName" class="control-label">Salary Month</label><span style="color:red">&nbsp;*</span>
                        <input type="text" id="txtPayMonth" disabled placeholder="Sal Month" value="@ViewBag.MaxSalMonth" class="form-control">
                        <input type="hidden" id="hdnSalMonthID" disabled value="@ViewBag.MaxSalMonthID" class="form-control">
                    </div>
                    <div class="col-md-2" style="padding-top:30px">
                        <input type="checkbox" id="chkSelect"  />
                        <label id="8" class="control-label txt_8" style="font-style: italic">Next Month</label>
                    </div>
                    <div class="col-md-6" style="margin-top:24px; text-align:right">
                        <button type="button" id="cmdnextMonth" class="btn btn-primary">Go to Next Month</button>
                        <button type="button" id="btnRefresh" class="btn btn-primary">Refresh</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $("#btnRefresh").click(function () {
            location.reload();
        });
    });

        $(document).ready(function () {
            $("#txtSalFinYear").change(function () {
                var E = "{SalFinYear: '" + $('#txtSalFinYear').val() + "'}";
                $.ajax({
                    type: "POST",
                    url: "FinalSalaryGeneration.aspx/GetSalMonthbySalFinYear",
                    data: E,
                    contentType: "application/json; charset=utf-8",
                    success: function (listSalMonth) {
                        var t = jQuery.parseJSON(listSalMonth.d);

                        var PayMon = t[0]["PayMonths"];
                        var PayMonID = t[0]["PayMonthsID"];
                        var a = t.length;
                        $('#txtPayMonth').val(PayMon);
                        $('#hdnSalMonthID').val(PayMonID);

                        $('#txtPayMonths').val(PayMon);
                    }
                });
            });
        });

        $(document).ready(function () {
            $("#ddlSector").change(function () {
                var s = $('#ddlSector').val();
                if (s != 0) {
                    if ($("#ddlSector").val() != "Please select") {
                        var E = "{SecID: " + $('#ddlSector').val() + ", SalFinYear: '" + $('#txtSalFinYear').val() + "'}";
                        var options = {};
                        options.url = "FinalSalaryGeneration.aspx/GetSalMonth";
                        options.type = "POST";
                        options.data = E;
                        options.dataType = "json";
                        options.contentType = "application/json";
                        options.success = function (listSalMonth) {
                            var t = jQuery.parseJSON(listSalMonth.d);

                            var PayMon = t[0]["PayMonths"];
                            var PayMonID = t[0]["PayMonthsID"];
                            var a = t.length;
                            $('#txtPayMonth').val(PayMon);
                            $('#hdnSalMonthID').val(PayMonID);

                        };
                        options.error = function () { alert("Error in retrieving Location!"); };
                        $.ajax(options);
                    }

                }

            });
        });

        $(document).ready(function () {
            $('#cmdnextMonth').click(function () {
                
                var salMonth = $("#txtPayMonth").val();
                if (salMonth != "") {
                    var msg = confirm("Do You really want to go in next month ?");
                    if(msg==true)
                    {
                        if ($("#chkSelect").is(':checked')) {
                            var secid = $("#ddlSector").val(); //alert(secid);
                            if (secid != 0) {

                                var salmonthid = $("#hdnSalMonthID").val();

                                var F = "{salmonthid: '" + salmonthid + "', secid: '" + secid + "'}";
                                //alert(F);
                                $.ajax({
                                    type: "POST",
                                    url: "/Administration/Master/NextMonth/GoForNextMonth",
                                    data: F,
                                    contentType: "application/json; charset=utf-8",
                                    success: function (D) {

                                        var msg = "You have Successfully inserted into next month for salary process.";
                                        alert(msg);
                                        location.reload();
                                        return false;
                                    }
                                });
                            }
                            else {
                                var msg = "Please select Sector.";
                                alert(msg); return false;
                            }
                        }
                        else {
                            var msg = "Please select checkbox first.";
                            alert(msg); return false;
                        }
                    }
                }
                else
                {
                    var msg = "Salary Month should be not blank.";
                    alert(msg);
                    return false;
                }

            });
        });

        $(document).ready(function () {
            var salmonth = $("#hdnSalMonthID").val(); //alert(salmonth);
            var arr = salmonth.split('/');
            var salmon = arr[0]; //alert(salmon);
            var salyear = arr[1]; //alert(salyear);

            var Monthdate = getLastDateOfMonth(parseInt(salyear), parseInt(salmon)); //alert(Monthdate);
            var lastdate = Monthdate.getDate(); //alert(lastdate);
            var lasttwodate = parseInt(lastdate) +1; //alert(lasttwodate);

            var newdate = new Date(parseInt(salyear), parseInt(salmon) - 1, lasttwodate); //alert(newdate);
            var today = new Date(); //alert(today);

            var EncodeValue = ""; var NextFlag = "";
            var F = "{salmonth: '" + salmonth + "'}";
            //alert(F);
            $.ajax({
                type: "POST",
                url: "/Administration/Master/NextMonth/GetEncodedValue",
                data: F,
                contentType: "application/json; charset=utf-8",
                success: function (D) {
                    var data = D.Data;
                    EncodeValue = data; 

                   // if (EncodeValue == null) {
                        var K = "{salmonth: '" + $("#txtPayMonth").val() + "', SecID: '" + $("#ddlSector").val() + "'}";
                        $.ajax({
                            type: "POST",
                            url: "/Administration/Master/NextMonth/Get_ForNextMonth",
                            data: K,
                            contentType: "application/json; charset=utf-8",
                            success: function (D) {
                                var data = D.Data;
                                NextFlag = data[0].Result; 

                                if (NextFlag == "1") {
                                    //alert("false");
                                    $("#chkSelect").attr("disabled", false);
                                    $("#cmdnextMonth").attr("disabled", false);
                                }
                                else {
                                    //alert("true");
                                    $("#chkSelect").attr("disabled", true);
                                    $("#cmdnextMonth").attr("disabled", true);
                                }
                            }
                        });
                    //}
                    //else {
                    //    alert("First Complete the Salary Process for this month."); return false;
                    //}
                }
            });
        });

        function getLastDateOfMonth(Year, Month) {
            return (new Date((new Date(Year, Month, 1)) - 1));
        }


</script>
