﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/AppJs/Qualification.js"></script>

<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <label>Qualification Master</label>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8">
                    <div class="form-group">
                        <label id="1"></label><span id="10" style="color:red"></span>
                        <input type="text" id="txtQualification" name="Qualification" class="form-control" />
                        <input type="hidden" id="hdnQualificationID" name="QualificationID" />          
                    </div>                  
                </div>
                <div class="col-lg-1 col-md-1">
                    <div class="form-group" style="padding-top:20%;">
                        <input type="button" id="btnSave" name="Save" class="btn btn-info form-control"  />                        
                    </div>
                </div>
                <div class="col-lg-1 col-md-1">
                    <div class="form-group" style="padding-top:20%;">                        
                        <input type="button" id="btnRefresh" name="Refresh" class="btn btn-info form-control" value="Refresh" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="container-fluid">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-lg-1 col-md-1 col-sm-1 hide">
                                    <label> ID</label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1">
                                    <label>Sl. No.</label>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7">
                                    <label> Qualification</label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1">
                                    <label>Update</label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1">
                                    <label>Delete</label>
                                </div>
                            </div>
                           
                        </div>
                        <div class="panel-body clstbl" style="max-height:400px;overflow-y:scroll;">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

