﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="~/Scripts/AppJs/PayScale.js"></script>

<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <label>PayScale Master</label>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div class="form-group">
                        <label id="1">Employee Type</label><span style="color:red;" id="10"></span>
                        <select id="ddlEmployeeType" name="EmpTypeID" class="form-control"></select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div class="form-group">
                        <label id="2"></label><span style="color:red;" id="20"></span>
                        <input type="text" name="PayScale" id="txtPayScale" class="form-control" />
                        <input type="hidden" name="PayScaleID" id="hdnPayScaleID" />
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="form-group">
                        <label id="3"></label><span style="color:red;" id="30"></span>
                        <input type="text" name="GradePay" id="txtGradePay" class="form-control" />
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="form-group">
                        <label id="4"></label><span style="color:red;" id="40"></span>
                        <input type="text" name="IncrementPercentage" id="txtIncrementPercentage" class="form-control" />
                    </div>
                </div>
                <div class="col-md-2 col-sm-2">
                    <div class="form-group" style="padding-top:15%;">
                        <input type="button" value="Save" name="submit" id="btnSubmit" class="btn btn-info " />
                        <input type="button" value="Refresh" name="reset" id="btnReset" onclick="javascript:window.location.reload()" class="btn btn-info" />
                    </div>
                </div>
                @*<div class="col-md-1 col-sm-1">
                    <div class="form-group" style="padding-top:30%;">
                        
                    </div>
                </div>*@
            </div>
            <div class="row">
                <div class="container-fluid">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="row text-center">
                                <div class="col-md-1 col-sm-1">Serial No.</div>
                                <div class="col-md-1 col-sm-1">PayScaleID</div>
                                @*<div class="col-md-3 col-sm-3">Employee Type</div>*@
                                <div class="col-md-3 col-sm-3">PayScale</div>
                                <div class="col-md-2 col-sm-2">Grade Pay</div>
                                <div class="col-md-2 col-sm-2">Increment (%)</div>
                                <div class="col-md-1 col-sm-1">Edit</div>
                            </div>
                        </div>
                        <div class="panel-body clstbl" style="max-height:500px;overflow-y:scroll;">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


















