﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<center style="color:red"><h2>401</h2><h3>Login required</h3><a href="/Home/AdministrativeLoginUI" style="color:red"><span style="font-size:12px">click here</span></a></center>*@

<div class="page-404">
    <p class="text-404">401</p>

    <h2 style="color:red">Oops!</h2>
    <p style="color:red">Login required<br><a href="/Home/AdministrativeLoginUI" style="color:yellow"><span style="font-size:12px">click here</span></a>
</div>

