﻿

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <label>Dynamic Report</label>
        </div>
        <input type="hidden" id="hdnDAID" />
        <div class="panel-body">
            <div class="row">
                <div class="form-group">
                    
                    <div class="col-md-10" >
                        <label for="firstName" class="control-label">Report for :</label>
                        <select id="ddlReportName" class="form-control">
                            <option selected value="">--(Select)--</option>
                                @foreach (var lstreport in ViewBag.lstReport)
                                {
                                    <option value="@lstreport.ReportID">@lstreport.ReportHeader</option>
                                }
                        </select>
                    </div>
                    <div class="col-md-2" style="padding-top:25px">
                        <button type="button" id="cmdExcel" class="btn btn-primary">Show Excel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $("#cmdExcel").click(function (e) {
           var Parameter = "E";
            if ($("#ddlReportName").val() == '') {
                $("#ddlReportName").focus();
                return false;
            }
            var ReportID = $("#ddlReportName").val();
            var ReportHeader = $('#ddlReportName').find('option:selected').text();
            //E = "{ReportID:" + ReportID + ", Parameter:'" + Parameter + "', ReportHeader:'" + ReportHeader + "'}";
            //$.ajax({
            //    type: "POST",
            //    url: "/Administration/Master/ReportBuilder/Open_Excel",
            //    data: E,
            //    dataType: "json",
            //    contentType: "application/json; charset=utf-8",
            //    success: function (msg) {
            window.open("/DynamicReport.aspx?ReportID=" + 1  + "&ddlReportID=" + ReportID + "&Parameter=" + Parameter + "&ReportHeader=" + ReportHeader);
            return false;
            //    }
            //});
        });

        $("#btnRefresh").click(function () {
            location.reload();
        });
    });

   
</script>
