﻿

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/AppJs/Employee_IncrementPerct.js"></script>

<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div style="width:100%; padding-top:2px">
                <label class="control-label">Employee Increment Percentage</label>
            </div>
        </div>



        <div class="panel-body">
            <div class="mywrapper">

                <div class="row">
                    <div class="form-group">
                       
                        <div class="row">
                            <div class="form-group">
                                @*<div class="col-md-2" style="margin-top:7px">
                                    <label class="control-label" style="font-style:italic">Search by EmpNo</label>
                                </div>*@
                                @*<div class="col-md-2">
                                    <input id="txtSearchEmpNo" placeholder="EmpNo" class="form-control" />
                                    <input id="hdnEmpID" type="hidden" />
                                </div>*@
                            </div>
                        </div>
                        <div class="row" id="other_Itax">
                            <div class="container-fluid">
                                <div class="form-group" style='max-height:400px;overflow-y:scroll;'>
                                    <table id="tbl" class="Grid" style="border-collapse:collapse;">
                                        <thead id="myHeader">
                                            <tr style="border: 1px solid #333">
                                                <th style="border: 1px solid; text-align:center;">Emp No</th>
                                                <th style="border: 1px solid; text-align:center;">Employee Name</th>
                                                <th style="border: 1px solid; text-align:center;">Increment Percentage</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>




<style>
    .hover {
        background-color: #D4EFDF;
    }

    thead {
        display: table-header-group;
    }

    tfoot {
        display: table-footer-group;
    }
</style>

<style type="text/css">
    .scrollbar {
        float: left;
        height: 300px;
        background: #F5F5F5;
        overflow-y: scroll;
        margin-bottom: 25px;
    }

        .scrollbar::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            background-color: #F5F5F5;
        }

        .scrollbar::-webkit-scrollbar {
            width: 10px;
            background-color: #F5F5F5;
        }

        .scrollbar::-webkit-scrollbar-thumb {
            background-color: #bdbdbd;
            /*border: 2px solid #555555;*/
        }
</style>



