﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/AppJs/DA_HRA_MA_Master.js"></script>


<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <label>Update DA HRA MA Master</label>
        </div>
        <input type="hidden" id="hdnDAID" />
        <div class="panel-body">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-3">
                        <label id="1" class="control-label" style="font-style:italic">Earning Type</label><span id="spn1" style="color:red"></span>
                        <select id="ddlErnType" class="form-control">
                            <option value="">--- (Select) ---</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label id="2" class="control-label" style="font-style:italic">Employee Type</label><span id="spn2" style="color:red"></span>
                        <select id="ddlEmpType" class="form-control">
                            <option value="">--- (Select) ---</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label id="3" class="control-label" style="font-style:italic">New DA Rate</label><span id="spn3" style="color:red"></span>
                        <select id="ddlDARate" class="form-control">
                            <option value="">--- (Select) ---</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="padding-top:25px; text-align:right">
                    <button type="button" id="btnShowChanges" class="btn btn-primary">Show Changes</button>
                    <button type="button" id="btnRefresh" class="btn btn-primary">Refresh</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Div1" role="dialog" style="height:100%">
    <div class="modal-dialog" style="width:70%;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="width:100%; height:550px">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-2" style="margin-top:7px">
                            <label class="control-label" style="font-style:italic">Search Emp No</label>
                        </div>
                        <div class="col-md-3">
                            <input id="txtSearchEmpNo" class="form-control" />
                            <input id="hdnEmpID" type="hidden" />
                        </div>
                        <div class="col-md-3" style="margin-top:7px; text-align:right">
                            <label>Total Employee Count : </label>
                        </div>
                        <div class="col-md-1">
                            <label id="lblCountEmp" style="font-weight:bold;margin-top:7px; text-align:left"></label>
                        </div>
                        <div class="col-md-2">
                            <input type="button" id="btnPrint" class="btn btn-primary" value="Print" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="container-fluid">
                        <div class="form-group" style=" max-height:400px;overflow-y:scroll;">
                            <table id="tbl" class="Grid" style="border-collapse:collapse;">
                                <thead id="myHeader">
                                    <tr style="border: 1px solid #333">
                                        <th style="border: 1px solid;"></th>
                                        <th style="border: 1px solid;">Sl.No.</th>
                                        <th style="border: 1px solid; text-align:center;">Emp No</th>
                                        <th style="border: 1px solid; text-align:center;">Employee Name</th>
                                        <th style="border: 1px solid; text-align:center;">Loaction</th>
                                        <th style="border: 1px solid; text-align:center;">Old DA</th>
                                        <th style="border: 1px solid; text-align:center;">New DA</th>
                                        <th style="border: 1px solid; text-align:center;">Decline</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        
                        <div class="col-md-1" style="margin-top:7px">
                            <label class="control-label">Decline</label>
                        </div>
                        <div class="col-md-2">
                            <select id="ddlDecline" class="form-control">
                                <option value="">--- (Select) ---</option>
                                <option value="Y">Yes</option>
                                <option value="N">No</option>
                            </select>
                        </div>
                        <div class="col-md-1" style="margin-top:7px">
                            <label class="control-label">Remarks</label>
                        </div>
                        <div class="col-md-5">
                            <input id="txtRemarks" class="form-control" placeholder="Remarks"/>
                        </div>
                        <div class="col-md-1">
                            <button type="button" id="btnUpdate" class="btn btn-primary">Update</button>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:5px">
                    <div class="col-md-12" style="text-align:right">
                        <div style="border: 1px solid #a52a2a"></div>
                    </div>
                    <div class="col-md-12" style="text-align:center; margin-top:5px">
                        <button type="button" id="btnGenerate" class="btn btn-warning">Final Generate</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>