﻿<div class="row">
    <div class="form-group">
        <div class="=col-md-12">
            <input type="hidden" id="ReportTypeID" name="ReportID" value="@TempData["ReportTypeID"]" />
        </div>
        <div class="col-md-12" style="text-align:right">
            <label id="pdf" class="radio-inline"><input type="radio" id="radioPDF" name="optradio">PDF</label>
            <label id="excel" class="radio-inline"><input type="radio" id="radioExcel" name="optradio">Excel</label>
        </div>
        <div class="col-md-12" style="text-align:center">
            <input type="button" value="Show Report" id="btnShow" class="btn btn-primary" />
            <button type="button" id="btnRefresh" class="btn btn-primary">Refresh</button>
        </div>
    </div>
</div>



<script type="text/javascript">
    var isPDFExcel = "";
    var saveBtn = '';
    $(function () {
        Show_PDF_Excel(); buttonshowhide();
        $('#radioPDF').change(function () {
            isPDFExcel = "1";
        });
        $('#radioExcel').change(function () {
            isPDFExcel = "2";
        });

        $("#btnShow").on('click', function (e) {
            if (saveBtn == '1') {
                e.preventDefault();
                var ReportID = $("#ddlReportList").val();

                if (ReportID == "") {
                    alert("Please Select Report Type !"); return false;
                }
                if (isPDFExcel == "") {
                    alert("Please Select Report Print Option !"); return false;
                }

                var Master = {
                    SectorID: $("#ddlSector").val(), SalFinYear: $("#txtSalFinYear").val(), SalMonthID: $("#txtSalMonthID").val(),
                    SalMonth: $("#txtSalMonth").val(), isPDFExcel: isPDFExcel
                };

                if (ReportID != "") {
                    var E = "{ReportID :" + ReportID + ", Params: " + JSON.stringify(Master) + "}";

                    //PDF
                    if (isPDFExcel == 1) {
                        $.ajax({
                            type: "POST",
                            url: "/All_Report/SaveReportData",
                            data: E,
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function (D) {
                                var left = ($(window).width() / 2) - (900 / 2),
                                       top = ($(window).height() / 2) - (600 / 2),
                                       popup = window.open("/ReportView.aspx?ReportID=" + ReportID + "&SalMonth=" + $("#txtSalMonth").val() + "&ReportTypeID=" + $("#ReportTypeID").val(), "popup", "width=900, height=600, top=" + top + ", left=" + left);
                                popup.focus();
                            }
                        });
                    }

                    //EXCEL
                    if (isPDFExcel == 2) {

                        window.open("/AllExcel.aspx?ReportTypeID=" + $("#ReportTypeID").val() + "&ReportID=" + ReportID + "&SalMonth=" + $("#txtSalMonth").val() + "&SalMonthID=" + $("#txtSalMonthID").val() + "&SalFinYear=" + $("#txtSalFinYear").val() +
                                    "&SectorID=" + $("#ddlSector").val());
                        return false;
                    }

                }
            }
            else {
                alert('sorry! You are not eligible');
            }
        });
    });

    function Show_PDF_Excel()
    {
        var ReportTypeID = $("#ReportTypeID").val();
        var ReportID = $("#ddlReportList").val();
        if (ReportID != "") {
            var E = "{ ReportTypeID : " + ReportTypeID + ", ReportID : '" + ReportID + "'}";
            $.ajax({
                type: "POST",
                url: "/All_Report/Show_PDF_Excel",
                data: E,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (D) {
                    var lstData = D.Data;
                    if(lstData.length >0)
                    {
                        var isPDF = lstData[0].isPDF;
                        var isExcel = lstData[0].isExcel;
                        if (isPDF == 1)
                            $('#pdf').show();
                        else
                            $('#pdf').hide();

                        if (isExcel == 1)
                            $('#excel').show();
                        else
                            $('#excel').hide();

                    }
                }
            });
        }
    }

    function buttonshowhide() {
        var E = "{ procedurename :'payroll.SalaryEncrypt_others'}";
        $.ajax({
            type: "POST",
            url: "/All_Report/buttonshowhide",
            data: E,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (D) {
                var t = D.Data;
                saveBtn = t[0].button;
                if (t[0].button == 1) {
                    $('#btnShow').show();
                }
                else {
                    $('#btnShow').hide();
                }
            }
        });
    }
</script>




