﻿<div class="row">
    <div class="form-group">
        <div class="=col-md-3">
            <input type="hidden" id="ReportTypeID" name="ReportID" value="@TempData["ReportTypeID"]" />
 <label id="2" class="control-label" style="font-style:italic">Employee Bank</label><span style="color:red">&nbsp;*</span>
            <Select id="ddlEmpBank" class="form-control">
                <option>Select</option>
            </Select>
        </div>
        <div class="col-md-12" style="text-align:right">
            <label id="pdf" class="radio-inline"><input type="radio" id="radioPDF" name="optradio">PDF</label>
            <label id="excel" class="radio-inline"><input type="radio" id="radioExcel" name="optradio">Excel</label>
        </div>
        <div class="col-md-12" style="text-align:center">
            <input type="button" value="Show Report" id="btnShow" class="btn btn-primary" />
            <button type="button" id="btnRefresh" class="btn btn-primary">Refresh</button>
        </div>
    </div>
</div>


<div class="modal fade" id="Div1" role="dialog" style="height:100%">
    <div class="modal-dialog" style="width:70%;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="width:100%; height:550px;">
                <div class="row">

                    <div class="col-md-3">
                        <label class="control-label" style="font-style:italic">Search By Emp No.</label>
                        <input id="txtSearchEmpNo" class="form-control" placeholder="EmpNo" onkeydown="return !((event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 ) && event.keyCode!=8 && event.keyCode!=46);" />
                        <input id="hdnEmpID" type="hidden" />
                    </div>

                    <div class="col-md-3">
                        <label class="control-label" style="font-style:italic">Cheque No.</label>
                        <input id="txtChequeNo" class="form-control" placeholder="Cheque No" onkeydown="return !((event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 ) && event.keyCode!=8 && event.keyCode!=46);" />
                    </div>
                    <div class="col-md-3">
                        <label class="control-label" style="font-style:italic">Cheque Date</label>
                        <input id="txtChequeDate" class="form-control" placeholder="DD/MM/YYYY" />
                    </div>
                    <div class="col-md-3" style="padding-top:24px" >
                        <button type="button" id="btnUpdate" class="btn btn-warning">Update</button>
                        <button type="button" id="btnPrint" class="btn btn-warning">Print</button>
                    </div>
                  
                </div>
                <div class="row">
                    <div class="container-fluid">
                        <div id="lll" class="form-group" style="max-height:440px; overflow-y:scroll; ">
                            <table id="tbl" class="Grid" style="border-collapse:collapse; ">
                               
                                <thead id="lblHeader"><tr><td colspan="9" style="text-align:center; font-size:22px">Sample report not for office use</td></tr></thead>
                                <thead>
                                    <tr>
                                        <th style="border: 1px solid; text-align:center;">SlNo.</th>
                                        <th style="border: 1px solid; text-align:center;">Emp No</th>
                                        <th style="border: 1px solid; text-align:center;">Emp Name</th>
                                        <th style="border: 1px solid; text-align:center;">Bank</th>
                                        <th style="border: 1px solid; text-align:center;">Branch</th>
                                        <th style="border: 1px solid; text-align:center;">IFSC</th>
                                        <th style="border: 1px solid; text-align:center;">MICR</th>
                                        <th style="border: 1px solid; text-align:center;">Account No</th>
                                        <th style="border: 1px solid; text-align:center;">Net Amount</th>
                                    </tr>
                                </thead>
                               <tbody id="tbody"></tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    var isPDFExcel = "";
    $(function () {
        Show_PDF_Excel();
  BindBank();
        $('#radioPDF').change(function () {
            isPDFExcel = "1";
        });
        $('#radioExcel').change(function () {
            isPDFExcel = "2";
        });

        $("#btnShow").on('click', function (e) {
            e.preventDefault();

             var bankid = $('#ddlEmpBank').val();
            if (bankid == "") { $('#ddlEmpBank').focus(); return false; }
            Show_BankData();
        });
        $('#btnPrint').click(Print);
        $("#btnUpdate").on('click', function (e) {
            var result = confirm('Are you sure want to generate Bank Slip for the month of ' + $("#txtSalMonth").val() + ' ?');
            if(result == true)
            {
                if ($("#txtChequeNo").val() == "")
                {
                    alert('Please Enter Cheque No.'); $("#txtChequeNo").focus(); return false;
                }
                if ($("#txtChequeDate").val() == "") {
                    alert('Please Enter Cheque Date.'); $("#txtChequeDate").focus(); return false;
                }

                var chqdate = '';  
                if ($.trim($('#txtChequeDate').val()) != "") {
                    var cdate = ($.trim($('#txtChequeDate').val())).split('/');
                    chqdate = cdate[2] + "-" + cdate[1] + "-" + cdate[0];
                }

                var Master = {
                    SectorID: $("#ddlSector").val(), SalFinYear: $("#txtSalFinYear").val(), SalMonthID: $("#txtSalMonthID").val(),
                    SalMonth: $("#txtSalMonth").val(), isPDFExcel: isPDFExcel, ChequeNo: $.trim($('#txtChequeNo').val()), ChequeDate: chqdate
                };

                var E = "{Params: " + JSON.stringify(Master) + "}"; 
                $.ajax({
                    type: "POST",
                    url: "/All_Report/Update_BankSlip",
                    data: E,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (D) {
                        var t = D.Data;
                        if(t == "success")
                        {
                            alert("Bank Details are Updated Successfully !");
                           // jQuery.noConflict();
                            $('#Div1').modal('hide'); return false;
                        }
                        else
                        {
                            alert(D.Message); return false;
                        }
                    }
                });
            }
        });
    });
    function Show_BankData()
    {
        var ReportID = $("#ddlReportList").val();

        if (ReportID == "") {
            alert("Please Select Report Type !"); return false;
        }
        if (isPDFExcel == "") {
            alert("Please Select Report Print Option !"); return false;
        }

        var Master = {
            SectorID: $("#ddlSector").val(), SalFinYear: $("#txtSalFinYear").val(), SalMonthID: $("#txtSalMonthID").val(),
            SalMonth: $("#txtSalMonth").val(), BankID: $("#ddlEmpBank").val(), isPDFExcel: isPDFExcel
        };

        if (ReportID != "") {
            var E = "{ReportID :" + ReportID + ", Params: " + JSON.stringify(Master) + "}";

                $.ajax({
                    type: "POST",
                    url: "/All_Report/Show_Grid",
                    data: E,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (D) {
                        var t = D.Data; 
                        if (t.length > 0) {

                            var result = t[0].Result; 

                            if (result == "NoEncod") {
                                $('#tbl tr.trclass').remove();
                                var trcount = 1;
                                var total = 0;


                                $("#lblHeader").hide();
                                $.each(D.Data, function (index, value) {
                                    $("#tbl tbody").append("<tr class='trclass'><td>" +
                                        trcount + "</td><td style='text-align:center' class='EmpNo'>" +
                                        value.EmpNo + "</td><td>" +
                                        value.EmpName + "</td><td>" +
                                        value.BankName + "</td><td>" +
                                        value.Branch + "</td><td style='text-align:center'>" +
                                        value.IFSC + "</td><td style='text-align:center'>" +
                                        value.MICR + "</td><td style='text-align:center'>" +
                                        value.BankAccCode + "</td><td style='text-align:center'>" +
                                        value.NetPay + "</td></tr>");
                                    trcount++;
                                    total = parseFloat(total) + parseFloat(value.NetPay);
                                });
                                $("#tbl tbody").append("<tr class='trclass' style='background-color:aquamarine'><td>" +
                                       "" + "</td><td style='text-align:center' class='EmpNo'>" +
                                       "" + "</td><td>" +
                                       "" + "</td><td>" +
                                       "" + "</td><td>" +
                                       "" + "</td><td style='text-align:center'>" +
                                       "" + "</td><td style='text-align:center'>" +
                                       "" + "</td><td style='text-align:center'>" +
                                       "Total" + "</td><td style='text-align:center'>" +
                                       total + "</td></tr>");


                                //jQuery.noConflict();
                                $('#Div1').modal('show');
                            }
                            else {

                                if (isPDFExcel == 1) {  //PDF
                                    
                                            var left = ($(window).width() / 2) - (900 / 2),
                                            top = ($(window).height() / 2) - (600 / 2),
                                            popup = window.open("/ReportView.aspx?ReportID=" + ReportID + "&SalMonth=" + $("#txtSalMonth").val() + "&ReportTypeID=" + $("#ReportTypeID").val() + "&PDFExcel=" + "1" + "&BankID=" + $('#ddlEmpBank').val(), "popup", "width=900, height=600, top=" + top + ", left=" + left);
                                            popup.focus();
                                     
                                }
                                else  //EXCEL
                                {
                                    window.open("/ReportView.aspx?ReportID=" + ReportID + "&SalMonth=" + $("#txtSalMonth").val() + "&ReportTypeID=" + $("#ReportTypeID").val() + "&PDFExcel=" + "2" + "&BankID=" + $('#ddlEmpBank').val(), "popup", "width=900, height=600, top=" + top + ", left=" + left);
                                    return false;

                                        //window.open("/AllExcel.aspx?ReportID=" + ReportID + "&SalMonth=" + $("#txtSalMonth").val() + "&SalMonthID=" + $("#txtSalMonthID").val() + "&SalFinYear=" + $("#txtSalFinYear").val() +
                                        //                            "&SectorID=" + $("#ddlSector").val() + "&ReportTypeID=" + $("#ReportTypeID").val());
                                        //return false;
                                }
                            }
                        }
                    }
                });

        }
    }
    function Show_PDF_Excel()
    {
        var ReportTypeID = $("#ReportTypeID").val();
        var ReportID = $("#ddlReportList").val();
        if (ReportID != "") {
            var E = "{ ReportTypeID : " + ReportTypeID + ", ReportID : '" + ReportID + "'}";
            $.ajax({
                type: "POST",
                url: "/All_Report/Show_PDF_Excel",
                data: E,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (D) {
                    var lstData = D.Data;
                    if(lstData.length >0)
                    {
                        var isPDF = lstData[0].isPDF;
                        var isExcel = lstData[0].isExcel;
                        if (isPDF == 1)
                            $('#pdf').show();
                        else
                            $('#pdf').hide();

                        if (isExcel == 1)
                            $('#excel').show();
                        else
                            $('#excel').hide();

                    }
                }
            });
        }
    }
    function Print() {
        var prnt = document.getElementById('tbl');
        prnt.border = 1;
        prnt.align = "center";
        
        var p = window.open('', 'Print', 'left=100,top=100,width=1000,height=1000,tollbar=0,scrollbars=1,status=0,resizable=1');

        // p.document.write("<h2 style='text-align:center; '>Sample report not for office use</h1>");
        $("#lblHeader").show();
        p.document.write(prnt.outerHTML);
        p.document.close();
        p.focus();
        
       
        $('tr').children().eq(0).show();
        $('#tbl tr').find('td:eq(0)').show();
        
        p.print();
        p.close();
        $("#lblHeader").hide();
    }
 function BindBank() {
        var options = {};
        options.url = "/All_Report/Get_EmployeeBank";
        options.type = "POST";
        options.data = {};
        options.dataType = "json";
        options.contentType = "application/json";
        options.success = function (listCenter) {
            var a = listCenter.Data.length;
            if (a > 0) {
                $.each(listCenter.Data, function (index, value) {
                    var label = value.BankName;
                    var val = value.BankID;
                    $("#ddlEmpBank").append($("<option></option>").val(val).html(label));
                });
            }
        };
        options.error = function () { alert("Error in retrieving BankName!"); };
        $.ajax(options);

    }
    $(document).ready(function () {
        $("#txtSearchEmpNo").on("keyup", function () {
            if ($(this).val().trim() == "") {
                $("#tbl tbody tr").show();
                return;
            }
            var value = $(this).val();
            var s = $("#tbl tbody tr").not(".EmpNo:contains('" + value.toUpperCase() + "')");
            var s1 = $("#tbl tbody tr").find(".EmpNo:contains('" + value.toUpperCase() + "')");
            s.hide();
            s1.parent().show();
        });

        $('#txtChequeDate').datepicker({
            showOtherMonths: true,
            selectOtherMonths: true,
            closeText: 'X',
            showAnim: 'drop',
            changeYear: true,
            changeMonth: true,
            duration: 'slow',
            dateFormat: 'dd/mm/yy'
        });
    });
</script>




