﻿<div class="row">
    <div class="form-group">
        <div class="col-md-12" style="text-align:right">
            <label id="pdf" class="radio-inline"><input type="radio" id="radioPDF" name="optradio">PDF</label>
            <label id="excel" class="radio-inline"><input type="radio" id="radioExcel" name="optradio" >Excel</label>
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group">
        <div class="=col-md-12">
            <input type="hidden" id="ReportTypeID" name="ReportID" value="@TempData["ReportTypeID"]" />
        </div>

        <div class="col-md-4">
            <label id="lblFrom" class="control-label">From</label>
            <input type="text" id="txtFrom" class="form-control" />
        </div>
        <div class="col-md-4">
            <label id="lblTo" class="control-label">To</label>
            <input type="text" id="txtTo" class="form-control" />
        </div>
        <div class="col-md-4">
            <label id="lblVoucherNo" class="control-label">Voucher No.</label>
            <input type="text" id="txtVoucherNo" class="form-control" />
            <input type="hidden" id="hdnVoucherNo" class="form-control" />
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group">
        <div class="col-md-12" style="text-align:center; padding-top:10px;">
            <input type="button" value="Show Report" id="btnShow" class="btn btn-primary" />
            <button type="button" id="btnRefresh" class="btn btn-primary">Refresh</button>
        </div>
    </div>
</div>


<script type="text/javascript">
    var isPDFExcel = "1";
    $(function () {
        Show_PDF_Excel();
        $('#radioPDF').prop('checked', true);


        $('#radioPDF').change(function () {
            isPDFExcel = "1";
        });
        $('#radioExcel').change(function () {
            isPDFExcel = "2";
        });
        $('#btnRefresh').click(function () {
            Blank();
        });
        $('#txtFrom, #txtTo').datepicker({
            showOtherMonths: true,
            selectOtherMonths: true,
            closeText: 'X',
            showAnim: 'drop',
            changeYear: true,
            changeMonth: true,
            duration: 'slow',
            dateFormat: 'dd/mm/yy'
        });

        $("#btnShow").on('click', function (e) {
            e.preventDefault();

            var ControllerName = "VoucherMaster"; //FormName
            var ReportName = "Voucher";
            var ReportType = "Voucher Master";

            if ($("#txtFrom").val() != "") {
                var isFrom = isValidDate($("#txtFrom").val());
                if (isFrom == false) {
                    alert("Please Select Valid From Date !!"); $("#txtFrom").focus(); return false;
                }
            }
            else {
                $("#txtFrom").focus(); return false;
            }
            if ($("#txtTo").val() != "") {
                var isTo = isValidDate($("#txtTo").val());
                if (isTo == false) {
                    alert("Please Select Valid To Date !!"); $("#txtTo").focus(); return false;
                }
            }
            else {
                $("#txtTo").focus(); return false;
            }

            if ($("#txtFrom").val() != "" && $("#txtTo").val() == "") {
                alert("Please Select To Date !!"); $("#txtTo").focus(); return false;
            }
            if ($("#txtFrom").val() == "" && $("#txtTo").val() != "") {
                alert("Please Select From Date !!"); $("#txtFrom").focus(); return false;
            }
            if ($("#hdnVoucherNo").val() == "") {
                alert("Please Select Valid Voucher Number !!"); $("#txtVoucherNo").focus(); return false;
            }
            if (isPDFExcel == "") {
                alert("Please Select Report Print Option !"); return false;
            }
          
            E = "{FromDate:'" + $.trim($("#txtFrom").val()) + "', ToDate:'" + $.trim($("#txtTo").val()) + "', VoucherNo:'" + $.trim($("#hdnVoucherNo").val()) + "', " +
                "FormName:'" + ControllerName + "', ReportName:'" + ReportName + "', ReportType:'" + ReportType + "'}";
            
                //PDF
                if (isPDFExcel == 1) {
                    $.ajax({
                        type: "POST",
                        url: "/Accounts_Form/VoucherMaster/Generate_Report",
                        data: E,
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (D) {
                            var left = ($(window).width() / 2) - (900 / 2),
                                top = ($(window).height() / 2) - (600 / 2),
                                popup = window.open("/Report_View.aspx", "popup", "width=900, height=600, top=" + top + ", left=" + left);
                            popup.focus();
                        }
                    });
                }

                //EXCEL
                if (isPDFExcel == 2) {

                    window.open("/AllExcel.aspx?ReportID=" + ReportID + "&SalMonth=" + $("#txtSalMonth").val() + "&SalMonthID=" + $("#txtSalMonthID").val() + "&SalFinYear=" + $("#txtSalFinYear").val() +
                                "&SectorID=" + $("#ddlSector").val());
                    return false;
                }

            
        });

        $("#txtVoucherNo").autocomplete({
            source: function (request, response) {

                var E = "{VoucherNo: '" + $.trim($("#txtVoucherNo").val()) + "', FromDate: '" + $.trim($("#txtFrom").val()) + "', ToDate: '" + $.trim($("#txtTo").val()) + "', SectorID: '" + $.trim($("#ddlSector").val()) + "'}";

                $.ajax({
                    type: "POST",
                    url: "/Accounts_Form/VoucherMaster/Load_VoucherNo",
                    data: E,
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (D) {
                        var t = D.Data;
                        var DataAutoComplete = [];
                        if (t.length > 0) {
                            $.each(t, function (index, item) {
                                DataAutoComplete.push({
                                    label: item.RefVoucherSlNo,
                                    VoucherNumber: item.VoucherNumber
                                });
                            });
                            response(DataAutoComplete);
                        }
                    }
                });
            },
            select: function (e, i) {
                $("#hdnVoucherNo").val(i.item.VoucherNumber);
            },
            minLength: 0
        }).click(function () {
            $(this).autocomplete('search', ($(this).val()));
        });
        $('#txtVoucherNo').keydown(function (evt) {
            var iKeyCode = (evt.which) ? evt.which : evt.keyCode
            if (iKeyCode == 8) {
                $("#txtVoucherNo").val('');
                $("#hdnVoucherNo").val('');
            }
            if (iKeyCode == 46) {
                $("#txtVoucherNo").val('');
                $("#hdnVoucherNo").val('');
            }
        });
    });

    function Show_PDF_Excel() {
        var ReportTypeID = $("#ReportTypeID").val();
        var ReportID = $("#ddlReportList").val();
        if (ReportID != "") {
            var E = "{ReportTypeID : '" + ReportTypeID + "', ReportID : '" + ReportID + "'}";
            $.ajax({
                type: "POST",
                url: "/All_Report/Show_PDF_Excel",
                data: E,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (D) {
                    var lstData = D.Data;
                    if (lstData.length > 0) {
                        var isPDF = lstData[0].isPDF;
                        var isExcel = lstData[0].isExcel;
                        if (isPDF == 1)
                            $('#pdf').show();
                        else
                            $('#pdf').hide();

                        if (isExcel == 1)
                            $('#excel').show();
                        else
                            $('#excel').hide();

                    }
                }
            });
        }
    }
    function Blank()
    {
        $('#txtFrom').val('');
        $('#txtTo').val('');
        $('#txtVoucherNo').val('');
        $('#hdnVoucherNo').val('');

        $('#radioPDF').prop('checked', false);
        $('#radioExcel').prop('checked', false);
    }
    function isValidDate(dateString) {
        var regEx = /^(0[1-9]|[12][0-9]|3[01])[/ /.](0[1-9]|1[012])[/ /.](19|20)\d\d$/;
        return dateString.match(regEx) != null;
    }
</script>
