﻿<div class="row">
    <div class="form-group">
        <div class="=col-md-12">
            <input type="hidden" id="ReportTypeID" name="ReportID" value="@TempData["ReportTypeID"]" />
        </div>

        <div class="col-md-3" >
            <label id="15" class="control-label" style="font-style:italic">Center</label><span id="spn15" style="color:red">&nbsp;*</span>
            <select id="ddlSchCenter" class="form-control cls_17">
                <option selected value="">--Select--</option>
            </select>
        </div>

        <div class="col-md-12" style="text-align:right">
            <label id="pdf" class="radio-inline"><input type="radio" id="radioPDF" name="optradio">PDF</label>
            <label id="excel" class="radio-inline"><input type="radio" id="radioExcel" name="optradio">Excel</label>
        </div>

        <div class="col-md-12" style="text-align:center">
            <input type="button" value="Show Report" id="btnShow" class="btn btn-primary" />
            <button type="button" id="btnRefresh" class="btn btn-primary">Refresh</button>
        </div>
    </div>
</div>



<script type="text/javascript">
    var isPDFExcel = "";
    $(document).ready(function () {
        Show_PDF_Excel();
        Populate_SalMonth($("#txtSchFinYear").val(), $("#ddlSchSector").val());

        $('#radioPDF').change(function () {
            isPDFExcel = "1";
        });
        $('#radioExcel').change(function () {
            isPDFExcel = "2";
        });

        $("#btnShow").on('click', function (e) {
            e.preventDefault();
            var ReportID = $("#ddlReportList").val();
            var SectorID = $('#ddlSchSector').val();
            var SalaryFinYear = $('#txtSchFinYear').val();
            var SalMonth = $('#ddlSchSalMonth').val();
            var CenterID = $('#ddlSchCenter').val();


            if (ReportID == ""){alert("Please Select Report Type !"); return false;}
            if (SalaryFinYear == "") { alert("Please Enter Fin Year !"); $('#txtSchFinYear').focus(); return false; }
            if (SectorID == "") { alert("Please Select Sector !"); $('#ddlSchSector').focus(); return false; }
            if (SalMonth == "") { alert("Please Select Salary Month !"); $('#ddlSchSalMonth').focus(); return false; }
            if (CenterID == "") { alert("Please Select Center !"); $('#ddlSchCenter').focus(); return false; }
            if (isPDFExcel == "") { alert("Please Select Report Print Option !"); return false;}

            var currHis = "";
            var tt = SalMonth.split('#');
            var SalMonthID = tt[0];
            var currHis = tt[1];

            var Master = {
                SectorID: SectorID, SalFinYear: SalaryFinYear, SalMonthID: SalMonthID, SalMonth: $("#ddlSchSalMonth option:selected").text(),
                isPDFExcel: isPDFExcel, CenterID: CenterID, currHis: currHis
            };

            if (ReportID != "") {
                var E = "{ReportID :" + ReportID + ", Params: " + JSON.stringify(Master) + "}";

                //PDF
                if (isPDFExcel == 1)
                {
                    $.ajax({
                        type: "POST",
                        url: "/All_Report/SaveReportData",
                        data: E,
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (D) {
                            var t = D.Data;
                            if (D.Data == "success") {
                                var left = ($(window).width() / 2) - (900 / 2),
                                       top = ($(window).height() / 2) - (600 / 2),
                                       popup = window.open("/ReportView.aspx?ReportID=" + ReportID + "&SalMonth=" + $("#txtSalMonth").val() + "&ReportTypeID=" + $("#ReportTypeID").val(), "popup", "width=900, height=600, top=" + top + ", left=" + left);
                                popup.focus();
                            }
                        }
                    });
                }

                //EXCEL
                if (isPDFExcel == 2) {

                                window.open("/AllExcel.aspx?ReportID=" + ReportID + "&SalMonth=" + $("#txtSalMonth").val() + "&SalMonthID=" + $("#txtSalMonthID").val() + "&SalFinYear=" + $("#txtSalFinYear").val() +
                                            "&SectorID=" + $("#ddlSector").val());
                                return false;
                }

            }
        });

    });

    function Show_PDF_Excel()
    {
        var ReportTypeID = $("#ReportTypeID").val();
        var ReportID = $("#ddlReportList").val();
        if (ReportID != "") {
            var E = "{ ReportTypeID : " + ReportTypeID + ", ReportID : '" + ReportID + "'}";
            $.ajax({
                type: "POST",
                url: "/All_Report/Show_PDF_Excel",
                data: E,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (D) {
                    var lstData = D.Data;
                    if(lstData.length >0)
                    {
                        var isPDF = lstData[0].isPDF;
                        var isExcel = lstData[0].isExcel;
                        if (isPDF == 1)
                            $('#pdf').show();
                        else
                            $('#pdf').hide();

                        if (isExcel == 1)
                            $('#excel').show();
                        else
                            $('#excel').hide();

                    }
                }
            });
        }
    }
    function Print() {

        var res = confirm('Are you sure want to Print the details ??');
        if (res == true) {
            var ReportID = $("#ddlReportList").val();;
            var ReportTypeID = $("#ReportTypeID").val();

            $("#btnShow").attr('href', "/All_Report/Print?ReportTypeID=" + ReportTypeID + "&ReportID=" + ReportID);


        }
    }
    function Populate_SalMonth(finYear, SectorID) {
        var E = "{ FinYear : '" + finYear + "', SectorID : '" + SectorID + "'}";
        $.ajax({
            type: "POST",
            url: "/All_Report/Show_SalMonth",
            data: E,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (D) {
                var a = D.Data.length;
                if (a > 0) {
                    $("#ddlSchSalMonth").empty();
                    $("#ddlSchSalMonth").append($("<option value=''>--Select--</option>"));
                    $.each(D.Data, function (index, value) {
                        var label = value.SalaryMonth;
                        var val = value.Salmonthid;
                        var t = val.split('#');
                        if (t[1] == 'C')
                            $("#ddlSchSalMonth").append($("<option selected></option>").val(val).html(label));
                        else
                            $("#ddlSchSalMonth").append($("<option></option>").val(val).html(label));
                    });


                }
            }
        });
    }
</script>

