﻿@using wbEcsc.Models.Application
@model List<wbEcsc.Models.Application.Report>
<form action="/Report/All_Report/Index/@ViewBag.ReportTypeID" class="frm-select-report" method="post">

    <div class="form-group">
        <div class="col-md-3">
            @{ 
                var selectedReport = "0";

                if (TempData["ReportID"]!=null)
                {
                    selectedReport = TempData["ReportID"] as string;
                }
            }
            <select name="ReportList" id="ddlReportList" class="form-control" onChange="this.form.submit">
                <option value="">--Select Report--</option>
                @foreach (var item in Model)
                {
                    <option value="@item.ReportID" @(selectedReport==item.ReportID.ToString()?" selected ":"")>@item.ReportName</option>
                }
            </select>
        </div>

    </div>

    <script type="text/javascript">
        $(function () {
            $(".frm-select-report").on('change', function () {
                $(".frm-select-report").submit();
            });
        });
        //$(document).ready(function () {
        //    $('#radioPDF').change(function () {

        //    });
        //    $('#radioExcel').change(function () {

        //    });
        //});
    </script>
</form>

