﻿
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/AppJs/ChangePassword.js"></script>
<style>
    .text_right {
        text-align: right;
    }
    .req {
        color: red;
        font-size: 13px;
        padding-left: 3px;
    }
    .perfect {
        display:none;
        float: right;
        margin-right: 230px;
        margin-top: -30px;
        color: green;
    }
    .wrong {
        display: none;
        float: right;
        margin-right: 230px;
        margin-top: -30px;
        color: red;
    }
</style>
<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <label>Change Password</label>
        </div>
        <input type="hidden" id="hdnHolidayID" />
        <input type="hidden" id="MaxSalDt" />
        <div class="panel-body">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-12" style="margin-bottom: 15px;">
                        <div class="col-md-4 text_right">
                            <label id="4" class="control-label" style="font-style:italic">Old Password<span class="req">*</span></label>
                            <span id="spn4" style="color:red"></span>
                        </div>
                        <div class="col-md-6">
                            <input type="password" class="form-control" id="OldPassword" name="OldPassword" style="width: 50%;" onkeypress="return blockSpecialChar(event)">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-12" style="margin-bottom: 15px;">
                        <div class="col-md-4 text_right">
                            <label id="12" class="control-label" style="font-style:italic">New Password<span class="req">*</span></label>
                            <span id="spn2" style="color:red"></span>
                        </div>
                        <div class="col-md-6">
                            <input type="password" class="form-control" id="NewPassword" name="NewPassword" style="width: 50%;" onkeypress="return blockSpecialChar(event)" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="col-md-4 text_right">
                            <label id="12" class="control-label" style="font-style:italic">Confirmed Password<span class="req">*</span></label>
                            <span id="spn2" style="color:red"></span>
                        </div>
                        <div class="col-md-6">
                            <input type="password" class="form-control" id="reNewPassword" name="reNewPassword" style="width: 50%;" onkeypress="return blockSpecialChar(event)" />
                            <span class="glyphicon glyphicon-ok perfect" id="perfect"></span>
                            <span class="glyphicon glyphicon-remove wrong" id="worng"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="padding-top: 25px; text-align: center;padding-bottom: 15px;">
                    <button type="button" class="btn btn-primary" id="btnUpdate" style="margin-left: -65px;margin-right: 10px;">
                        Update
                    </button>
                    <button type="button" id="btnClear" class="btn btn-primary">Clear</button>
                    
                </div>
            </div>
            
        </div>
    </div>
</div>

