﻿@using wbEcsc.Models.Application
@using wbEcsc.App_Codes;
@using wbEcsc.App_Codes.BLL;
@model List<wbEcsc.Models.Application.Report>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/AppJs/HistoryReport.js"></script>

<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <label>History Report</label>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="form-group">
                        <label class="control-label" style="font-style:italic">Report Name</label><span id="spn15" style="color:red">&nbsp;*</span>
                        <select disabled name="ReportList" id="ddlReportList" class="form-control" onChange="this.form.submit">
                            <option value="">--Select Report--</option>
                            <option selected  value="11">History Pay Slip</option>
                        </select>
                    </div>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="form-group">
                        <label id="15" class="control-label" style="font-style:italic">Sector</label><span id="spn15" style="color:red">&nbsp;*</span>
                        <select id="ddlSchSector" class="form-control cls_17">
                            <option selected value="">--Select--</option>
                            @if (SessionContext.IsAuthenticated)
                            {
                                if (SessionContext.SessionData.Sectors.Count == 1)
                                {
                                    foreach (var sector in SessionContext.SessionData.Sectors)
                                    {
                                        <option selected value="@sector.SectorID">@sector.SectorName</option>
                                    }
                                }
                                else
                                {
                                    foreach (var sector in SessionContext.SessionData.Sectors)
                                    {
                                        <option value="@sector.SectorID">@sector.SectorName</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <label id="15" class="control-label" style="font-style:italic">FinYear</label><span id="spn15" style="color:red">&nbsp;*</span>
                    <select id="txtSchFinYear" class="form-control">
                        <option value="">-- Select --</option>
                    </select>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="form-group">
                        <label id="15" class="control-label" style="font-style:italic">Sal Month </label><span id="spn15" style="color:red">&nbsp;*</span>
                        <select id="ddlSchSalMonth" class="form-control">
                            <option value="">-- Select --</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2">
                    <div class="form-group" style="padding-top:15%;">
                        <button type="button" id="btnshow" class="ladda-button btn btn-primary" data-style="expand-right"><span class="glyphicon glyphicon-search" aria-hidden="true" style="padding-right:4px"></span>Show</button>
                        @*<input type="button" id="btnRefresh" name="Refresh" class="btn btn-info" value="Refresh" />*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

