﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/AppJs/VPF.js"></script>
<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <label>VPF Calculation</label>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-12">
                        <table id="tbl" class="Grid" style="border-collapse:collapse;">
                            <thead id="myHeader">
                                <tr style="border: 1px solid #333">
                                    <th style="border: 1px solid; text-align:center;">#</th>
                                    <th style="border: 1px solid; text-align:center;">Emp No</th>
                                    <th style="border: 1px solid; text-align:center;">Employee Name</th>
                                    <th style="border: 1px solid; text-align:center;">Applicable Salary</th>
                                    <th style="border: 1px solid; text-align:center;">Perct (%)</th>
                                    <th style="border: 1px solid; text-align:center;">Calculate Amt</th>
                                    <th style="border: 1px solid; text-align:center;">Input Amt</th>
                                    <th style="border: 1px solid; text-align:center;">Edit</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>

                    @*<div class="col-md-6" style="margin-top:24px; text-align:right">
                        <button type="button" id="cmdnextMonth" class="btn btn-primary">Go to Next Month</button>
                        <button type="button" id="btnRefresh" class="btn btn-primary">Refresh</button>
                    </div>*@
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-12" style="text-align:right">
                    <button type="button" id="btnSave" onclick="Save()" class="btn btn-primary">Save</button>
                    <button type="button" id="btnRefresh" class="btn btn-primary">Refresh</button>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>


