#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1051;
    cursor: pointer;
}

#text {
    background-image: url('~/Content/Images/loader_overlay.gif') no-repeat center center fixed; 
    /*background-image: url('../Images/loader_overlay.gif');*/
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 30px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}