﻿
.Grid {
    background-color: #fff;
    margin: 5px 0 10px 0;
    border-collapse: collapse;
    font-family: Calibri;
    color: #474747;
    width:100%;
     border-left:solid 1px #acdef6;
      border-right:solid 1px #acdef6;
    border-bottom:solid 1px #acdef6;
}

    .Grid td {
        padding: 2px;
        border: solid 1px #57646b;
        font-family: Verdana;
    }

    .Grid th {
        padding: 4px 2px;
        color:brown;
        background: #acdef6;
        /*border-left: solid 1px #525252;*/
        font-size: 12px;
        height:17px;
        font-family:Verdana;
    }

    .Grid .alt {
        background: #fcfcfc url(Images/grid-alt.png) repeat-x top;
    }

    .Grid .pgr {
        background: #363670 url(../img/grid_footer.jpg) repeat-x top;
    }

        .Grid .pgr table {
            margin: 3px 0;
        }

        .Grid .pgr td {
            border-width: 0;
            padding: 0 6px;
            border-left: solid 1px Black;
            font-weight: bold;
            color: Black;
            line-height: 15px;
        }

        .Grid .pgr a {
            color: Gray;
            text-decoration: none;
        }

            .Grid .pgr a:hover {
                color: #000;
                text-decoration: none;
            }
