﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/AppJs/Projected_Salary.js"></script>

<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <label>Employee wise Salary Projection</label>
        </div>
        <input type="hidden" id="hdnDAID" />
        <div class="panel-body">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-2">
                        <label id="1" class="control-label" style="font-style:italic"></label><span id="spn1" style="color:red"></span>
                        <input type="text" id="txtSearchEmpNo" class="form-control" placeholder="EmpNo" maxlength=@ViewBag.EmpNoLength onkeydown="return !((event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 ) && event.keyCode!=8 && event.keyCode!=46);" />
                        <input type="hidden" ID="hdnEmployeeID" Value="" />
                     </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <label id="2" class="control-label" style="font-style:italic"></label><span id="spn2" style="color:red"></span>
                    <input type="text" id="txtEmpName" class="form-control" disabled />
                </div>
                <div class="col-md-3">
                    <label id="3" class="control-label" style="font-style:italic"></label><span id="spn3" style="color:red"></span>
                    <input type="text" id="txtDesignation" class="form-control" disabled />
                </div>
                <div class="col-md-3">
                    <label id="4" class="control-label" style="font-style:italic"></label><span id="spn4" style="color:red"></span>
                    <input type="text" id="txtDOB" class="form-control" disabled />
                </div>
                <div class="col-md-3">
                    <label id="5" class="control-label" style="font-style:italic"></label><span id="spn5" style="color:red"></span>
                    <input type="text" id="txtDOR" class="form-control" disabled />
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label id="6" class="control-label" style="font-style:italic"></label><span id="spn6" style="color:red"></span>
                    <input type="text" id="txtPFNo" class="form-control" disabled />
                </div>
                <div class="col-md-3">
                    <label id="7" class="control-label" style="font-style:italic"></label><span id="spn7" style="color:red"></span>
                    <input type="text" id="txtPAN" class="form-control" disabled />
                </div>
                <div class="col-md-3">
                    <label id="8" class="control-label" style="font-style:italic"></label><span id="spn8" style="color:red"></span>
                    <input type="text" id="txtPayScale" class="form-control" disabled />
                </div>
                <div class="col-md-3">
                    <label id="9" class="control-label" style="font-style:italic"></label><span id="spn9" style="color:red"></span>
                    <input type="text" id="txtSector" class="form-control" disabled />
                </div>
            </div>


            <table id="tbl" class="Grid" style="border-collapse:collapse; display: none; "> 
                <tbody id="tbody"></tbody>
            </table>

            <div class="row">
                <div class="col-md-3" style="padding-top:25px;">
                    <label id="pdf" class="radio-inline"><input type="radio" id="radioPDF" name="optradio">PDF</label>
                    <label id="excel" class="radio-inline"><input type="radio" id="radioExcel" name="optradio">Excel</label>
                </div>
                <div class="col-md-6" style="padding-top:25px; text-align:center">
                    <button type="button" id="btnProjected" class="btn btn-primary">Projected Sal Statement</button>
                    <button type="button" id="btnOriginal" class="btn btn-primary">Original Sal Statement</button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12" style="padding-top:25px; text-align:right">
                    <button type="button" id="btnRefresh" class="btn btn-primary">Refresh</button>
                </div>
            </div>
            
        </div>
    </div>
</div>
