﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/PageStyle.css" rel="stylesheet" />
<script src="~/Scripts/AppJs/LevelUserMaster.js"></script>

<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <label> Level User Master</label>
        </div>

        <input id="hdnLevelSubID" hidden="hidden" />

        <div class="panel-body">
            <div class="row">
                <div class="form-group">
                    <fieldset>
                        <legend align="center" style="background-color:#cbe9ff; font-style:italic; font-size:15px">Search :</legend>
                        <div class="col-md-6">
                            <label id="1" class="control-label" style="font-style:italic"></label><span id="spn1" style="color: red"></span>
                            <input type="text" id="txtLevelNameSearch" placeholder="-- Search here --" class="form-control">
                            <input type="hidden" id="hdnLevelSearchD" class="form-control">
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <fieldset>
                        <legend align="center" style="background-color:#cbe9ff; font-style:italic; font-size:15px">Master Details :</legend>
                        <div class="col-md-3">
                            <label id="2" class="control-label" style="font-style: italic"></label><span id="spn2" style="color: red"></span>
                            <input type="text" id="txtLevelName" class="form-control txt2" placeholder="-- Search here --">
                            <input type="hidden" id="hdnLevelID" class="form-control ">
                        </div>
                        <div class="col-md-3">
                            <label id="3" class="control-label" style="font-style: italic"></label><span id="spn3" style="color: red"></span>
                            <input type="text" id="txtUserName" class="form-control txt3">
                            <input type="hidden" id="hdnUserID" class="form-control ">
                        </div>
                        <div class="col-md-2">
                            <label id="4" class="control-label" style="font-style: italic"></label><span id="spn4" style="color: red"></span>
                            <input type="text" id="txtRank" class="form-control txt4" onkeydown="return !((event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 ) && event.keyCode!=8 && event.keyCode!=46);">
                        </div>
                        <div class="col-md-1">
                            <label id ="5" class="control-label" style="font-style:italic; ">Active</label><span id="spn5" style="color: red"></span><br />
                            <input type="checkbox" id="chkActiveFlag" name="ActiveFlag" style="zoom:1.4" checked="checked">
                        </div>
                        <div class="col-md-3" style="margin-top:25px">
                            <label id="lblActiveInActive" class="control-label" style="color:green; font-size:large">Active</label>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="text-align:right">
                    <a id="btnSave" class="btn btn-info" onclick="Save()">Save</a>
                    <a href="~/LevelUserMaster/Index" id="btnRefresh" class="btn btn-info">Refresh</a>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div>
                        <table id="tbl" class="Grid " style="border-collapse:collapse; width:100%;">
                            <thead>
                                <tr style="border: 1px solid #333">
                                    <th style="border: 1px solid; text-align:center;">Level Name</th>
                                    <th style="border: 1px solid; text-align:center;">User Name</th>
                                    <th style="border: 1px solid; text-align:center;">Rank</th>
                                    <th style="border: 1px solid; text-align:center;">Status</th>
                                    <th style="border: 1px solid; text-align:center;">Edit</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>