﻿@using wbEcsc.Models;
@{
    Layout = null;
}
<ul class="sidebar-nav nav-pills nav-stacked" id="menu">
    @foreach (var menuLevel1 in ViewBag.MenuLevel1 as List<Adm_Mst_Menu>)
    { 
        <li class="active">
            @if (menuLevel1.ParrentMenuID == null)
            {
                <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-dashboard fa-stack-1x "></i></span>@menuLevel1.MenuName</a>
         
                <ul>
                    @foreach (var item in (ViewBag.MenuLevel1 as List<Adm_Mst_Menu>).Where(x => x.ParrentMenuID != null && Convert.ToInt32(x.ParrentMenuID) == menuLevel1.MenuID))
                    {
               
                        <li>
                            <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-dashboard fa-stack-1x "></i></span>@item.MenuName</a>
                        </li>
                    }
                </ul>
            }


        </li>
    }
</ul>


