﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/AppJs/LeaveOpeningBalance.js"></script>
<link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery.dataTables.min.js"></script>

<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <label>Leave Opening Balance Master</label>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="form-group">
                        <label id="1"></label><span id="101" style="color:red"></span>
                        <input type="text" id="txtOpeningDate" name="OpeningDate" class="form-control" />                      
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="form-group">
                        <label id="2"></label><span id="102" style="color:red"></span>
                        <input type="text" id="txtEmployeeName" name="EmployeeName" class="form-control" /> 
                        <input type="hidden" id="hdnEmployeeID" name="EmployeeNameID" /> 
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="form-group">
                        <label id="3"></label><span id="103" style="color:red"></span>
                        <input type="text" id="txtLeaveAbbraviation" name="Abbravition" class="form-control" />
                        <input type="hidden" id="hdnLeaveAbbraviationID" name="AbbravitionID" /> 
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="form-group">
                        <label id="4"></label><span id="104" style="color:red"></span>
                        <input type="text" id="txtLeaveBalance" name="AmountTo" class="form-control money" />
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="form-group" style="padding-top:10%;">
                        <input type="button" id="btnSave" name="Save" class="btn btn-info" />
                        <input type="button" id="btnRefresh" name="Refresh" class="btn btn-info" value="Refresh" />
                    </div>
                </div>
            </div>            

            <div class="row">
                <div class="container-fluid">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="row">                                
                                <div class="col-lg-1 col-md-1 col-sm-1">
                                    <label>Sl. No.</label>
                                </div>
                                <div class="col-lg-0 col-md-0 col-sm-0 hide">
                                    <label>SectorID</label>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2">
                                    <label>Opening Date</label>
                                </div>
                                <div class="col-lg-0 col-md-0 col-sm-0 hide">
                                    <label>EmployeeID</label>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <label>Employee Name </label>
                                </div>
                                <div class="col-lg-0 col-md-0 col-sm-0 hide">
                                    <label>LeaveId</label>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2">
                                    <label>Leave Abbraviation</label>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2">
                                    <label>Leave Balance</label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1">
                                    <label>Update</label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1">
                                    <label>Delete</label>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body clstbl" style="max-height:400px;overflow-y:scroll;">

                        </div>                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

