﻿
@using wbEcsc.Models.Application;
@model List<wbEcsc.Models.Application.Report>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <label> Report Generation</label>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    @Html.Action("SearchPanel",new { ReportTypeID= ViewBag.ReportTypeID })
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr /><br />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @Html.Action("CallingForm")
                </div>
            </div>
            </div>
    </div>
</div>