﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/AppJs/ItaxSlapPercentage.js"></script>

<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <label>Income Tax Slap Rate</label>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="form-group">
                        <label id="1"></label><span id="101" style="color:red"></span>
                        <input type="text" id="txtFinYear" name="FinYear" class="form-control" disabled />
                        <input type="hidden" id="hdnRateSlapID" name="RateSlapID" />   
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="form-group">
                        <label id="2"></label><span id="102" style="color:red"></span>
                        <select id="ddlGender" name="Gender" class="form-control"></select>  
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="form-group">
                        <label id="3"></label><span id="103" style="color:red"></span>
                        <input type="text" id="txtAmountFrom" name="AmountFrom" class="form-control money" />
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="form-group">
                        <label id="4"></label><span id="104" style="color:red"></span>
                        <input type="text" id="txtAmountTo" name="AmountTo" class="form-control money" />                       
                    </div>
                </div>                
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="form-group">
                        <label id="5"></label><span id="105" style="color:red"></span>
                        <input type="text" id="txtAddAmount" name="AddAmount" class="form-control money" />
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="form-group">
                        <label id="6"></label><span id="106" style="color:red"></span>                        
                        <input type="text" id="txtPercentage" name="percentage" class="form-control money" />
                    </div>
                </div>               
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="form-group" style="padding-top:24px;">
                        <input type="button" id="btnSave" name="Save" class="btn btn-info" />
                        <input type="button" id="btnRefresh" name="Refresh" class="btn btn-info" value="Refresh" />
                    </div>
                </div>               
            </div>

            <div class="row">
                <div class="container-fluid">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-lg-1 col-md-1 col-sm-1 hide">
                                    <label> ID</label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1">
                                    <label>Sl. No.</label>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2">
                                    <label> Financial Year</label>
                                </div>
                                <div class="col-lg-0 col-md-0 col-sm-0 hide">
                                    <label>GenderID</label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1">
                                    <label> Gender</label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1">
                                    <label>Amount</label>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2">
                                    <label> Amount From </label>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2">
                                    <label> Amount To</label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1">
                                    <label>Percentage</label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1">
                                    <label>Update</label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1">
                                    <label>Delete</label>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body clstbl" style="max-height:400px;overflow-y:scroll;">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

