﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/AppJs/LeaveMaster.js"></script>

<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <label>Leave Master</label>
        </div>
        <input type="hidden" id="hdnLVID" />
        <div class="panel-body">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-3">
                        <label id="2" class="control-label" style="font-style:italic">Leave Description</label><span id="spn1" style="color:red"></span>
                        <input type="text" id="txtLeaveDesc" class="form-control">
                    </div>
                    <div class="col-md-3">
                        <label id="1" class="control-label" style="font-style:italic">Abbv.</label><span id="spn2" style="color:red"></span>
                        <input type="text" id="txtAbbv" class="form-control">
                    </div>
                    <div class="col-md-3">
                        <label id="6" class="control-label" style="font-style:italic">Gender</label><span id="spn3" style="color:red"></span>
                        <select id="ddlGender" class="form-control">
                            <option value="">--- (Select) ---</option>
                            <option value="M">Male</option>
                            <option value="F">Female</option>
                            <option value="B">Both</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label id="3" class="control-label" style="font-style:italic">Maximum In a Year</label><span id="spn4" style="color:red"></span>
                        <input type="text" id="txtMaxInYear" class="form-control">
                    </div>
                    <div class="col-md-3">
                        <label id="4" class="control-label" style="font-style:italic">Maximum Save</label><span id="spn5" style="color:red"></span>
                        <input type="text" id="txtMaxSave" class="form-control">
                    </div>
                    <div class="col-md-3">
                        <label id="5" class="control-label" style="font-style:italic">Maximum In Service Period</label><span id="spn6" style="color:red"></span>
                        <input type="text" id="txtMaxInServicePeriod" class="form-control">
                    </div>
                    <div class="col-md-3" style="margin-top: 30px">
                        <label id="7" class="control-label" style="font-style:italic">IsActive</label><span id="spn7" style="color:red"></span>
                        <input type="checkbox" id="chkIsActive" checked="checked" />
                    </div>
                    <div class="col-md-3" style="margin-top: 30px">
                        <label id="13" class="control-label" style="font-style:italic">IsRound</label><span id="spn7" style="color:red"></span>
                        <input type="checkbox" id="chkIsRound" checked="checked" />
                    </div>
                    <div class="col-md-3" style="margin-top: 30px">
                        <label id="14" class="control-label" style="font-style:italic">IsLeave</label><span id="spn7" style="color:red"></span>
                        <input type="checkbox" id="chkIsLeave" checked="checked" />
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12" style="padding-top:25px; text-align:right">
                    <button type="button" id="btnSave" class="btn btn-primary">Save</button>
                    <button type="button" id="btnRefresh" class="btn btn-primary">Refresh</button>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <table id="tbl" class="Grid" style="border-collapse:collapse; width:100%">
                        <thead>
                        <tr style="border: 1px solid #333">
                            <th style="border: 1px solid; text-align: center; display: none">Leave Type ID</th>
                            <th style="border: 1px solid; text-align: center;">Abbv.</th>
                            <th style="border: 1px solid; text-align: center;">Leave Name</th>
                            <th style="border: 1px solid; text-align: center;">Max. in a Year</th>
                            <th style="border: 1px solid; text-align: center;">Max Save</th>
                            <th style="border: 1px solid; text-align: center;">Max in Service Period</th>
                            <th style="border: 1px solid; text-align: center;">Gender</th>
                            <th style="border: 1px solid; text-align: center;">Active Flag</th>
                            <th style="border: 1px solid; text-align: center;">Round</th>
                            <th style="border: 1px solid; text-align: center;">Leave/Tour</th>
                            <th style="border: 1px solid; text-align: center;">Edit</th>
                            <th style="border: 1px solid; text-align: center;">Delete</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>