﻿
@using wbEcsc.App_Codes;
@using wbEcsc.Models.Application;
@using wbEcsc.App_Codes.BLL;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var SalFinYear = "";
    if (SessionContext.IsAuthenticated)
    {
        SessionData obj_salfinacc = SessionContext.SessionData;
        SalFinYear = obj_salfinacc.CurFinYear;
    }
}

<style type="text/css">
        a:link {
        text-decoration: none;
    }

    a:visited {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    a:active {
        text-decoration: underline;
        color: red;
    }
    .roundbox {
        -moz-border-radius: 6px 6px 6px 6px !important;
        -webkit-border-radius: 6px !important;
        border-radius: 6px 6px 6px 6px !important;
    }

</style>

<script src="~/Scripts/AppJs/ITaxCalculator.js"></script>
<script src="~/Scripts/AppJs/employee-master_ITAX.js"></script>
<script src="~/Scripts/jquery.maskedinput.min.js"></script>

<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <label>ITax Calculation</label>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-5">
                        <label class="control-label" style="font-style:italic">EmpNo.</label><span style="color:red">&nbsp;*</span>
                        <input type="text" id="txtEmployeeNo" value="" placeholder="EmpNo for Search" class="form-control">
                        <input type="hidden" ID="hdnEmpID" Value="" />
                    </div>
                    <div class="col-md-2">
                        <label class="control-label" style="font-style:italic">Gender</label><span style="color:red">&nbsp;*</span>
                        <input type="text" id="txtGender" value="" disabled class="form-control">
                    </div>
                    <div class="col-md-2">
                        <label class="control-label" style="font-style:italic">Salary Fin Year</label><span style="color:red">&nbsp;*</span>
                        <input type="text" id="txtFrmSalFinYear" value="@SalFinYear" class="form-control" onkeyup="SalFinYearKeyUp()">
                    </div>
                    <div class="col-md-2">
                        <label class="control-label" style="font-style:italic">Assessment Year</label><span style="color:red">&nbsp;*</span>
                        <input type="text" id="txtAssessmentYear" value="" disabled class="form-control">
                    </div>
                    <div class="col-md-1" style="margin-top:25px;">
                        <input type="button" id="btnRefresh" class="btn btn-danger" value="Refresh" onclick="FinalRefresh()" />
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="form-group">
                    <div class="col-md-12">
                        <table id="tbl_2" class="Grid">
                            <thead>
                                <tr>
                                    <th style="border: 1px solid;">SalMonth</th>
                                    <th style="border: 1px solid; text-align:center;">GrossPay</th>
                                    <th style="border: 1px solid; text-align:center;">PTax</th>
                                    <th style="border: 1px solid; text-align:center;">Itax</th>
                                    <th style="border: 1px solid; text-align:center;">PF</th>
                                    <th style="border: 1px solid; text-align:center;">NetPay</th>
                                    <th style="border: 1px solid; text-align:center;">HBL</th>
                                    <th style="border: 1px solid; text-align:center;">HRA</th>
                                    <th style="border: 1px solid; text-align:center;">Other Dedu</th>
                                    <th style="border: 1px solid; text-align:center;">Status</th>
                                </tr>

                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="text-align:right;">
                    <input type="button" id="btnReGenerate" class="btn btn-info" value="ReGenerate Projected Salary" onclick="ReGenerate()" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="form-group">
                    <div class="col-md-12">
                        <table id="tbl_1" style="width:100%; background-color:bisque"></table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-right">
                    
                    <input type="button" id="btnFinalSave" class="btn btn-success" value="Save" onclick="FinalSaveRecord()" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="divEmployee" role="dialog" style="height:100%" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog " style="width:95%;">

        <!-- Modal content-->
        <div class="modal-content roundbox">
            <div class="modal-header roundbox">
                @*<label id="lblEmpName"></label>*@
                <label id="lblEmpID" hidden="hidden"></label>
                <label id="lblSalMonth" hidden="hidden"></label>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="width:100%; height:400px; background: white; padding: 13px 40px; overflow-x: scroll;">
                <div id="tabs" class="row">
                    <ul class="nav nav-tabs" role="tablist">
                        <li id="tab1" class="active"><a href="#personal" aria-controls="personal" role="tab" data-toggle="tab">Personal Details</a></li>
                        <li><a href="#address" aria-controls="address" role="tab" data-toggle="tab">Address Details</a></li>
                        <li><a href="#official" aria-controls="official" role="tab" data-toggle="tab">Official Details</a></li>
                        <li><a href="#bank" aria-controls="bank" role="tab" data-toggle="tab">Bank Details</a></li>
                        <li><a href="#photo" aria-controls="photo" role="tab" data-toggle="tab">Photo & Signature</a></li>
                        <li><a href="#pay" aria-controls="pay" id="Pay_Details" role="tab" data-toggle="tab">Pay Details</a></li>
                    </ul>
                    <div class="tab-content" style="padding-top: 20px">

                        <div role="tabpanel" class="tab-pane active" id="personal">
                            <div class="row">
                                <div class="form-group">

                                    <fieldset>
                                        <legend align="center" style="background-color:#cbe9ff; font-style:italic; font-size:15px; width:98%;">Search :</legend>
                                        <div class="col-md-3">
                                            <label id="1" class="control-label" style="font-style:italic"></label><span id="spn1" style="color:red"></span>
                                            <input type="text" id="txtSearchEmpNo" placeholder="EmpNo" class="form-control" disabled maxlength=@ViewBag.EmpNoLength>
                                            <input type="hidden" ID="hdnEmployeeID" Value="" />
                                        </div>
                                        <div class="col-md-3">
                                            <label id="2" class="control-label" style="font-style:italic"></label><span id="spn2" style="color:red"></span>
                                            <input type="text" id="txtSearchEmpName" placeholder="Employee Name" class="form-control" disabled>
                                        </div>
                                    </fieldset>


                                    <fieldset style="margin-top:10px">
                                        <legend align="center" style="background-color:#cbe9ff; font-style:italic; font-size:15px; width:98%;">Personal Details :</legend>
                                        <div class="col-md-3">
                                            <label id="3" class="control-label" style="font-style:italic"></label><span id="spn3" style="color:red"></span>
                                            <input type="text" id="txtEmpNo" placeholder="EmpNo" class="form-control cls_3" disabled maxlength=@ViewBag.EmpNoLength>
                                        </div>
                                        <div class="col-md-3">
                                            <label id="4" class="control-label" style="font-style:italic"></label><span id="spn4" style="color:red"></span>
                                            <select id="ddlCenter" class="form-control cls_4" disabled>
                                                <option value="">-- Select --</option>

                                                @foreach (var center in ViewBag.lstCenter)
                                                {
                                                <option value="@center.CenterID">@center.CenterName</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <label id="5" class="control-label" style="font-style:italic"></label><span id="spn5" style="color:red"></span>
                                            <select id="ddlEmpType" class="form-control cls_5" disabled>
                                                <option value="">-- Select --</option>
                                                @foreach (var emptype in (new EmployeeMaster().Get_EmpType()))
                                                {
                                                    if (emptype.EmpType == "K")
                                                    {
                                                <option value="@emptype.EmpType" selected>@emptype.EmpTypeDesc</option>
                                                    }
                                                    else
                                                    {
                                                <option value="@emptype.EmpType">@emptype.EmpTypeDesc</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <label id="6" class="control-label" style="font-style:italic"></label><span id="spn6" style="color:red"></span>
                                            <select id="ddlClassifctn" class="form-control cls_6" disabled>
                                                <option value="">-- Select --</option>
                                                @foreach (var classifiction in ViewBag.lstClassification)
                                                {
                                                <option value="@classifiction.ClassificationID">@classifiction.Classification</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <label id="7" class="control-label" style="font-style:italic"></label><span id="spn7" style="color:red"></span>
                                            <input type="text" id="txtEmpName" class="form-control cls_7" disabled>
                                        </div>
                                        <div class="col-md-3">
                                            <label id="79" class="control-label" style="font-style:italic"></label><span id="spn79" style="color:red"></span>
                                            <input type="text" id="txtFatherName" class="form-control cls_79" disabled>
                                        </div>
                                        <div class="col-md-3">
                                            <label id="8" class="control-label" style="font-style:italic"></label><span id="spn8" style="color:red"></span>
                                            <select id="ddlReligion" class="form-control cls_8" disabled>
                                                <option value="">-- Select --</option>
                                                @foreach (var religion in ViewBag.lstReligion)
                                                {
                                                <option value="@religion.ReligionID">@religion.Religion</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <label id="9" class="control-label" style="font-style:italic"></label><span id="spn9" style="color:red"></span>
                                            <select id="ddlQualftn" class="form-control cls_9" disabled>
                                                <option value="">-- Select --</option>
                                                @foreach (var qualification in ViewBag.lstQualification)
                                                {
                                                <option value="@qualification.QualificationID">@qualification.Qualification</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <label id="10" class="control-label" style="font-style:italic"></label><span id="spn10" style="color:red"></span>
                                            <select id="ddlMarital" class="form-control cls_10" disabled>
                                                <option value="">-- Select --</option>
                                                <option Value="M">Married</option>
                                                <option Value="S">Single</option>
                                                <option Value="W">Window</option>
                                                <option Value="D">Divorcee</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <label id="11" class="control-label" style="font-style:italic"></label><span id="spn11" style="color:red"></span>
                                            <select id="ddlCaste" class="form-control cls_11" disabled>
                                                <option value="">-- Select --</option>
                                                @foreach (var caste in ViewBag.lstCaste)
                                                {
                                                <option value="@caste.CasteID">@caste.Caste</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <label id="12" class="control-label" style="font-style:italic"></label><span id="spn11" style="color:red"></span>
                                            <input type="text" id="txtDOB" placeholder="DD/MM/YYYY" class="form-control cls_12" disabled>
                                            <span>
                                                <label id="lblYear" class="control-label" style="font-style:italic"></label>
                                                <label id="lblYears" class="control-label" style="font-style:italic">-Years</label>
                                                <label id="lblMonth" class="control-label" style="font-style:italic"></label>
                                                <label id="lblMonths" class="control-label" style="font-style:italic">-Months</label>
                                                <label id="lblDay" class="control-label" style="font-style:italic"></label>
                                                <label id="lblDa" class="control-label" style="font-style:italic">-Days</label>
                                            </span>
                                        </div>
                                        <div class="col-md-3">
                                            <label id="13" class="control-label" style="font-style:italic"></label><span id="spn13" style="color:red"></span>
                                            <select id="ddlSex" class="form-control cls_13" disabled>
                                                <option value="">-- Select --</option>
                                                <option value="M">Male</option>
                                                <option value="F">Female</option>
                                            </select>
                                        </div>


                                    </fieldset>
                                </div>
                            </div>

                        </div>

                        <div role="tabpanel" class="tab-pane" id="address">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-12" style="background-color:#cbe9ff; height:30px; padding-top:5px;  font-style:italic">
                                        Present Contact Details:
                                    </div>
                                    <div class="col-md-12">
                                        <label id="15" class="control-label" style="font-style:italic"></label><span id="spn15" style="color:red"></span>
                                        <input type="text" id="txtAddress" placeholder="Address" class="form-control cls_15" disabled autofocus>
                                    </div>
                                    <div class="col-md-3">
                                        <label id="16" class="control-label" style="font-style:italic"></label><span id="spn16" style="color:red"></span>
                                        <select id="ddlState" class="form-control cls_16" disabled>
                                            <option value="">-- Select --</option>
                                            @foreach (var state in ViewBag.lstState)
                                            {
                                            <option value="@state.StateId">@state.State</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label id="17" class="control-label" style="font-style:italic"></label><span id="spn17" style="color:red"></span>
                                        <select id="ddlDistrict" class="form-control cls_17" disabled>
                                            <option value="">-- Select --</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label id="18" class="control-label" style="font-style:italic"></label><span id="spn18" style="color:red"></span>
                                        <input type="text" id="txtCity" placeholder="City/Town" class="form-control cls_18" disabled autofocus>
                                    </div>
                                    <div class="col-md-3">
                                        <label id="19" class="control-label" style="font-style:italic"></label><span id="spn19" style="color:red"></span>
                                        <input type="text" id="txtPin" placeholder="Pin" class="form-control cls_19" maxlength="6" disabled autofocus>
                                    </div>
                                    <div class="col-md-3">
                                        <label id="20" class="control-label" style="font-style:italic"></label><span id="spn20" style="color:red"></span>
                                        <input type="text" id="txtPhone" placeholder="Phone" class="form-control cls_20" maxlength="10" disabled autofocus>
                                    </div>
                                    <div class="col-md-3">
                                        <label id="21" class="control-label" style="font-style:italic"></label><span id="spn21" style="color:red"></span>
                                        <input type="text" id="txtMobile" placeholder="Mobile" class="form-control cls_21" maxlength="10" disabled autofocus>
                                    </div>
                                    <div class="col-md-3">
                                        <label id="22" class="control-label" style="font-style:italic"></label><span id="spn22" style="color:red"></span>
                                        <input type="text" id="txtEmail" placeholder="E-mail" class="form-control cls_22" disabled autofocus>
                                    </div>
                                    <div class="col-md-12" style="background-color:#cbe9ff; height:30px; margin-top:8px; padding-top:4px; font-style:italic">
                                        Permanent Contact Details: &nbsp;&nbsp;&nbsp;<label><input type="checkbox" id="ChkDo">&nbsp;Do</label>
                                    </div>
                                    <div class="col-md-12">
                                        <label id="23" class="control-label" style="font-style:italic"></label><span id="spn23" style="color:red"></span>
                                        <input type="text" id="txtAddress_P" placeholder="Address" class="form-control cls_23" disabled autofocus>
                                    </div>
                                    <div class="col-md-3">
                                        <label id="24" class="control-label" style="font-style:italic"></label><span id="spn24" style="color:red"></span>
                                        <select id="ddlState_P" class="form-control cls_24" disabled>
                                            <option value="">-- Select --</option>
                                            @foreach (var state in ViewBag.lstState)
                                            {
                                            <option value="@state.StateId">@state.State</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label id="25" class="control-label" style="font-style:italic"></label><span id="spn25" style="color:red"></span>
                                        <select id="ddlDistrict_P" class="form-control cls_25" disabled>
                                            <option value="">-- Select --</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label id="26" class="control-label" style="font-style:italic"></label><span id="spn26" style="color:red"></span>
                                        <input type="text" id="txtCity_P" placeholder="City/Town" class="form-control cls_26" disabled autofocus>
                                    </div>
                                    <div class="col-md-3">
                                        <label id="27" class="control-label" style="font-style:italic"></label><span id="spn27" style="color:red"></span>
                                        <input type="text" id="txtPin_P" placeholder="Pin" class="form-control cls_27" maxlength="6" disabled autofocus>
                                    </div>
                                    <div class="col-md-3">
                                        <label id="28" class="control-label" style="font-style:italic"></label><span id="spn28" style="color:red"></span>
                                        <input type="text" id="txtPhone_P" placeholder="Phone" class="form-control cls_28" maxlength="10" disabled autofocus>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="official">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <label id="29" class="control-label" style="font-style:italic"></label><span id="spn29" style="color:red"></span>
                                        <input type="text" id="txtDOJ" placeholder="DOJ" class="form-control cls_29" disabled>
                                    </div>
                                    <div class="col-md-3">
                                        <label id="30" class="control-label" style="font-style:italic"></label><span id="spn30" style="color:red"></span>
                                        <input type="text" id="txtDOJDept" placeholder="DOJ" class="form-control cls_30" disabled>
                                    </div>
                                    <div class="col-md-3">
                                        <label id="31" class="control-label" style="font-style:italic"></label><span id="spn31" style="color:red"></span>
                                        <input type="text" id="txtDOR" disabled placeholder="DOR" class="form-control cls_31">
                                    </div>
                                    <div class="col-md-3">
                                        <label id="32" class="control-label" style="font-style:italic"></label><span id="spn32" style="color:red"></span>
                                        <select id="ddlPhysical" class="form-control cls_32">
                                            <option value="">-- Select --</option>
                                            <option Value="Y">Yes</option>
                                            <option Value="N">No</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label id="33" class="control-label" style="font-style:italic"></label><span id="spn33" style="color:red"></span>
                                        <select id="ddlDesig" class="form-control cls_33" disabled>
                                            <option value="">-- Select --</option>
                                            @foreach (var designation in ViewBag.lstDesignation)
                                            {
                                            <option value="@designation.DesignationID">@designation.Designation</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label id="34" class="control-label" style="font-style:italic"></label><span id="spn34" style="color:red"></span>
                                        <select id="ddlGroup" class="form-control cls_34" disabled>
                                            <option value="">-- Select --</option>
                                            @foreach (var group in ViewBag.lstGroup)
                                            {
                                            <option value="@group.GroupID">@group.GroupName</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label id="35" class="control-label" style="font-style:italic"></label><span id="spn35" style="color:red"></span>
                                        <select id="ddlCoop" class="form-control cls_35">
                                            <option value="">-- Select --</option>
                                            @foreach (var cooperative in ViewBag.lstCooperative)
                                            {
                                            <option value="@cooperative.CooperativeID">@cooperative.Cooperative</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label id="36" class="control-label" style="font-style:italic"></label><span id="spn36" style="color:red"></span>
                                        <input type="text" id="txtCoMembership" placeholder="Co-Op" class="form-control cls_36" disabled autofocus>
                                    </div>
                                    <div class="col-md-3">
                                        <label id="37" class="control-label" style="font-style:italic"></label><span id="spn37" style="color:red"></span>
                                        <select id="ddlCategory" class="form-control cls_37" disabled>
                                            <option value="">-- Select --</option>
                                            @foreach (var category in ViewBag.lstCategory)
                                            {
                                            <option value="@category.CategoryID">@category.Category</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label id="38" class="control-label" style="font-style:italic"></label><span id="spn38" style="color:red"></span>
                                        <select id="ddlDA" class="form-control cls_38">
                                            <option value="">-- Select --</option>
                                            <option value="0">Not Applicable</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label id="39" class="control-label" style="font-style:italic"></label><span id="spn39" style="color:red"></span>
                                        <select id="ddlStatus" class="form-control cls_39" disabled>
                                            <option value="">-- Select --</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label id="57" class="control-label" style="font-style:italic"></label><span id="spn57" style="color:red"></span>
                                        <select id="ddlIR" class="form-control cls_57">
                                            <option value="">-- Select --</option>
                                            <option value="0">Not Applicable</option>
                                        </select>
                                    </div>

                                    <div class="col-md-3">
                                        <label id="41" class="control-label" style="font-style:italic"></label><span id="spn41" style="color:red"></span>
                                        <select id="ddlPayScaleType" class="form-control cls_41">
                                            <option value="">-- Select --</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label id="42" class="control-label" style="font-style:italic"></label><span id="spn42" style="color:red"></span>
                                        <select id="ddlPayScale" class="form-control cls_42">
                                            <option value="">-- Select --</option>
                                        </select>
                                    </div>

                                    <div class="col-md-3">
                                        <label id="43" class="control-label" style="font-style:italic"></label><span id="spn43" style="color:red"></span>
                                        <input type="text" id="txtDNI" placeholder="DNI" class="form-control cls_43" disabled>
                                    </div>

                                    <div class="col-md-3">
                                        <label id="56" class="control-label" style="font-style:italic"></label><span id="spn56" style="color:red"></span>
                                        <input type="text" id="txtLWP" placeholder="Days" class="form-control cls_56" disabled>
                                    </div>
                                    <div class="col-md-12">
                                        <div style="background-color:#8FB7FD; height:2px; margin-top:8px"></div>
                                    </div>
                                    <div class="col-md-3" style="padding-top:26px">
                                        <div class="row">
                                            <div class="col-md-6" style="padding-top:5px">
                                                <label><input type="checkbox" id="chkHRA" value="">&nbsp;&nbsp;<label id="45" class="control-label" style="font-style:italic"></label><span id="spn45" style="color:red"></span></label>
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" id="txtmHRA" placeholder="HRA Amount" class="form-control cls_45" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label id="46" class="control-label" style="font-style:italic"></label><span id="spn46" style="color:red"></span>
                                        <select id="ddlQuatrAlt" class="form-control cls_46">
                                            <option value="">-- Select --</option>
                                            <option value='0'>Not Applicable</option>
                                            <option value="Y">Yes</option>
                                            <option selected value="N">No</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label id="47" class="control-label" style="font-style:italic"></label><span id="spn47" style="color:red"></span>
                                        <select id="ddlHRA" class="form-control cls_47">
                                            <option value="">-- Select --</option>
                                            <option value='0'>Not Applicable</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label id="48" class="control-label" style="font-style:italic"></label><span id="spn48" style="color:red"></span>
                                        <select id="ddlSpouseQtr" class="form-control cls_48">
                                            <option value="">-- Select --</option>
                                            <option value="Y">Yes</option>
                                            <option selected value="N">No</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                    </div>
                                    <div class="col-md-3">
                                    </div>
                                    <div class="col-md-3">
                                        <label id="49" class="control-label" style="font-style:italic"></label><span id="spn49" style="color:red"></span>
                                        <input type="text" id="txtSpouseAmt" placeholder="Amount" class="form-control cls_49" autofocus disabled>
                                    </div>
                                    <div class="col-md-12">
                                        <div style="background-color:#8FB7FD; height:2px; margin-top:8px"></div>
                                    </div>
                                    <div class="col-md-3">
                                        <label id="50" class="control-label" style="font-style:italic"></label><span id="spn50" style="color:red"></span>
                                        <select id="ddlHRACat" class="form-control cls_50">
                                            <option value="">-- Select --</option>
                                            @foreach (var house in ViewBag.lstHouse)
                                            {
                                            <option value="@house.HouseID">@house.HouseName</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label id="51" class="control-label" style="font-style:italic"></label><span id="spn51" style="color:red"></span>
                                        <input type="text" id="txtrentAmount" placeholder="Amount" class="form-control cls_51">
                                    </div>
                                    <div class="col-md-12">
                                        <div style="background-color:#8FB7FD; height:2px; margin-top:8px"></div>
                                    </div>
                                    <div class="col-md-3">
                                        <label id="52" class="control-label" style="font-style:italic"></label><span id="spn52" style="color:red"></span>
                                        <select id="ddlHealth" class="form-control cls_52">
                                            <option value="">-- Select --</option>
                                            <option value="0">Not Applicable</option>
                                            <option value="Y">Yes</option>
                                            <option selected value="N">No</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label id="53" class="control-label" style="font-style:italic"></label><span id="spn53" style="color:red"></span>
                                        <input type="text" id="txtHealthScheme" placeholder="Details" class="form-control cls_53">
                                    </div>
                                    <div class="col-md-3">
                                        <label id="54" class="control-label" style="font-style:italic"></label><span id="spn54" style="color:red"></span>
                                        <input type="text" id="txtEffFrm" placeholder="DD/MM/YYYY" class="form-control cls_54">
                                    </div>
                                    <div class="col-md-3">
                                        <label id="55" class="control-label" style="font-style:italic"></label><span id="spn55" style="color:red"></span>
                                        <input type="text" id="txtEffTo" placeholder="DD/MM/YYYY" class="form-control cls_55">
                                    </div>
                                    <div class="col-md-12">
                                        <div style="background-color:#8FB7FD; height:2px; margin-top:8px"></div>
                                    </div>

                                    <div class="col-md-3">
                                        <label id="44" class="control-label" style="font-style:italic"></label><span id="spn44" style="color:red"></span>
                                        <input type="text" id="txtPAN" placeholder="PAN" maxlength="10" class="form-control cls_44" disabled autofocus onkeydown="CheckPAN()">
                                    </div>
                                    <div class="col-md-3">
                                        <label id="58" class="control-label" style="font-style:italic"></label><span id="spn58" style="color:red"></span>
                                        <input type="text" id="txtUAN" placeholder="UAN" class="form-control cls_58" disabled>
                                    </div>
                                    <div class="col-md-3">
                                        <label id="14" class="control-label" style="font-style:italic"></label><span id="spn14" style="color:red"></span>
                                        <input type="text" id="txtAadhar" placeholder="Aadhar No" maxlength="12" class="form-control cls_14" disabled>
                                    </div>
                                    <div class="col-md-3">
                                        <label id="40" class="control-label" style="font-style:italic"></label><span id="spn40" style="color:red"></span>
                                        <input type="text" id="txtPFCode" placeholder="PF Code" class="form-control cls_40" disabled autofocus>
                                    </div>
                                    <div class="col-md-12">
                                        <div style="background-color:#8FB7FD; height:2px; margin-top:8px"></div>
                                    </div>


                                    <div class="col-md-12" style="margin-top:8px; background-color:aquamarine; text-align:center">
                                        <label for="uan" class="control-label">Provident Fund</label>
                                    </div>
                                    <div class="col-md-3" style="padding-top:10px">

                                        <input type="checkbox" id="chkPercent" disabled value="Percent"><span style="font-family:Verdana; font-weight:bold"><label id="59" class="control-label" style="font-style:italic"></label><span id="spn59" style="color:red"></span></span>
                                        <input type="checkbox" id="chkValue" disabled value="Value"><span style="font-family:Verdana; font-weight:bold"><label id="60" class="control-label" style="font-style:italic"></label><span id="spn60" style="color:red"></span></span>
                                    </div>
                                    <div class="col-md-3" style="padding-top:10px">
                                        <input type="text" id="txtValue" class="form-control" placeholder="PF Value" onkeydown="return !((event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 ) && event.keyCode!=8 && event.keyCode!=46);">
                                        <select id="ddlPercent" class="form-control">
                                            <option value="">-- Select --</option>
                                        </select>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="bank">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-3">
                                        <label id="61" class="control-label" style="font-style:italic"></label><span id="spn61" style="color:red"></span>
                                        <select id="ddlBank" class="form-control cls_61" disabled>
                                            <option value="">-- Select --</option>
                                            @foreach (var bank in ViewBag.lstBank)
                                            {
                                            <option value="@bank.BankID">@bank.BankName</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label id="62" class="control-label" style="font-style:italic"></label><span id="spn62" style="color:red"></span>
                                        <select id="ddlBranch" class="form-control cls_62" disabled>
                                            <option value="">-- Select --</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <label id="63" class="control-label" style="font-style:italic"></label><span id="spn63" style="color:red"></span>
                                        <input type="text" id="txtIFSC" placeholder="IFSC" class="form-control cls_63" disabled autofocus>
                                        <input type="hidden" ID="hdnIFSC" Value="" />
                                    </div>
                                    <div class="col-md-3">
                                        <label id="64" class="control-label" style="font-style:italic"></label><span id="spn64" style="color:red"></span>
                                        <input type="text" id="txtMICR" placeholder="MICR" class="form-control cls_64" disabled autofocus>
                                    </div>
                                    <div class="col-md-3">
                                        <label id="65" class="control-label" style="font-style:italic"></label><span id="spn65" style="color:red"></span>
                                        <input type="text" id="txtBankCode" placeholder="Account No" class="form-control cls_65" disabled autofocus>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="photo">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label id="66" class="control-label" style="font-style:italic"></label><span id="spn66" style="color:red"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <input id="fileToUpload" type="file" name="fileToUpload" class="headFont" Text='<%# Eval("Photo") %>' disabled />
                                                <input type="hidden" id="txtPhotoStream" class="form-control d-none" readonly>

                                                @*<button id="buttonUpload" class="button01 DefaultButton">Upload</button>
                                                    <img id="loading" src="images/ajax-loader_new.gif" style="display: none;">
                                                    <span id="imgPhoto" style="width: 26px; height: 24px;"></span>
                                                    <input type="text" id="lblPhoto"  class="form-control d-none" readonly >*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <img id="canPhoto" style="width:100px;height: 116px;" src="" />
                                    </div>

                                    <div class="col-md-4">
                                        <label id="68" class="control-label" style="font-style:italic"></label><span id="spn68" style="color:red"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <input id="fileToUploadSign" type="file" name="fileToUploadSign" class="headFont" Text='<%# Eval("Signature") %>' disabled />
                                                <input type="hidden" id="txtsigStream" class="form-control d-none" readonly>
                                                @*<button id="buttonUploadSign" class="button01 DefaultButton">Upload</button>*@
                                                @*<img id="loadingSign" src="images/ajax-loader_new.gif" style="display: none;">
                                                    <span id="imgSign" style="width: 26px; height: 24px;"></span>
                                                    <input type="text" id="lblSign" class="form-control d-none" readonly>*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4" style="padding-top:30px">
                                        <img id="canSign" style="width:150px;height: 27px;" src="" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="pay">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        <label id="70" class="control-label" style="font-style:italic"></label><span id="spn70" style="color:red"></span>
                                        <select id="ddlEarnDeduction" class="form-control">
                                            <option value="">-- Select --</option>
                                            @*@foreach (var earnDeduction in ViewBag.lstEarnDeduction)
                                                {
                                                    <option value="@earnDeduction.EDID">@earnDeduction.EarnDeduction</option>
                                                }*@
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label id="71" class="control-label" style="font-style:italic"></label><span id="spn71" style="color:red"></span>
                                        <input type="text" id="txtAmount" placeholder="Amount" class="form-control" />
                                    </div>
                                    <div class="col-md-4" style="padding-top:25px">
                                        <button type="button" id="btnAddPayDetails" class="btn btn-primary"><span id="72" class="control-label"></span></button>
                                    </div>
                                    <div class="col-md-12" style="padding-top:25px">
                                        <table id="tbl" class="Grid">
                                            <tr>
                                                <th>EarnDeduction</th>
                                                <th>Amount</th>
                                                <th>Edit</th>
                                            </tr>
                                            <tbody></tbody>
                                        </table>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-12" style="padding-top:25px; text-align:right">
                                        <button type="button" id="btnSave" class="btn btn-primary"><span id="73" class="control-label"></span></button>
                                        <button type="button" id="btnSaveMultiple" class="btn btn-primary">Multiple Month Update</button>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="divEmployeeMedical" role="dialog" style="height:100%" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog " style="width:40%;">

        <!-- Modal content-->
        <div class="modal-content roundbox" style="background: rgb(255, 255, 255);">
            <div class="modal-header roundbox">
                @*<label id="lblEmpName"></label>*@
                <label id="lblEmpID" hidden="hidden"></label>
                <label id="lblSalMonth" hidden="hidden"></label>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="width:100%; height:150px; padding: 13px 40px;">
                <div id="tabs" class="row">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label class="control-label" style="font-style:italic">Medical Allowance</label><span style="color:red">&nbsp;*</span>
                        </div>
                        <div class="col-md-5">
                            <input type="text" id="txtMedicalAllowance" value="" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnSaveMedicalAllowance" type="button" class="btn btn-success" >Save</button>
            </div>
        </div>
    </div>
</div>

