﻿
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/PageStyle.css" rel="stylesheet" />
<script src="~/Scripts/AppJs/Form16Upload.js"></script>

<div class="panel panel-default" style="width: 100%; padding: 5px; margin: 5px">
    <div class="panel-body">
        <div class="row">
            <div class="form-group">
                <div class="container main-wrap">
                    <div class="row">
                        <div class="col-8888 bg">
                            <div class="loader" id="loader-3"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <div class="col-md-2">
                            <input type="text" id="txForm16tFinYear" class="form-control" placeholder="YYYY-YYYY" />
                        </div>
                        <div class="col-md-2">
                            <button type="button" id="btnsearch" class="ladda-button btn btn-primary" data-style="expand-right"><span class="glyphicon glyphicon-search" aria-hidden="true" style="padding-right:4px"></span>Fetch</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12">
                            <table id="tbl" class="Grid" style="border-collapse:collapse; width:100%">
                                <thead>
                                    <tr style="border: 1px solid #333">
                                        <th style="border: 1px solid; text-align:center;">SlNo.</th>
                                        <th style="border: 1px solid; text-align:center;">Employee No.</th>
                                        <th style="border: 1px solid; text-align:center;">Employee Name</th>
                                        <th style="border: 1px solid; text-align:center;">Upload</th>
                                        <th style="border: 1px solid; text-align:center;">View</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dialog" role="dialog" style="height:100%" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width:50%; height:500px; margin-top:0px !important">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" style="color:red" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" style="width:100%; height:auto">
                <div class="row">
                    <div class="form-group">

                        <div class="row" style="text-align:center">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <iframe id="imgview" height="500px" width="100%"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




