﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <label>Display Settings</label>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-2" style="margin-top:7px">
                        <label class="control-label" style="font-style:italic">Header</label>
                        <input id="txtHeader" class="form-control jscolor {onFineChange:'update(1, this)'}" value="cc66ff" />
                    </div>
                    <div class="col-md-2" style="margin-top:7px">
                        <label class="control-label" style="font-style:italic">Background</label>
                        <input id="txtBackGround" class="form-control jscolor {onFineChange:'update(2, this)'}" value="cc66ff" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-12" style="margin-top:7px; text-align:center">
                        <input type="button" id="btnApply" class="btn btn-primary" value="Apply" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
       
        $('#cntrlChangeColor').click(function () {
            jQuery.noConflict();
            $('#Div1').css('display', 'block');
        });

        $('#btnApply').click(function () {

            var result = confirm('Are you sure want to Apply save changes !!');
            if(result==true)
            {
                var E = "{Header: '" + $('#txtHeader').val() + "', Background: '" + $('#txtBackGround').val() + "'}";

                $.ajax({
                    type: "POST",
                    url: "/Misnellious/Save_UserColor",
                    data: E,
                    async: false,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (D) {
                        var t = D.Data;
                        if (t == "success")
                        {
                            alert('Save Changes has been done Successfully !!'); location.reload(); return false;
                        }
                        else {
                            alert(D.Message); return false;
                        }
                    }
                });
            }
        });
    });

    function update(ID, jscolor) {
        if (ID == 1)
            $(".dark-bg").css('background-color', '#' + jscolor);
        if (ID == 2)
            $("body").css('background-color', '#' + jscolor);
    }

</script>
