﻿

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <label>Dynamic Report Query</label>
        </div>
            <div class="panel-body">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-6">
                            <label for="firstName" class="control-label">Report Name</label><span style="color:red">&nbsp;*</span>
                            <input type="text" id="txtReportName" class="form-control" required />
                        </div>
                        <div class="col-md-6">
                            <label for="firstName" class="control-label">Report Header</label><span style="color:red">&nbsp;*</span>
                            <input type="text" id="txtReportHeader" class="form-control" required />
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label for="firstName" class="control-label">Report Query</label><span style="color:red">&nbsp;*</span>
                            <textarea class="form-control" id="txtReportQuery" rows="6" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12" style="padding-top:25px; text-align:center">
                            <button type="button" id="cmdSave" class="btn btn-primary">Save</button>
                            <button type="button" id="btnRefresh" class="btn btn-primary">Refresh</button>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

<script type="text/javascript">
        $(document).ready(function () {
            var ParameterTypes = "N";
            $("#btnRefresh").click(function () {
                location.reload();
            });

            $("#cmdSave").click(function (event) {

                var reportName = $("#txtReportName").val();
                var reportHeader = $("#txtReportHeader").val();
                var reportQuery = $("#txtReportQuery").val();

                if (reportName == '') { $("#txtReportName").focus(); return false; }
                if (reportHeader == '') { $("#txtReportHeader").focus(); return false; }
                if (reportQuery == '') { $("#txtReportQuery").focus(); return false; }

                E = "{\'reportName\':\'" + reportName + "\', \'reportHeader\':\'" + reportHeader + "\' , \'reportQuery\':\'" + reportQuery + "\', \'ParameterTypes\':\'" + ParameterTypes + "\'}";
                $.ajax({
                    type: "POST",
                    url: "/Administration/Master/ReportBuilderQuery/Save_Header",
                    data: E,
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        var item = data.Data;
                        if (item == "success") {
                            alert("Details are Inserted Successfully !"); location.reload();
                        }
                        else {
                            alert(data.Message); return false;
                        }
                    }
                });
            });
        });


    </script>


