﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/AppJs/HolidayMaster.js"></script>
<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <label>Holiday Master</label>
        </div>
        <input type="hidden" id="hdnHolidayID" />
        <input type="hidden" id="MaxSalDt" />
        <div class="panel-body">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-2">
                        <label id="1" class="control-label" style="font-style:italic">Year</label><span id="spn1" style="color:red"></span>
                        @*<input type="text" id="txtYear" class="form-control" disabled>*@
                        <select id="txtYear" class="form-control" onchange="LoadData();">
                            <option value="">--- (Select) ---</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label id="2" class="control-label" style="font-style:italic">Holiday Type</label><span id="spn2" style="color:red"></span>
                        <select id="ddlHolidayType" class="form-control">
                            <option value="">--- (Select) ---</option>
                            <option value="N">NORMAL</option>
                            <option value="E">EXCEPTIONAL</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label id="3" class="control-label" style="font-style:italic">From Date</label><span id="spn3" style="color:red"></span>
                        <input type="text" id="txtFromDate" class="form-control" placeholder="dd/MM/yyyy" onclick="return FromDataValidation();">
                    </div>  
                    <div class="col-md-1" style="padding-top:25px; text-align:right">
                        <button type="button" id="btndo" class="btn btn-primary">DO</button>
                    </div>
                    <div class="col-md-2">
                        <label id="5" class="control-label" style="font-style:italic">To Date</label><span id="spn4" style="color:red"></span>
                        <input type="text" id="txtToDate" class="form-control" placeholder="dd/MM/yyyy" onclick="return FromDataValidation();">
                    </div>                    
                    <div class="col-md-2">
                        <label id="6" class="control-label" style="font-style:italic">Description</label><span id="spn5" style="color:red"></span>
                        <input type="text" id="txtDescription" class="form-control" value="Holiday">
                    </div>
                  </div>
            </div>



            
            <div class="row">
                <div class="col-md-12" style="padding-top:25px; text-align:right">
                    <button type="button" id="btnSave" class="btn btn-primary">Save</button>
                    <button type="button" id="btnRefresh" class="btn btn-primary">Refresh</button>
                    @*<button type="button" id="btnPrint" class="btn btn-primary">Print</button>*@
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <table id="tbl" class="Grid" style="border-collapse:collapse; width:100%">
                        <thead>
                            <tr style="border: 1px solid #333">
                                <th style="border: 1px solid; text-align: center; display: none">HolidayID</th>
                                <th style="border: 1px solid; text-align: center; display: none">Type</th>
                                <th style="border: 1px solid; text-align: center;">From Date</th>
                                <th style="border: 1px solid; text-align: center;">To Date</th>
                                <th style="border: 1px solid; text-align: center;">Description</th>
                                <th style="border: 1px solid; text-align: center;">Edit</th>
                                <th style="border: 1px solid; text-align: center;">Delete</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

