﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .ui-timepicker-container{
        z-index:1050!important;
    }
</style>


<link href="~/Content/jquery.timepicker.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery.timepicker.min.js"></script>

<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <label> Shift Master</label>
        </div>
        <div class="panel-body">

            <div class="row">
                <div class="col-md-12" >
                    <a id="btnNewRecord" class="btn btn-warning" >Add New Record</a>
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-md-12">
                    <input type="text" id="txtGridSearch" class="form-control " placeholder="Search">
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div>
                        <table id="tbl" class="Grid " style="border-collapse:collapse; width:100%;">
                            <thead>
                                <tr style="border: 1px solid #333">
                                    <th style="border: 1px solid; text-align:center;">Desc</th>
                                    <th style="border: 1px solid; text-align:center;">InTime</th>
                                    <th style="border: 1px solid; text-align:center;">OutTime</th>
                                    <th style="border: 1px solid; text-align:center;">Grace InTime</th>
                                    <th style="border: 1px solid; text-align:center;">Grace OutTime</th>
                                    <th style="border: 1px solid; text-align:center;">Min Half Day(hr)</th>
                                    <th style="border: 1px solid; text-align:center;">Min Full Day(hr)</th>
                                    @*<th style="border: 1px solid; text-align:center;">NShift</th>
                    <th style="border: 1px solid; text-align:center;">Active</th>*@
                                    <th style="border: 1px solid; text-align:center;">Edit</th>
                                    <th style="border: 1px solid; text-align:center;">Delete</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="NewRecord" role="dialog" style="height:100%">
    <div class="modal-dialog" style="width:70%;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <label>Add New Record</label>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="width:100%; height:200px">
                
                    <div class="row">
                        <form id="frmElement">
                            <div class="col-md-12">
                                <label id="2" class="control-label" style="font-style:italic; font-weight:bold">Description</label><span id="spn2" style="color:red"></span>
                                <input type="text" id="txtDescription" name="ShiftDesc" class="form-control txt2">
                                <input type="hidden" id="hdnShiftID" name="ShiftId" />
                            </div>
                            <div class="col-md-2">
                                <label id="3" class="control-label" style="font-style:italic; font-weight:bold">InTime</label><span id="spn3" style="color:red"></span>
                                <input type="text" id="txtInTime" name="InTime" class="form-control txt3" placeholder="select">
                            </div>
                            <div class="col-md-2">
                                <label id="4" class="control-label" style="font-style:italic; font-weight:bold">OutTime</label><span id="spn4" style="color:red"></span>
                                <input type="text" id="txtOutTime" name="OutTime" class="form-control txt4" placeholder="select">
                            </div>
                            <div class="col-md-2">
                                <label id="5" class="control-label" style="font-style:italic; font-weight:bold">Grace InTime</label><span id="spn5" style="color:red"></span>
                                <input type="text" id="txtGraceInTime" name="GraceIn" class="form-control txt5" placeholder="select">
                            </div>
                            <div class="col-md-2">
                                <label id="6" class="control-label" style="font-style:italic; font-weight:bold">Grace OutTime</label><span id="spn6" style="color:red"></span>
                                <input type="text" id="txtGraceOutTime" name="GraceOut" class="form-control txt6" placeholder="select">
                            </div>
                            <div class="col-md-2">
                                <label id="7" class="control-label" style="font-style:italic; font-weight:bold">Min Half Day (hr)</label><span id="spn7" style="color:red"></span>
                                <input type="text" id="txtMinHalfDay" name="MinHalfDayHrs" class="form-control txt7" placeholder="select">
                            </div>
                            <div class="col-md-2">
                                <label id="8" class="control-label" style="font-style:italic; font-weight:bold">Min Full Day (hr)</label><span id="spn8" style="color:red"></span>
                                <input type="text" id="txtMinFullDayHrs" name="MinFullDayHrs" class="form-control txt8" placeholder="select">
                            </div>
                            <div class="col-md-2">
                                <label id="9" class="control-label" style="font-style:italic; font-weight:bold">Wef</label><span id="spn9" style="color:red"></span>
                                <input type="text" id="txtWef" name="Wef" class="form-control txt9" placeholder="dd/mm/yyyy">
                            </div>
                        </form>
                <div class="col-md-2">
                    <label class="control-label" style="font-style:italic; font-weight:bold">NShift</label><br />
                    <input type="checkbox" id="chkNShift" name="NShift" style="zoom:1.4">
                </div>
                <div class="col-md-2">
                    <label class="control-label" style="font-style:italic; font-weight:bold">Active</label><br />
                    <input type="checkbox" id="chkActiveFlag" name="ActiveFlag" style="zoom:1.4" checked="checked">
                </div>
                <div class="col-md-6" style="text-align:right; margin-top:20px">
                    <a id="btnNewRecordSave" class="btn btn-success">Save</a>
                </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var frmElement = $('#frmElement');
        FieldNameData();
        PopulateGrid();
        $('#txtInTime, #txtOutTime').timepicker({
            'timeFormat': 'HH:mm',
            interval: 15
        });
        $('#txtGraceInTime, #txtGraceOutTime').timepicker({
            'timeFormat': 'HH:mm',
            interval: 5
        });
        $('#txtMinHalfDay, #txtMinFullDayHrs').timepicker({
            'timeFormat': 'HH:mm',
            interval: 30
        });
        $('#txtWef').datepicker({
            changeYear: true,
            changeMonth: true,
            dateFormat : "dd/mm/yy"
        });

        $(document).on('click', '#btnNewRecord', function () {
            ResetPupUp();
            jQuery.noConflict();
            $('#NewRecord').modal('show');
        })
        $(document).on('click', '#btnNewRecordSave', function () {
            SaveRecord();
        })
        $("#txtGridSearch").on("keyup", function () {
            if ($(this).val().trim() == "") {
                $("#tbl tbody tr").show();
                return;
            }
            var value = $(this).val();
            var s = $("#tbl tbody tr").not(".trclass:contains('" + $(this).val().toUpperCase() + "')");//.hide();
            var s1 = $("#tbl tbody tr").find(".trclass:contains('" + $(this).val().toUpperCase() + "')");//.show();
            s.hide();
            s1.parent().show();
        });

        function FieldNameData() {
            $.ajax({
                type: "POST",
                url: "/Administration/Master/ShiftMaster/Get_FieldName",
                data: "",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (D) {
                    var t = D.Data;
                    if (t.length > 0) {
                        $.each(D.Data, function (index, value) {
                            var MandatoryStyle = '*';
                            var Id = '#' + value.FieldID;
                            $(Id).text(value.FieldName);
                            $('#spn' + value.FieldID).text(value.IsMand == 1 ? '   ' + MandatoryStyle : '');
                        });
                    }
                }
            });
        }

        function ResetPupUp() {
            $('#hdnShiftID').val('');
            $('#txtDescription').val(''); $('#txtInTime').val(''); $('#txtOutTime').val('');
            $('#txtGraceInTime').val(''); $('#txtGraceOutTime').val(''); $('#txtMinHalfDay').val('');
            $('#txtMinFullDayHrs').val(''); $('#txtWef').val('');
            document.getElementById('chkNShift').checked = false; document.getElementById('chkActiveFlag').checked = true;
        }

        function SaveRecord()
        {
            var status = $('#hdnShiftID').val() == "" ? "Save" : "Update";
            var conf = confirm("Are you sure want to " + status + "?");
            if (conf) {
                var NShift = document.getElementById('chkNShift').checked == true ? 1 : 0;
                var ActiveFlag = document.getElementById('chkActiveFlag').checked == true ? 1 : 0;
                var TransactionType = 'Insert';

                var _data = frmElement.serialize();

                $.ajax({
                    type: "POST",
                    url: "/Administration/Master/ShiftMaster/InsertUpdateShiftMaster",
                    data: _data + '&NShift=' + NShift + '&ActiveFlag=' + ActiveFlag + '&TransactionType=' + TransactionType,
                    //dataType: "json",
                    //contentType: "application/json; charset=utf-8",
                    success: function (D) {
                        if (D.Status == 200) {
                            if (D.Data != null) {
                                var xmlDoc = $.parseXML(D.Data);
                                var xml = $(xmlDoc);
                                var Table = xml.find("Table");
                                if ($(Table).find("ErrorCode").text() == 1) {
                                    alert($(Table).find("Messege").text());
                                    ResetPupUp();
                                    PopulateGrid();
                                }
                                else {
                                    alert($(Table).find("Messege").text());
                                    $('.txt' + $(Table).find("FId").text()).focus();
                                }
                            }
                            else {
                                alert("No Record found !");
                            }
                        }
                        else {
                            alert(D.Message);
                        }
                    },
                    error: function (D) {
                        alert(D.Message);
                    }
                });
            }
        }

        
    });

    function PopulateGrid() {
        //alert(111111);
        var _data = JSON.stringify({
            ShiftMasterMD: {
                TransactionType: 'SelectList',
                ShiftId: ''//$.trim($('#hdnShiftID').val()),
            }
        });
        $.ajax({
            type: "POST",
            url: "/Administration/Master/ShiftMaster/SelectShift",
            data: _data,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            success: function (D) {
                if (D.Status == 200) {
                    if (D.Data != null) {
                        var xmlDoc = $.parseXML(D.Data);
                        var xml = $(xmlDoc);
                        $("#tbl tr.trclass").empty();
                        $(xml).find("Table").each(function () {
                            $("#tbl").append("<tr class='trclass'><td style='display:none;'>" +
                                $(this).find("ShiftId").text() + "</td><td>" +
                                $(this).find("ShiftDesc").text() + "</td><td style='text-align:center'>" +
                                $(this).find("InTime").text() + "</td><td style='text-align:center'>" +
                                $(this).find("OutTime").text() + "</td><td style='text-align:center'>" +
                                $(this).find("GraceIn").text() + "</td><td style='text-align:center'>" +
                                $(this).find("GraceOut").text() + "</td><td style='text-align:center'>" +
                                $(this).find("MinHalfDayHrs").text() + "</td><td style='text-align:center'>" +
                                $(this).find("MinFullDayHrs").text() + "</td><td style='text-align:center'>" +
                                '<a style="color:blue; cursor:pointer" onclick="Edit(this)" >Edit</a>' + "</td><td style='text-align:center'>" +
                                '<a style="color:red; cursor:pointer" onclick="Delete(this)">Delete</a>' + "</td></tr>");
                        });
                    }
                    else {
                        alert("No Record found !");
                    }
                }
                else {
                    alert(D.Message);
                }
            },
            error: function (D) {
                alert(D.Message);
            }
        });
    }

    function Edit(t)
    {
        var _data = JSON.stringify({
            ShiftMasterMD: {
                TransactionType: 'SelectList',
                ShiftId: $.trim($(t).closest('tr').find('td:eq(0)').text()),
            }
        });
        $.ajax({
            type: "POST",
            url: "/Administration/Master/ShiftMaster/SelectShift",
            data: _data,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            success: function (D) {
                if (D.Status == 200) {
                    if (D.Data != null) {
                        var xmlDoc = $.parseXML(D.Data);
                        var xml = $(xmlDoc);
                        var Table = xml.find("Table");

                        $('#hdnShiftID').val($.trim($(t).closest('tr').find('td:eq(0)').text()));
                        $('#txtDescription').val($(Table).find("ShiftDesc").text());
                        $('#txtInTime').val($(Table).find("InTime").text());
                        $('#txtOutTime').val($(Table).find("OutTime").text());
                        $('#txtGraceInTime').val($(Table).find("GraceIn").text());
                        $('#txtGraceOutTime').val($(Table).find("GraceOut").text());
                        $('#txtMinHalfDay').val($(Table).find("MinHalfDayHrs").text());
                        $('#txtMinFullDayHrs').val($(Table).find("MinFullDayHrs").text());
                        $('#txtWef').val($(Table).find("Wef").text());
                        document.getElementById('chkNShift').checked = $(Table).find("NShift").text() == 1;
                        document.getElementById('chkActiveFlag').checked = $(Table).find("ActiveFlag").text() == 1;

                        jQuery.noConflict();
                        $('#NewRecord').modal('show');
                    }
                    else {
                        alert("No Record found !");
                    }
                }
                else {
                    alert(D.Message);
                }
            },
            error: function (D) {
                alert(D.Message);
            }
        });
    }

    function Delete(t) {
        var conf = confirm("Are you sure want to delete?");
        if (conf) {
            var _data = JSON.stringify({
                ShiftMasterMD: {
                    TransactionType: 'Delete',
                    ShiftId: $.trim($(t).closest('tr').find('td:eq(0)').text()),
                }
            });
            $.ajax({
                type: "POST",
                url: "/Administration/Master/ShiftMaster/SelectShift",
                data: _data,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: false,
                success: function (D) {
                    if (D.Status == 200) {
                        if (D.Data != null) {
                            var xmlDoc = $.parseXML(D.Data);
                            var xml = $(xmlDoc);
                            var Table = xml.find("Table");
                            if ($(Table).find("ErrorCode").text() == 1) {
                                alert($(Table).find("Messege").text());
                                PopulateGrid();
                            }
                            else {
                                alert($(Table).find("Messege").text());
                            }
                        }
                        else {
                            alert("No Record found !");
                        }
                    }
                    else {
                        alert(D.Message);
                    }
                },
                error: function (D) {
                    alert(D.Message);
                }
            });
        }
    }

</script>