﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/AppJs/LoanTypeMaster.js"></script>

<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <label>Loan Type Master </label>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="form-group">
                        <label id="1"></label><span id="101" style="color:red"></span>
                        <select id="ddlLoanType" class="form-control"></select>
                        <input type="hidden" id="hdnLoanTypeID" />
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group">
                        <label id="2"></label><span id="102" style="color:red"></span>                       
                        <input type="text" id="txtDescription" name="Description" class="form-control" />
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="form-group">
                        <label id="3"></label><span id="103" style="color:red"></span>
                        <input type="text" id="txtAbbreviation" name="Abbreviation" class="form-control" />
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1">
                    <div class="form-group">
                        <label id="4"></label><span id="104" style="color:red"></span>
                        <input type="text" id="txtRank" name="Rank" class="form-control" />
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1">
                    <div class="form-group" style="padding-top:20%;">
                        <input type="checkbox" id="chckIsActive" name="IsActive" checked disabled/><label id="5"></label><span id="105"></span>    
                        <input type="checkbox" id="chckIsRound" name="IsRound"  checked/><label id="6"></label><span id="106"></span>                      
                    </div>
                </div>            
                <div class="col-lg-2 col-md-2">
                    <div class="form-group" style="padding-top:20%;">
                        <input type="button" id="btnSave" name="Save" class="btn btn-info" />
                        <input type="button" id="btnRefresh" name="Refresh" class="btn btn-info" value="Refresh" />
                    </div>
                </div>
                @*<div class="col-lg-1 col-md-1">
                    <div class="form-group" style="padding-top:20%;">
                    </div>
                </div>*@
            </div>
            <div class="row">
                <div class="container-fluid">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-lg-1 col-md-1 col-sm-1 hide">
                                    <label> ID</label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1">
                                    <label>Sl. No.</label>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2">
                                    <label>Loan Type </label>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2">
                                    <label> Description </label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1">
                                    <label>Abbreviation</label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1">
                                    <label>Rank</label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1">
                                    <label>Status</label>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2">
                                    <label>Value Type</label>
                                </div>

                                <div class="col-lg-1 col-md-1 col-sm-1">
                                    <label>Update</label>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1">
                                    <label>Delete</label>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body clstbl" style="max-height:400px;overflow-y:scroll;">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

