﻿@using wbEcsc.App_Codes;
@using wbEcsc.Models.Account;
@using wbEcsc.Models.Application;
@using wbEcsc.App_Codes.BLL;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    <title>WTL</title>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/overlay")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/utility")
    @Scripts.Render("~/bundles/jsSql")
    @Scripts.Render("~/bundles/GlobalAppJs")
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <link href="~/Content/style5.css" rel="stylesheet" />


</head>
<body>


    <!--Overlay start for loding ajax request-->
    <div id="overlay_Common">
        <div class="Spinner"></div>
    </div>
    <!--Overlay End-->
    <!--Web page body started-->
    <div class="wrapper">
        <!-- Sidebar Holder -->
        @if (SessionContext.IsAuthenticated)
        {
            Html.RenderPartial("~/Views/Shared/_Partial_SideBarMenu.cshtml");
            <script type="text/javascript">
                $(document).ready(function () {
                    //$(".sidebarCollapse").remove();
                    $('#sidebar').toggleClass('active');
                });
            </script>
        }
        else
        {
            <script type="text/javascript">
                $(document).ready(function () {
                    $(".sidebarCollapse").remove();
                    $('#menu ul').hide();
                    //$('#sidebar').toggleClass('active');
                });
            </script>
            
        }
        <!--end of the side bar-->
        <!-- Page Content Holder -->
        <div id="content" style="width: 100%;">

            <nav class="navbar navbar-default">
                <div class="container-fluid" style="background-color:#6f889a">

                   
                    <div class="row">
                        <div class="col-md-1 col-sm-1 col-xs-1 no-padding sidebarCollapse" style="margin-left:5px">
                            <button type="button" id="sidebarCollapse" class="navbar-btn sidebarCollapse">
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-9 no-padding" >
                            <h4 style="margin-top:7px;margin-bottom:0px;color:white;">
                                @{
                                    Logo lObj = new Logo();
                                    Logo_MD modelObj = lObj.GetAppsInfo();
                                    var a = modelObj.LogoPath;
                                    var b = modelObj.WebSiteHeader_1;
                                }
                                <img src=@a height="40" width="150" />
                                @b
                            </h4>
                        </div>
                        <div class="col-md-1 col-sm-1 col-xs-1" style="text-align:right;  collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                            <ul class="nav navbar-nav navbar-right">
                                @if (SessionContext.IsAuthenticated)
                                {
                                    <li><a class="btnLogOut" style="cursor:pointer">Logout</a>
                                       
                                    </li>
                                }
                                @*else
                                {
                                    <li><a style="cursor:pointer" href="/Home/AdministrativeLoginUI">Login</a></li>
                                }*@
                            </ul>
                        </div>

                        </div>

                    <div class="row">
                        <div class="col-md-2 navbar-right">
                            @if (SessionContext.IsAuthenticated)
                            {
                                <select id="ddlSector" class="form-control" style="height:30px">
                                   <option value="">--Sector --</option>
                                     @foreach (var sector in SessionContext.SessionData.Sectors)
                                    {
                                        <option value="@sector.SectorID">@sector.SectorName</option>
                                    }
                                </select>
                            }
                          
                        </div>
                    </div>
                    </div>
            </nav>



            <div class="container-fluid">
                @*<div class="row">*@
                    <div class="col-md-12">
                        @RenderBody()
                    </div>
                @*</div>*@
            </div>

        </div>
        <!--end of content body-->
    </div>
    <!--webpage body ended here-->
    <!-- jQuery CDN -->
    <!-- Bootstrap Js CDN -->
  

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $(this).toggleClass('active');
            });
        });
    </script>
</body>
</html>
