﻿@using wbEcsc.App_Codes;
@using wbEcsc.Models.Account;
@using wbEcsc.Models.Application;
@using wbEcsc.App_Codes.BLL;
@using wbEcsc.Models.Account.Logins;


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />


    @{
        var a = ""; var b = "";
        var SalMonth = ""; var SalFinYear = ""; var AccFinYear = ""; var SalMonthID = "";
        if (SessionContext.IsAuthenticated)
        {
            var ssData = new SessionData();
            ssData.Sectors = new EmployeeMaster().Get_Sector((SessionContext.CurrentUser as IInternalUser).UserID);
            SessionContext.SessionData.Sectors = ssData.Sectors;
            if (ssData.Sectors.Count == 1)
            {
                foreach (var sector in ssData.Sectors)
                {
                    ssData.CurrSector = sector.SectorID;
                }
            }

            //POPULATE LOGO, HEADER
            Logo lObj = new Logo();
            Logo_MD modelObj = lObj.GetAppsInfo();
            a = modelObj.LogoPath;
            b = modelObj.WebSiteHeader_1;

            //POPULATE SALMONTH, SALFINYEAR, ACCFINYEAR
            SessionData obj_salfinacc = SessionContext.SessionData;
            SalMonthID = obj_salfinacc.SalMonthID.ToString();
            SalMonth = obj_salfinacc.SalMonth;
            SalFinYear = obj_salfinacc.CurFinYear;
            AccFinYear = obj_salfinacc.CurSalFinYear;
        }
    }



    <title>@b</title>

    @Styles.Render("~/Content/overlay")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/GlobalAppJs")

   
    <script src="~/Scripts/jquery.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery-ui-1.10.3.min.js" type="text/javascript"></script>

    <script src="~/Scripts/jquery.scrollTo.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.autosize.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.placeholder.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.maskedinput.min.js"></script>


    <script src="~/Scripts/AppJs/autoAjaxLoader.js"></script>
    <script src="~/Scripts/jscolor.js"></script>
    @*<script src="~/Scripts/bootstrap-colorpicker.js"></script>*@
    <script src="~/Scripts/AppJs/AppGlobal.js"></script>

    <script src="~/Scripts/AccJs/jquery.dataTables.min.js"></script>
    <link href="~/Scripts/AccJs/jquery.dataTables.min.css" rel="stylesheet" />

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui-1.10.4.min.css" rel="stylesheet" />
    <link href="~/Content/simple-sidebar.css" rel="stylesheet" />
    <link href="~/Content/elegant-icons-style.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/style-responsive.css" rel="stylesheet" />
    <link href="~/Content/Gridstyle.css" rel="stylesheet" />
    

    @*<script src="~/Scripts/jquery-1.10.3.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery-ui-1.9.2.custom.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.scrollTo.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.autosize.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.placeholder.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.slimscroll.min.js" type="text/javascript"></script>
   

    <script src="~/Scripts/AppJs/AppGlobal.js"></script>
    <script src="~/Scripts/AppJs/autoAjaxLoader.js"></script>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui-1.10.4.min.css" rel="stylesheet" />
    <link href="~/Content/simple-sidebar.css" rel="stylesheet" />
    <link href="~/Content/elegant-icons-style.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/style-responsive.css" rel="stylesheet" />
    <link href="~/Content/Gridstyle.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-colorpicker.css" rel="stylesheet" />*@

    <script>
        $(document).ready(function () {
            $("#menu-toggle-2").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled-2"); 
                $('#menu ul').hide();
               
            });
        });

        function initMenu() {
          
            $('#menu ul').hide();
            $('#menu ul').children('.current').parent().show();
            //$('#menu ul:first').show();
            $('#menu li a').click(
               
              function () {
                 
                  var checkElement = $(this).next();
                  if ((checkElement.is('ul')) && (checkElement.is(':visible'))) {
                      $('#menu ul:visible').slideUp('normal');
                      //checkElement.slideDown('normal');
                      return false;
                  }
                  if ((checkElement.is('ul')) && (!checkElement.is(':visible'))) {
                      $('#menu ul:visible').slideUp('normal');
                      checkElement.slideDown('normal');
                      return false;
                  }
              });
        }
        $(document).ready(function () { initMenu(); });

    </script>
</head>
<body>
    <!--Overlay start for loding ajax request-->
    <div id="overlay_Common">
        <div class="Spinner"></div>
    </div>

    <!--Overlay End-->
    <section>

        <div class="row dark-bg header">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="toggle-nav">
                    @*<span id="menu-toggle-2" title="Menu" style="font-size: 30px; color: white; cursor: pointer; padding-left: 30px;">&#9776;</span>*@
                </div>
                
                <a class="logo" style="padding-top: 10px"><img alt="" src="@a" height="40" width="150" /></a>

                <div class="top-nav notification-row" style="width:208px; padding-top:5px">
                    <span style="float:left; width:50px" class="dropdown">
                        <label class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Account
                            <span class="caret"></span>
                        </label>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="#" class="btnLogOut" style="color:blueviolet; font-family:Verdana; font-weight:bold">LogOut &nbsp;<span class="glyphicon glyphicon-log-out"></span></a></li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <label for="firstName" class="control-label" style="color:black; font-style:italic; margin-left:5px">Salary Month</label>
                                <input type="text" id="txtSalMonth" placeholder="Sal Month" value="@SalMonth" disabled class="form-control">
                                <input type="hidden" id="txtSalMonthID" placeholder="Sal Month" value="@SalMonthID" disabled class="form-control">
                            </li>
                            <li>
                                <label for="firstName" class="control-label" style="color:black; font-style:italic;  margin-left:5px ">Salary FinYear</label>
                                <input type="text" id="txtSalFinYear" placeholder="Sal FinYear" value="@SalFinYear" disabled class="form-control">
                            </li>
                          
                            <li>
                                <label for="firstName" class="control-label" style="color:black; font-style:italic;  margin-left:5px">Account FinYear</label>
                                <input type="text" id="txtAccFinYear" placeholder="Acc FinYear" value="@AccFinYear" disabled class="form-control">
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="/Misnellious/_DisplaySetting"  style="color:blueviolet; font-family:Verdana; font-weight:bold">Display Settings&nbsp;<span class="glyphicon glyphicon-cog"></span></a>
                                @*<label id="cntrlChangeColor" for="firstName" class="control-label jscolor"  style="color:black; font-style:italic; cursor:pointer; margin-left:5px">Display Settings</label>*@
                                @*<input type="button" id="cntrlChangeColor" class="btn btn-primary jscolor{onFineChange:'update(this)'}" />*@  
                             </li>
                            <li>
                                <a href="/Administration/Master/PasswordChange/Index" style="color:blueviolet; font-family:Verdana; font-weight:bold">Change Password</a>
                            </li>
                        </ul>

                    </span>
                    
                    <span style="height:30px; width:120px; float:right;">
                        <select id="ddlSector" class="form-control form-control-no-border" >
                            <option value="">--Sector --</option>
                            @if (SessionContext.IsAuthenticated)
                            {
                                if (SessionContext.SessionData.Sectors.Count == 1)
                                {
                                    foreach (var sector in SessionContext.SessionData.Sectors)
                                    {
                                        //ssData.CurrSector = @sector.SectorID;
                                        <option selected value="@sector.SectorID">@sector.SectorName</option>
                                    }
                                }
                                else
                                {
                                    foreach (var sector in SessionContext.SessionData.Sectors)
                                    {
                                        <option value="@sector.SectorID">@sector.SectorName</option>
                                    }
                                }
                            }
                        </select>
                    </span>
                </div>
            </div>
        </div>
        <div id="wrapper" class="toggled-2" style="padding-top: 62px;">
            <div id="sidebar-wrapper">
                <div class="container">
                    <div class="row">
                        
                        @if (SessionContext.IsAuthenticated)
                        {
                            List<Menu> menuLevel2 = new Menu_BLL().GetMenus(SessionContext.SessionData.UserID);

                            <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
                                @foreach (var menuLevel1 in new Menu_BLL().GetMenus(SessionContext.SessionData.UserID))
                                {
                                    <li class="active">
                                        @if (menuLevel1.ParrentMenuID == null && (menuLevel1.MenuID != 5 && menuLevel1.MenuID != 6))
                                        {
                                            <a href="@menuLevel1.MenuName"><span class="fa-stack fa-lg pull-left"><i class="fa fa-plus"></i></span>@menuLevel1.MenuName</a>
                                            <ul>

                                                @foreach (var item in menuLevel2)
                                                {
                                                    foreach (var item1 in (item.Menus).Where(x => x.ParrentMenuID != null && Convert.ToInt32(x.ParrentMenuID) == menuLevel1.MenuID))
                                                    {
                                                        <li>
                                                            <a href="@item1.Url"><span class="fa-stack fa-lg pull-left"><i class="fa fa-dot-circle-o"></i></span>@item1.MenuName</a>
                                                        </li>
                                                    }
                                                }
                                            </ul>
                                        }
                                    </li>
                                }
                            </ul>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="container" >
            <div class="row">
                @RenderBody()
            </div>
        </div>

    </section>
</body>
</html>


<script type="text/javascript">
    $(document).ready(function () {
        Apply_User_Color();
    });

    function Apply_User_Color()
    {
        $.ajax({
            type: "POST",
            url: "/Misnellious/Get_UserColor",
            data: {},
            async: false,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (D) {
                var t = D.Data;

                if (t != null) {
                    if (t.length > 0) {
                        $(".dark-bg").css('background-color', '#' + t[0].Header);
                        $("body").css('background-color', '#' + t[0].Background);

                        $('#txtHeader').val('#' + t[0].Header);
                        $('#txtBackGround').val('#' + t[0].Background);
                    }
                }
            }
        });
    }

</script>

