﻿

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/AppJs/EDInputs.js"></script>

<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">
            <label>@ViewBag.EDName</label>
        </div>
        <input type="hidden" id="hdnDAID" />
        <div class="panel-body">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-3">
                        <label id="2" class="control-label" style="font-style:italic">Pay Month</label><span id="spn2" style="color:red"></span>
                        <input type="text" id="txtOrderNo" value="@ViewBag.MaxSalMonth" disabled class="form-control">
                        <input type="hidden" id="txtEDID" value="@ViewBag.EDID" disabled class="form-control">
                        <input type="hidden" id="txtMenuID" value="@ViewBag.MenuID" disabled class="form-control">
                    </div>
                    <div class="col-md-3">
                        <label id="1" class="control-label" style="font-style:italic">Location</label><span id="spn1" style="color:red"></span>
                        <select id="ddlLocation" class="form-control">
                            <option value="">--- (Select) ---</option>
                            @foreach (var center in ViewBag.lstCenter)
                            {
                                <option value="@center.CenterID">@center.CenterName</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="padding-top:25px; text-align:right">
                    <button type="button" id="btnSearch" class="btn btn-primary">Search</button>
                    <button type="button" id="btnRefresh" class="btn btn-primary">Refresh</button>
                </div>
            </div>


            <div class="modal fade" id="Div1" role="dialog" style="height:100%">
                <div class="modal-dialog" style="width:70%;">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <label style="color:black">@ViewBag.EDName</label>
                            <button type="button" style="color:red" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body" style="width:100%; height:550px">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-2" style="margin-top:7px">
                                        <label class="control-label" style="font-style:italic">Search by EmpNo</label>
                                    </div>
                                    <div class="col-md-2">
                                        <input id="txtSearchEmpNo" placeholder="EmpNo" class="form-control" />
                                        <input id="hdnEmpID" type="hidden" />
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="other_Itax">
                                <div class="container-fluid">
                                    <div class="form-group" style='max-height:400px;overflow-y:scroll;'>
                                        <table id="tbl" class="Grid" style="border-collapse:collapse;">
                                            <thead id="myHeader">
                                                <tr style="border: 1px solid #333">
                                                    <th style="border: 1px solid; text-align:center;">Emp No</th>
                                                    <th style="border: 1px solid; text-align:center;">Employee Name</th>
                                                    <th style="border: 1px solid; text-align:center;">Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="Itax">
                                <div class="container-fluid">
                                    <div class="form-group" style='max-height:400px;overflow-y:scroll;'>
                                        <table id="tbl_ITax" class="Grid" style="border-collapse:collapse;">
                                            <thead id="myHeader">
                                                <tr style="border: 1px solid #333">
                                                    <th style="border: 1px solid; text-align:center;">Emp No</th>
                                                    <th style="border: 1px solid; text-align:center;">Employee Name</th>
                                                    <th style="border: 1px solid; text-align:center;">Current Month (ITax)</th>
                                                    <th style="border: 1px solid; text-align:center;">Amount</th>
                                                    <th style="border: 1px solid; text-align:center;">Balance Itax</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
